{% load i18n %}
<td>{{ l.id }}</td>
<td>{{ number }}</td>
<td>{{ l.mailbox }}</td>
<td>
    {% if request.user.service.is_stmp %}
        <input value="{{ l.password }}" type="password" id="id_password_{{ l.id }}">
    {% else %}
        *******
    {% endif %}
</td>
<td>
    {% if l.disabled == '1' %}
        <span class="text-danger">{% trans "禁用" %}</span>
    {% else %}
        <span class="text-success">{% trans "正常" %}</span>
    {% endif %}
</td>
<td>
    {% if request.user.service.is_stmp %}
        {% if is_not_share %}
            <button type="button" class="btn btn-outline btn-primary btn-xs" onclick="changeAction('{{ l.id }}', 'alter');">{% trans "修改" %}</button>
        {% else %}
            <button type="button" class="btn btn-outline btn-primary btn-xs" onclick="changeAction('{{ l.id }}', 'sub_alter');">{% trans "修改" %}</button>
        {% endif %}
        <a title="{% trans "查看回执" %}" target="_blank" href="http://mail.bestedm.org?_user={{ l.mailbox }}" type="button" class="btn btn-outline btn-success btn-xs">{% trans "查看回执" %}</a>
    {% endif %}

    {% if is_not_share %}
        <button type="button" class="btn btn-outline btn-xs btn-danger" onclick="changeAction('{{ l.id }}',  'del');">{% trans "删除" %}</button>
    {% else %}
        <button type="button" class="btn btn-outline btn-xs btn-danger" onclick="changeAction('{{ l.id }}',  'sub_del');">{% trans "删除" %}</button>
    {% endif %}
</td>