{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "批量修改邮箱帐号" %}{% endblock %}
{% block switch-domain %} {{ block.super }} {% endblock %}
{% block breadcrumb %}
<li> {% trans "邮箱管理" %} </li>
<li><a href="{% url 'mailbox_account' %}"> {% trans "邮箱帐号管理" %} </a></li>
<li class="active">批量修改帐号</li>
{% endblock %}
{% block page-content %}
<form class="form-horizontal" >
    <h3 class="header smaller lighter blue">批量修改帐号</h3>
    <div class="table-header"> 批量修改账号 </div>
    <table class="table  table-bordered  ">
        <tbody>
        <tr >
            <td class="text-right">
                邮箱域名：
            </td>
            <td>
                <b>test.com</b>
            </td>
        </tr>
        <tr>
            <td class="text-right">格式说明：</td>
            <td>
                <p><span class="red">注意：</span>每行的格式为
                    <span class="blue">
                    用户名 密码 邮箱大小 网盘大小 真实名称 所属部门 工号 职位 手机号码 电话号码 QQ 出生日期
                    </span> 之间用“TAB”符号隔开
                    “邮箱大小”和“网盘大小”的单位为“M”</p>
                <p>eg:</p>
                <p>tina	password1	500	100	张三	财务部	12345	on	13528775736	0755-89421857	员工</p>
                <p>gary	password2	100	100	李四	技术部	12346	on	13528775236	0755-89721857	员工</p>
                <p>tom	passwor3	200	50	王五	后勤部	12347	off	13527675736	0734-89421857	员工</p>
                <div class="hr hr-18 dotted hr-double"></div>
                <p>另外:有相同的子部门时，所属部门用 - 隔开如：</p>
                <p>test1	password4	100	100	王五	大中华区-华南区-财务部	12347	on	13528775736	0755-89421857	员工</p>
                <p>test2	password5	100	100	赵六	大中华区-华北区-财务部	12348	on	13528775236	0755-89721857	员工</p>
                <div class="hr hr-18 dotted hr-double"></div>
                <p>注：如果某项留空，则不进行修改！</p>
                <ul>
                    <li>1、使用EXCEL先进行数据处理，处理成范例文件格式</li>
                    <li>2、txt数据导入和excel数据导入只能选择其中一种方式导入</li>
                    <li>3、点击表格下方的编辑进行批量修改用户。</li>
                    <li>4、eg:用户名为必填项</li>
                    <li>5、eg:邮箱大小或网盘大小为空，则默认为邮箱容量或网盘容量的设置值</li>
                    <li>6、eg:部门为空，但是填写了职位，则会修改所有的该用户所有的部门职位，建议修改职位指定部门</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="text-right">txt数据导入：</td>
            <td>
                <textarea  rows="8" class="form-control"></textarea>
            </td>
        </tr>
        <tr>
            <td class="text-right">excel数据导入：</td>
            <td>
                <input type="file">
            </td>
        </tr>
        </tbody>
    </table>
    <div class="clearfix form-actions">
        <div class="text-center">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                保存
            </button>
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                重置
            </button>
        </div>
    </div>
</form>
{% endblock %}


