<div id="dynamic-div">
    <h3 class="header smaller lighter blue">Webmail 综合设置</h3>

    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon">选择域名：</span>
                    <select name="yname" class="yname form-control">
                        <option value="test.com">test.com</option>
                        <option value="domain.com">domain.com</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <button id="search-btn" type="button" class="btn btn-info" style="border:none;">查询</button>
            </div>
        </div>
    </div>
    <div id="tabs">
        <ul>
            <li>
                <a href="#tabs_reg">用户注册协议</a>
            </li>
            <li>
                <a href="#tabs_notice">设置系统公告</a>
            </li>
            <!--<li>-->
                <!--<a href="#tabs_core">设置用户积分</a>-->
            <!--</li>-->
            <li>
                <a href="#tabs_addr">设置帮助地址</a>
            </li>

            <li>
                <a href="#tabs_code">邮件发送编码</a>
            </li>
            <!--<li>-->
                <!--<a href="#tabs_third">第三方登录验证</a>-->
            <!--</li>-->
            <li>
                <a href="#tabs_safe">用户登录安全</a>
            </li>
            <li>
                <a href="#tabs_jump">登出跳转地址</a>
            </li>
        </ul>

        <div id="tabs_reg">
            <div class="content_1">
                <div class="wysiwyg-editor" id="editor_all_1">
                    <h3>邮箱服务条款</h3>
                    <p>1、设置的登录页面只有在使用域名访问时才生效；使用IP地址访问时将会使用默认登录页面。</p>
                    <p>2、设置的登录页面只有在使用域名访问时才生效；使用IPdfds地址访问时将会使用默认登录页面。</p>
                </div>
                <div class="center" style="margin-top:6px;">
                    <button type="button" class="btn btn-success btn-sm">提交</button>
                    <button type="button" class="btn btn-danger btn-sm">重置</button>
                </div>
            </div>
            <div class="hr hr-18 dotted hr-double"></div>
            <!--<div class="well" style="margin-top:5px;background:#fff;">-->
                <!--<div class="user_content_box">-->
                    <!--<div class="wysiwyg_content_show">-->
                        <!--<p class="red"><b>备注：</b></p>-->
                        <!--<p>设置的登录页面只有在使用域名访问时才生效；使用IP地址访问时将会使用默认登录页面。</p>-->
                    <!--</div>-->
                    <!--<div class="hr hr-18 dotted"></div>-->
                    <!--<button class="btn btn-sm btn-primary admin_edit">-->
                        <!--<i class="ace-icon fa fa-pencil bigger-125"></i>-->
                        <!--编辑-->
                    <!--</button>-->

                <!--</div>-->
                <!--<div class="wysiwyg-editor-box">-->
                    <!--<div class="wysiwyg-editor" id="editor_reg">-->
                        <!--<p class="red"><b>备注：</b></p>-->
                        <!--<p>设置的登录页面只有在使用域名访问时才生效；使用IP地址访问时将会使用默认登录页面。</p>-->
                    <!--</div>-->
                    <!--<div class="widget-toolbox padding-4 clearfix admin_setted">-->
                        <!--<div class="btn-group pull-left">-->
                            <!--<button class="btn btn-sm btn-info">-->
                                <!--<i class="ace-icon fa fa-times bigger-125"></i>-->
                                <!--取消-->
                            <!--</button>-->
                        <!--</div>-->

                        <!--<div class="btn-group pull-right">-->
                            <!--<button class="btn btn-sm btn-purple">-->
                                <!--<i class="ace-icon fa fa-floppy-o bigger-125"></i>-->
                                <!--保存-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        </div>

        <div id="tabs_notice">
            <div class="content_1">
                <table class="table table-bordered">
                    <tr>
                        <td style="width:20%;min-width:150px;">系统公告标题：</td>
                        <td>
                            <input type="text" style="width:40%;" value="测试测试">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;min-width:150px;">系统公告标题颜色：</td>
                        <td style="width:40%;" class="row">
                            <div class="col-xs-2" style="width:30px;">
                                <select name="mycolor" id="mycolor" class="form-control">
                                    <option value="red">red</option>
                                    <option value="blue" selected>blue</option>
                                    <option value="black">black</option>
                                    <option value="green">green</option>
                                    <option value="purple">purple</option>
                                </select>
                            </div>
                            <div class="col-xs-10">
                                点击选择颜色
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;min-width:150px;">系统公告高度：</td>
                        <td>
                            <div class="input-group" style="width:40%;">
                                <input type="number" class="form-control" value="260">
                                <span class="input-group-addon">px</span>
                            </div>
                        </td>
                    </tr>

                </table>
                <div class="wysiwyg-editor" id="editor_all_2">
                    <h3>City Gallery</h3>
                    <p>1、设置的登录页面只有在使用域名访问时才生效；使用IP地址访问时将会使用默认登录页面。</p>
                    <p>2、设置的登录页面只有在使用域名访问时才生效；使用IPdfds地址访问时将会使用默认登录页面。</p>
                    <p>3、设置的登录页面只有在使用域名访问时才生效；使用IPdfds地址访问时将会使用默认登录页面。</p>
                </div>
                <div class="center" style="margin-top:6px;">
                    <button type="button" class="btn btn-success btn-sm">提交</button>
                    <button type="button" class="btn btn-danger btn-sm">重置</button>
                </div>
            </div>
        </div>
        <!--<div id="tabs_core"></div>-->
        <div id="tabs_addr">
            <div class="table-header">
                帮助文件地址设置
            </div>
            <form class="form-horizontal" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-sm-2" style="line-height:34px;">帮助文件地址：</div>
                    <div class="col-sm-4">
                        <input type="text" value="http://www.baidu.com" class="form-control">
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-6 center">
                    <button type="button" class="btn btn-success btn-sm">提交</button>
                    <button type="button" class="btn btn-danger btn-sm">重置</button>

                </div>
            </div>
        </div>
        <div id="tabs_code">
            <div class="table-header">
                请选择邮件发送编码
            </div>
            <form class="form-horizontal" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-sm-2" style="line-height:34px;">邮件发送编码：</div>
                    <div class="col-sm-4">
                        <select class="form-control">
                            <option value="1">UTF-8</option>
                            <option value="2">GB</option>
                            <option value="3">DDF</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="row" style="margin-bottom:12px;">
                <div class="col-sm-6 center">
                    <button type="button" class="btn btn-success btn-sm">提交</button>
                    <button type="button" class="btn btn-danger btn-sm">重置</button>

                </div>
            </div>
        </div>
        <!--<div id="tabs_third"></div>-->
        <div id="tabs_safe">
            <div class="table-header">
                用户安全登录设置
            </div>
            <form class="form-horizontal" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-sm-2" style="line-height:34px;">安全登录次数：</div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="number" value="0" class="form-control">
                            <span class="input-group-addon">次</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2" style="line-height:34px;">账号禁用时间：</div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="number" value="30" class="form-control">
                            <span class="input-group-addon">分钟</span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row" style="margin-bottom:12px;">
                <div class="col-sm-6 center">
                    <button type="button" class="btn btn-success btn-sm">提交</button>
                    <button type="button" class="btn btn-danger btn-sm">重置</button>

                </div>
            </div>
            <!--<div class="well" style="background:#fff;">-->
                <!--<p class="red">备注：</p>-->
                <!--<p>1、设置的登录页面只有在使用域名访问时才生效；使用IP地址访问时将会使用默认登录页面。</p>-->
                <!--<p>2、设置的登录页面只有在使用域名访问时才生效；使用IPdfds地址访问时将会使用默认登录页面。</p>-->
            <!--</div>-->
        </div>
        <div id="tabs_jump">
            <div class="table-header">
                登出跳转地址
            </div>
            <form class="form-horizontal" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-sm-2" style="line-height:34px;">跳转地址：</div>
                    <div class="col-sm-4">
                        <input type="text" value="http://www.baidu.com" class="form-control">
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-6 center">
                    <button type="button" class="btn btn-success btn-sm">提交</button>
                    <button type="button" class="btn btn-danger btn-sm">重置</button>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $( "#tabs" ).tabs();
    initEditor('#editor_all_1');
    initEditor('#editor_all_2');

    $('#mycolor').ace_colorpicker().on('change', function() {
//        alert(this.value);
//        alert(this.selectedIndex);
    });



</script>