<div id="dynamic-div">
    <h3 class="header smaller lighter blue">Webmail 风格定制</h3>

    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon">选择域名：</span>
                    <select name="yname" class="yname form-control">
                        <option value="test.com">test.com</option>
                        <option value="domain.com">domain.com</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <button id="search-btn" type="button" class="btn btn-info" style="border:none;">查询</button>
            </div>
        </div>
    </div>
    <div id="tabs">
        <ul>
            <li>
                <a href="#tabs_title">页面标题设置</a>
            </li>
            <li>
                <a href="#tabs_logo">页面LOGO设置</a>
            </li>
            <li>
                <a href="#tabs_login">登录页面设置</a>
            </li>

            <li>
                <a href="#tabs_ad">页面广告设置</a>
            </li>
            <li>
                <a href="#tabs_jump">首页链接设置</a>
            </li>
        </ul>
        <div id="tabs_title">
            <div class="table-header">
                页面标题设置
            </div>
            <form class="form-horizontal" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-sm-2 text-right" style="line-height:34px;">页面标题：</div>
                    <div class="col-sm-4">
                        <input type="text" value="test22222" class="form-control">
                    </div>
                </div>
            </form>
            <div class="row" style="margin-bottom:12px;">
                <div class="col-sm-6 center">
                    <button type="button" class="btn btn-success btn-sm">提交</button>
                    <button type="button" class="btn btn-danger btn-sm">重置</button>
                </div>
            </div>
        </div>

        <div id="tabs_logo">
            <div class="content_1">
                <div class="table-header">
                    Webmail Logo 设置
                </div>
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <span class="blue">当前Logo：</span>
                        </td>
                        <td>
                            <span>当前没有设置Logo！</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="blue">更新Logo：</span>
                        </td>
                        <td class="row no-padding-left">
                            <div class="col-sm-6">
                                <input type="file">
                                <p class="help-block">
                                    注：图片推荐大小为 180 x 45 像素。
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-default" type="button">上传</button> <span>允许后缀:jpg, png, gif</span>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="hr hr-18 dotted hr-double"></div>
                <div class="table-header">
                    登录页面 Logo 设置
                </div>
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <span class="blue">当前Logo：</span>
                        </td>
                        <td>
                            <span>当前没有设置Logo！</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="blue">更新Logo：</span>
                        </td>
                        <td class="row no-padding-left">
                            <div class="col-sm-6">
                                <input type="file">
                                <p class="help-block">
                                    注：图片推荐大小为 350 x 50 像素。
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-default" type="button">上传</button> <span>允许后缀:jpg, png, gif</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="hr hr-18 dotted hr-double"></div>
                <div class="row">
                    <div class="col-sm-12 center">
                        <button type="button" class="btn btn-success ">提交</button>
                        <button type="button" class="btn btn-warning ">重置</button>
                    </div>
                </div>
                <!--<div class="well" style="background:#fff;margin-top:10px;">-->
                    <!--备注：定制的登录页面 Logo 只有在使用域名访问时才生效；使用 IP 地址访问时只显示默认内容-->
                <!--</div>-->

            </div>
        </div>
        <div id="tabs_login">
            <div class="row" style="margin-bottom:12px;">
                <div class="col-sm-3" class="active">
                    <div class="active">
                        <img src="../assets/img/login_temp1.png" class="img-responsive" alt="1" >
                        <div>
                            默认登录页面
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm-3">
                    <div>
                        <img src="../assets/img/login_temp2.png" class="img-responsive" alt="1">
                        <div>
                            手动域名登录页面
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div>
                        <img src="../assets/img/login_temp3.png" class="img-responsive" alt="1">
                        <div>
                            广告风格登录页面
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div>
                        <img src="../assets/img/login_temp4.png" class="img-responsive" alt="1">
                        <div>
                            大气管理员风格页面
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div style="position: relative;">
                        <img src="../assets/img/login_temp5.png" class="img-responsive" alt="1" >
                        <div style="">
                            轮播图风格登录页面
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div>
                        <img src="../assets/img/login_temp6.png" class="img-responsive" alt="1">
                        <div>
                            登录框居中登录页面
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div>
                        <img src="../assets/img/login_temp7.png" class="img-responsive" alt="1">
                        <div>
                            背景图风格登录页面
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">

            </div>
        </div>
        <div id="tabs_ad">
            <div class="table-header">
                登录页面广告设置
            </div>
            <table class="table table-bordered">
                <tr>
                    <td>
                        <span class="blue">广告位1：</span>
                    </td>
                    <td class="row no-padding-left">
                        <div class="col-sm-6">
                            <p>当前广告（没有设置）</p>
                            <input type="file">
                            <p class="help-block">
                                注：图片推荐大小为 380 x 60 像素。
                            </p>
                            <p class="red">链接地址</p>
                            <input type="text" style="width:200px;">
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-default" type="button">上传</button> <span>允许后缀:jpg, png, gif</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="blue">广告位2：</span>
                    </td>
                    <td class="row no-padding-left">
                        <div class="col-sm-6">
                            <p>当前广告（没有设置）</p>
                            <input type="file">
                            <p class="help-block">
                                注：图片推荐大小为 380 x 330 像素。
                            </p>
                            <p class="red">链接地址</p>
                            <input type="text" style="width:200px;">
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-default" type="button">上传</button> <span>允许后缀:jpg, png, gif</span>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="hr hr-18 dotted hr-double"></div>
            <div class="table-header">
                Webmail 首页广告设置
            </div>
            <table class="table table-bordered">
                <tr>
                    <td>
                        <span class="blue">广告位1：</span>
                    </td>
                    <td class="row no-padding-left">
                        <div class="col-sm-6">
                            <p>当前广告（没有设置）</p>
                            <input type="file">
                            <p class="help-block">
                                注：图片推荐大小为 230 x 490 像素。
                            </p>
                            <p class="red">链接地址</p>
                            <input type="text" style="width:200px;">
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-default" type="button">上传</button> <span>允许后缀:jpg, png, gif</span>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="hr hr-18 dotted hr-double"></div>
            <div class="center">
                <button class="btn btn-success" type="button">设置</button>
            </div>
            <div class="hr hr-18 dotted hr-double"></div>
            <!--<div class="well" style="margin-top:8px;background:#fff;">-->
                <!--<span class="red">注：</span>要使用“登录页面广告”需要先启用 “综合功能开关->用户注册登录设置->登录页面广告” 功能。-->
            <!--</div>-->
        </div>
        <div id="tabs_jump">
            <div class="table-header">
                首页链接设置
            </div>
            <form class="form-horizontal" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-sm-2" style="line-height:34px;">链接地址：</div>
                    <div class="col-sm-4">
                        <input type="text" value="http://www.baidu.com" class="form-control">
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-6 center">
                    <button type="button" class="btn btn-success btn-sm">提交</button>
                    <button type="button" class="btn btn-danger btn-sm">重置</button>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $( "#tabs" ).tabs();
    initEditor('#editor_all_1');
    initEditor('#editor_all_2');
    initEditor('#editor_reg');
    $('.admin_edit').click(function(){
        $('.user_content_box').hide();
        $('.wysiwyg-editor-box').show();
    })
    $('.admin_setted button').click(function(){
        $('.wysiwyg-editor-box').hide();
        $('.user_content_box').show();
    })
    $('#mycolor').ace_colorpicker().on('change', function() {
//        alert(this.value);
//        alert(this.selectedIndex);
    });

    $('#tabs_login .row .col-sm-3>div').click(function(){
        $(this).parent().addClass('active').siblings().removeClass('active');
    })


</script>