<div id="dynamic-div">
    <h3 class="header smaller lighter blue">Webmail 风格定制</h3>

    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon">选择域名：</span>
                    <select name="yname" class="yname form-control">
                        <option value="test.com">test.com</option>
                        <option value="domain.com">domain.com</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <button id="search-btn" type="button" class="btn btn-info" style="border:none;">查询</button>
            </div>
        </div>
    </div>
    <div id="tabs">
        <ul>
            <li>
                <a href="#tabs_title">页面标题设置</a>
            </li>
            <li>
                <a href="#tabs_notice">页面LOGO设置</a>
            </li>
            <li>
                <a href="#tabs_addr">登录页面设置</a>
            </li>

            <li>
                <a href="#tabs_code">页面广告设置</a>
            </li>
            <li>
                <a href="#tabs_jump">首页链接设置</a>
            </li>
        </ul>
        <div id="tabs_title">
            <div class="table-header">
                页面标题设置
            </div>
            <form class="form-horizontal" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-sm-2 text-right" style="line-height:34px;">页面标题：</div>
                    <div class="col-sm-4">
                        <input type="text" value="test22222" class="form-control">
                    </div>
                </div>
            </form>
            <div class="row" style="margin-bottom:12px;">
                <div class="col-sm-6 center">
                    <button type="button" class="btn btn-success btn-sm">提交</button>
                    <button type="button" class="btn btn-danger btn-sm">重置</button>
                </div>
            </div>
            <div class="well" style="background:#fff;">
                <p class="red">备注：</p>
                <p>1、设置的登录页面只有在使用域名访问时才生效；使用IP地址访问时将会使用默认登录页面。</p>
                <p>2、设置的登录页面只有在使用域名访问时才生效；使用IPdfds地址访问时将会使用默认登录页面。</p>
            </div>
        </div>

        <div id="tabs_notice">
            <div class="content_1">
                <table class="table table-bordered">
                    <tr>
                        <td style="width:20%;min-width:150px;">系统公告标题：</td>
                        <td>
                            <input type="text" style="width:40%;" value="测试测试">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;min-width:150px;">系统公告标题颜色：</td>
                        <td style="width:40%;" class="row">
                            <div class="col-xs-2" style="width:30px;">
                                <select name="mycolor" id="mycolor" class="form-control">
                                    <option value="red">red</option>
                                    <option value="blue" selected>blue</option>
                                    <option value="black">black</option>
                                    <option value="green">green</option>
                                    <option value="purple">purple</option>
                                </select>
                            </div>
                            <div class="col-xs-10">
                                点击选择颜色
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;min-width:150px;">系统公告高度：</td>
                        <td>
                            <div class="input-group" style="width:40%;">
                                <input type="number" class="form-control" value="260">
                                <span class="input-group-addon">px</span>
                            </div>
                        </td>
                    </tr>

                </table>
                <div class="wysiwyg-editor" id="editor_all_2">
                    <h3>City Gallery</h3>
                    <p>1、设置的登录页面只有在使用域名访问时才生效；使用IP地址访问时将会使用默认登录页面。</p>
                    <p>2、设置的登录页面只有在使用域名访问时才生效；使用IPdfds地址访问时将会使用默认登录页面。</p>
                    <p>3、设置的登录页面只有在使用域名访问时才生效；使用IPdfds地址访问时将会使用默认登录页面。</p>
                </div>
                <div class="center" style="margin-top:6px;">
                    <button type="button" class="btn btn-success btn-sm">提交</button>
                    <button type="button" class="btn btn-danger btn-sm">重置</button>
                </div>
            </div>
        </div>
        <div id="tabs_addr">
            <div class="table-header">
                帮助文件地址设置
            </div>
            <form class="form-horizontal" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-sm-2" style="line-height:34px;">帮助文件地址：</div>
                    <div class="col-sm-4">
                        <input type="text" value="http://www.baidu.com" class="form-control">
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-6 center">
                    <button type="button" class="btn btn-success btn-sm">提交</button>
                    <button type="button" class="btn btn-danger btn-sm">重置</button>

                </div>
            </div>
        </div>
        <div id="tabs_code">
            <div class="table-header">
                请选择邮件发送编码
            </div>
            <form class="form-horizontal" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-sm-2" style="line-height:34px;">邮件发送编码：</div>
                    <div class="col-sm-4">
                        <select class="form-control">
                            <option value="1">UTF-8</option>
                            <option value="2">GB</option>
                            <option value="3">DDF</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="row" style="margin-bottom:12px;">
                <div class="col-sm-6 center">
                    <button type="button" class="btn btn-success btn-sm">提交</button>
                    <button type="button" class="btn btn-danger btn-sm">重置</button>

                </div>
            </div>
            <div class="well" style="background:#fff;">
                <p class="red">备注：</p>
                <p>1、设置的登录页面只有在使用域名访问时才生效；使用IP地址访问时将会使用默认登录页面。</p>
                <p>2、设置的登录页面只有在使用域名访问时才生效；使用IPdfds地址访问时将会使用默认登录页面。</p>
            </div>
        </div>
        <div id="tabs_jump">
            <div class="table-header">
                登出跳转地址
            </div>
            <form class="form-horizontal" style="margin-top:12px;">
                <div class="form-group">
                    <div class="col-sm-2" style="line-height:34px;">跳转地址：</div>
                    <div class="col-sm-4">
                        <input type="text" value="http://www.baidu.com" class="form-control">
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-6 center">
                    <button type="button" class="btn btn-success btn-sm">提交</button>
                    <button type="button" class="btn btn-danger btn-sm">重置</button>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $( "#tabs" ).tabs();
    initEditor('#editor_all_1');
    initEditor('#editor_all_2');
    initEditor('#editor_reg');
    $('.admin_edit').click(function(){
        $('.user_content_box').hide();
        $('.wysiwyg-editor-box').show();
    })
    $('.admin_setted button').click(function(){
        $('.wysiwyg-editor-box').hide();
        $('.user_content_box').show();
    })
    $('#mycolor').ace_colorpicker().on('change', function() {
//        alert(this.value);
//        alert(this.selectedIndex);
    });



</script>