{% load i18n %}
{% load task_tags %}

{% get_maillist_canmodify task_obj as id_send_maillist_one_yc_flag %}

<tr><td colspan="2" class="no-border"><legend class="no-padding no-margin" style="border-bottom-color: #4C8FBD;"></legend></td></tr>

<!--选择联系人-->
<tr>
    <td class="no-border text-right myself-width-small">
        <label class="control-label">{% trans "选择联系人" %}</label>
    </td>
    <td class="no-border">
        <fieldset>
            <div class="col-md-12 form-inline">
                <div class="col-md-5 no-padding">
                    {% if task_obj.send_status == 1 or task_obj.send_status == -1 or task_obj.verify_status == 0 %}
                        <select name="send_maillist" id="id_send_maillist" style="width: 100%;" autocomplete="off" tabindex="-1" aria-hidden="true"
                                class="select2"  onchange="getMaillistCount()" multiple="" required="">
                            {% for obj in maillist_objs %}
                                <option value="{{ obj.id }}" {% if obj.id in c_send_maillist_ids %} selected="selected" {% endif %}>{{ obj.subject }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <select name="send_maillist" id="id_send_maillist" style="width: 100%;" autocomplete="off" tabindex="-1" aria-hidden="true"
                                class="select2"  onchange="getMaillistCount()" multiple="" disabled>
                            {% for obj in maillist_objs %}
                                <option value="{{ obj.id }}" {% if obj.id in c_send_maillist_ids %} selected="selected" {% endif %}>{{ obj.subject }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="col-md-5 control-label no-padding-left" style="text-align: left;">
                    <span style="margin-left: 7px;">
                    (<small id="id_send_maillist_count" class="text-success">
                        {% if task_obj.send_status == 1 or task_obj.send_status == -1 or task_obj.verify_status == 0 %}{% else %}
                            {% trans "共" %}<span class="myself-txt-color-blue margin-right-5 margin-left-5">{{ task_obj.get_real_send_qty }}</span>{% trans "个地址" %}
                        {% endif %}
                    </small>)</span>
                </div>
            </div>
        </fieldset>
    </td>
</tr>

<!--发送数量-->
<tr id="id_send_maillist_one" class="{% if id_send_maillist_one_yc_flag %} display-none{% endif %}">
    <td class="no-border text-right myself-width-small">
        <label class="control-label">{% trans "发送数量" %}</label>
    </td>
    <td class="no-border">
        <fieldset>
            <div class="col-md-12">
                <label class="radio radio-inline padding-top-0 margin-top-0 form-inline" style="margin-top: 7px!important;">
                    <input type="radio" class="radiobox" id="id_send_qty_all" name="send_qty_type" value="all" onchange="onchangeQty(this.value);"  autocomplete="off"
                            {% if task_obj.send_qty == 0 %} checked="checked" {% endif %} {% if task_obj.send_status == 1 or task_obj.send_status == -1 or task_obj.verify_status == 0 %}  {% else %}disabled="disabled" {% endif %}>
                    <span>{% trans "全部地址" %}</span>
                    <br>
                    <small id="id_all_error" class="myself-txt-color-err display-none"></small>
                </label>
                <label class="radio radio-inline padding-top-0 margin-top-0 form-inline" style="margin-top: 3px!important;">
                    <input type="radio" class="radiobox" id="id_send_qty_limit" name="send_qty_type" value="limit" onchange="onchangeQty(this.value);"  autocomplete="off"
                            {% if task_obj.send_qty %} checked="checked" {% endif %} {% if task_obj.send_status == 1 or task_obj.send_status == -1 or task_obj.verify_status == 0 %}  {% else %}disabled="disabled" {% endif %}>
                    <span>{% trans "部分地址" %}</span>

                    <span  id="id_send_qty_hidden" class="display-none">
                        {% trans "从" %}
                        <input class="form-control" id="id_send_qty_start" name="send_qty_start" type="text" value="{{ task_obj.send_qty_start }}" style="width: 90px;"
                               onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                {% if task_obj.send_status == 1 or task_obj.send_status == -1 or task_obj.verify_status == 0 %}  {% else %} readonly="readonly" {% endif %}>
                        {% trans "至" %}
                        <input class="form-control" id="id_send_qty" name="send_qty" type="text" value="{{ task_obj.send_qty }}" style="width: 90px;"
                               onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" {% if task_obj.send_status == 1 or task_obj.send_status == -1 or task_obj.verify_status == 0 %}  {% else %} readonly="readonly" {% endif %}>
                        {% trans "封" %}</span>
                    <br>
                    <small id="id_limit_error" class="myself-txt-color-err display-none"></small>
                </label>
            </div>
        </fieldset>
    </td>
</tr>

<tr id="id_trigger">

</tr>