{% load i18n %}
<td>{{ d.id }}</td>
<td>{{ number }}</td>
<td>{{ d.name }}</td>
<td>
    {% if d.trigger.type == 'open' %}
    <a data-toggle="modal" href="{% url 'task_view' d.send_task.id %}" data-target="#myModal" data-whatever="" title="{% trans "查看任务" %}">{{ d.send_task.send_name|default_if_none:"" }}</a>
    {% endif %}
</td>
<td><a href="{% url 'trigger_modify' d.trigger.id %}">{{ d.trigger }}({{ d.trigger.get_type_display }})</a></td>
<td><a href="{% url 'trigger_task_one' d.id %}">{{ d.triggertaskone_set.count }}</a></td>
<td>{{ d.create_time|date:"Y-m-d H:i:s" }}</td>
<td><a href="{% url 'track_task_stat' %}?ident={{ d.name|default_if_none:'-' }}&mode=2">查看跟踪统计</a></td>