<td>{{ number }}</td>
<td>{{ d.ip|default_if_none:'' }}</td>
<td>{{ d.name|default_if_none:'' }}</td>
<td>
    <span class="label label-xlg {% if d.disabled == 1 %} label-light {% else %} label-yellow {% endif %} arrowed-in arrowed-in-right">
        {{ d.get_disabled_display }}
    </span>
</td>
<td>
    <a type="button" class="btn btn-minier btn-primary" href="{% url 'fail2ban_whitemdf' d.id %}">修改</a>
    <a type="button" class="btn btn-minier btn-danger" href="Javascript: setStatus({{ d.id }}, 'delete')">删除</a>
</td>
