<div id="tabs_public">
    <div id="dynamic-div3">
        <div class="clearfix" style="margin-bottom:8px;">
            <div class="pull-left" style="margin-bottom:4px;">
                <select class="form-control">
                    <option value="0">选择分类</option>
                    <option value="1">种类1</option>
                    <option value="2">种类2</option>
                </select>
            </div>
            <div class="pull-right" style="margin-bottom:4px;">
                <button data-toggle="modal" data-target="#add_public" type="button" class="btn btn-success btn-sm" >添加客户</button>
                <button data-toggle="modal" data-target="#import_public" type="button" class="btn btn-warning btn-sm" >批量导入</button>
                <button data-toggle="modal" data-target="#delete_public" type="button" class="btn btn-danger btn-sm" >批量删除</button>
                <!--<button type="button" class="btn btn-primary" style="border:none;">批量导出</button>-->
                <button data-toggle="modal" data-target="#add_customer" type="button" class="btn btn-info btn-sm" >客户分类</button>
                <button data-toggle="modal" data-target="#add_customer_type" type="button" class="btn btn-purple btn-sm" >添加客户分类</button>
            </div>
        </div>
        <div class="table-header">
            公共通讯录
        </div>
        <div>
            <table id="dynamic-table3" class="table table-striped table-bordered table-hover table-center" role="grid" >
                <thead>
                <tr role="row">
                    <th class="center sorting_disabled" rowspan="1" colspan="1" aria-label="">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace">
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>邮件地址</th>
                    <th>分类</th>
                    <th>移动电话</th>
                    <th>工作/住宅电话</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="data-body3">

                </tbody>
            </table>
        </div>

        <div class="table-footer center" style="margin-top:4px;">
            <div class="btn-group">
                <button class="btn btn-danger delete">删除选中客户</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit_public" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑客户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">姓名：</label>
                        <div class="col-sm-6">
                            <input type="text" value="上山打老虎" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">选择域名：</label>
                        <div class="col-sm-6">
                            <select  name="domain_id" class="form-control">
                                <option value="1" selected="">test.com</option>
                                <option value="21">bbb.com</option>
                                <option value="31">bcec.com.cn</option>
                                <option value="26">chinazndd.com</option>
                                <option value="36">cufs.cc</option>
                                <option value="37">cufs.com.cn</option>
                                <option value="32">dexingroup.com</option>
                                <option value="8">domain.com</option>
                                <option value="13">hao123.com</option>
                                <option value="12">heqq.com</option>
                                <option value="14">hhhh</option>
                                <option value="11">hokai.com</option>
                                <option value="33">kylin.com.cn</option>
                                <option value="10">linbihuan-test.com</option>
                                <option value="5">linbihuan1.com</option>
                                <option value="6">linbihuan2.com</option>
                                <option value="28">llzzb.gov</option>
                                <option value="27">lvchichuxing.com</option>
                                <option value="7">magvision.com</option>
                                <option value="34">modousport.com</option>
                                <option value="30">ncc-edu.com</option>
                                <option value="35">shengquanwuye.com</option>
                                <option value="20">shfjny123.cc</option>
                                <option value="23">shfjny123456.cc</option>
                                <option value="22">shfjny123456.cn</option>
                                <option value="24">testtest.com</option>
                                <option value="29">wiprocc.com.cn</option>
                                <option value="9">wsdk.com</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">邮箱：</label>
                        <div class="col-sm-6">
                            <input type="text" value="7777777@qq.com" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">所属分类：</label>
                        <div class="col-sm-6">
                            <select class="form-control">
                                <option value="">请选择分类</option>
                                <option value="2">test02</option>
                                <option value="1">　test012</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">手机/电话：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">生日：</label>
                        <div class="col-sm-6">
                            <input type="datetime" class="mydatetime form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">性别：</label>
                        <div class="col-sm-8">
                            <label class="inline" >
                                <input name="gender" checked  type="checkbox" class="ace ace-switch ace-switch-5 open">
                                <span class="lbl gender"></span>
                            </label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">工作电话：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">住宅电话：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">QQ：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">MSN：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">备注：</label>
                        <div class="col-sm-6">
                            <textarea  rows="5" class="form-control">777777@qq.com</textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-sm btn-info">保存</button>
                <button type="button" class="btn btn-sm btn-danger">返回</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add_public" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加客户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">姓名：</label>
                        <div class="col-sm-6">
                            <input type="text" value="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">选择域名：</label>
                        <div class="col-sm-6">
                            <select  name="domain_id" class="form-control">
                                <option value="1" selected="">test.com</option>
                                <option value="21">bbb.com</option>
                                <option value="31">bcec.com.cn</option>
                                <option value="26">chinazndd.com</option>
                                <option value="36">cufs.cc</option>
                                <option value="37">cufs.com.cn</option>
                                <option value="32">dexingroup.com</option>
                                <option value="8">domain.com</option>
                                <option value="13">hao123.com</option>
                                <option value="12">heqq.com</option>
                                <option value="14">hhhh</option>
                                <option value="11">hokai.com</option>
                                <option value="33">kylin.com.cn</option>
                                <option value="10">linbihuan-test.com</option>
                                <option value="5">linbihuan1.com</option>
                                <option value="6">linbihuan2.com</option>
                                <option value="28">llzzb.gov</option>
                                <option value="27">lvchichuxing.com</option>
                                <option value="7">magvision.com</option>
                                <option value="34">modousport.com</option>
                                <option value="30">ncc-edu.com</option>
                                <option value="35">shengquanwuye.com</option>
                                <option value="20">shfjny123.cc</option>
                                <option value="23">shfjny123456.cc</option>
                                <option value="22">shfjny123456.cn</option>
                                <option value="24">testtest.com</option>
                                <option value="29">wiprocc.com.cn</option>
                                <option value="9">wsdk.com</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">邮箱：</label>
                        <div class="col-sm-6">
                            <input type="text" value="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">所属分类：</label>
                        <div class="col-sm-6">
                            <select class="form-control">
                                <option value="">请选择分类</option>
                                <option value="2">test02</option>
                                <option value="1">　test012</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">手机/电话：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">生日：</label>
                        <div class="col-sm-6">
                            <input type="datetime" class="mydatetime form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">性别：</label>
                        <div class="col-sm-8">
                            <label class="inline" >
                                <input name="gender1" type="checkbox" class="ace ace-switch ace-switch-5 open">
                                <span class="lbl gender"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">工作电话：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">住宅电话：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">QQ：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">MSN：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">备注：</label>
                        <div class="col-sm-6">
                            <textarea  rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-sm btn-info">保存</button>
                <button type="button" class="btn btn-sm btn-danger">返回</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="import_public" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">批量导入客户</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-block alert-warning">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>

                    <p><strong class="red">
                        注：
                    </strong>一行为一个客户，每一行的格式为"客户名称;邮件地址;联系电话;客户分组;备注;生日;性别;工作电话;家庭电话;QQ;MSN"，各字段间用";"或者"TAB"制表符分隔
                        性别说明："M"表示男,"F"表示女</p>
                    <p class="red">eg：</p>
                    <p>lihong;lh@domain.com;444444;catrogname;des;1980-04-24;F;tel;home tel;QQ;MSN</p>
                </div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            <textarea  rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-sm btn-info">保存</button>
                <button type="button" class="btn btn-sm btn-danger">返回</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete_public" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">批量删除客户</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-block alert-warning">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>

                    <p><strong class="red">
                        注：
                    </strong>请输入客户名称，一个名称占一行。</p>
                    <p class="red">eg：</p>
                    <p>张三</p>
                    <p>李四</p>
                </div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            <textarea  rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-sm btn-info">保存</button>
                <button type="button" class="btn btn-sm btn-danger">返回</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add_customer">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">客户分类管理</h4>
            </div>
            <div class="modal-body">
                <table id="dynamic-table2" class="table table-bordered table-striped table-hover table-center">
                    <thead>
                    <tr>
                        <th class="center">序号</th>
                        <th>分类名称</th>
                        <th>操作</th>
                        <th>排序</th>
                    </tr>
                    </thead>
                    <tbody id="data-body2">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer center">
                <button type="button"  class="btn btn-danger">修改顺序</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add_customer_type" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加客户分类</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">分类名称：</label>
                        <div class="col-sm-6">
                            <input type="text" value="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">上级分类：</label>
                        <div class="col-sm-6">
                            <select name="parent_id" class="form-control">
                                <option value="-1">无上级分类</option>
                                <option value="2">test02</option>
                                <option value="1">　test012</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">排序顺序：</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-sm btn-info">提交</button>
                <!--<button type="button" class="btn btn-sm btn-danger">返回</button>-->
            </div>
        </div>
    </div>
</div>
<script>
    $('#module_made_tabs').tabs();
    var myTable3,myTable2;
    //公共通讯录
    function initDate3(p){
        for(var i= 0,html='';i<p;i++){
            html+='<tr role="row"><td class="center"><label class="pos-rel"><input type="checkbox" class="ace"><span class="lbl"></span>' +
                    '</label></td><td>'+(i+1)+'</td> ' +
                    '<td><span class="label  label-info arrowed arrowed-righ">姓名'+(i+1)+'</span></td><td>1@test.com</td><td>test01</td>' +
                    '<td><span class="label label-sm label-warning arrowed-in">13712341234</span></td> <td>工作：3567876 <br>' +
                    '住宅：13712341234</td>' +
                    '<td>' +
                    '<div class="">' +
                    ' <a class="green btn btn-white btn-primary btn-xs" href="#" data-toggle="modal" data-target="#edit_public">' +
                    '修改</a></div></td></tr>';
        }
        $('#data-body3').html(html);

        myTable3 =
                $('#dynamic-table3')
                //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                        .DataTable( {
                            bAutoWidth: false,
                            "aoColumns": [
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false }
                            ],
                            "aaSorting": [],
                            select: {
                                style: 'multi'
                            },
                            "iDisplayLength": 20,
                            "lengthMenu":  [10,15,20, 50, 100,200],
                            "oLanguage": {
//                                "sLengthMenu": ,
                                "sLengthMenu": "显示 _MENU_ 条记录 / 页",
                                "sZeroRecords": "对不起! 信息筛选结果为空!",
                                "sInfo": "从 _START_ 到 _END_ 总计: _TOTAL_ 条记录",
                                "sInfoEmpty": "总计: 0 条记录",
                                "sInfoFiltered": "(从 _MAX_ 条记录筛选出)",
                                "sSearch": "搜索: ",
                                "oPaginate": {
                                    "sFirst":    "第一页",
                                    "sPrevious": "上一页",
                                    "sNext":     "下一页",
                                    "sLast":     "最后一页"
                                }
                            }
                        } );

        myTable3.on( 'select', function ( e, dt, type, index ) {
            if ( type === 'row' ) {
                $( myTable3.row( index ).node() ).find('input:checkbox').prop('checked', true);
            }
        } );
        myTable3.on( 'deselect', function ( e, dt, type, index ) {
            if ( type === 'row' ) {
                $( myTable3.row( index ).node() ).find('input:checkbox').prop('checked', false);
            }
        } );




        /////////////////////////////////
        //table checkboxes
        $('#dynamic-table3 th input[type=checkbox], #dynamic-table3 td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table3 > thead > tr > th input[type=checkbox], #dynamic-table3_wrapper input[type=checkbox]').eq(0).on('click', function(){
            var th_checked = this.checked;//checkbox inside "TH" table header

            $('#dynamic-table3').find('tbody > tr').each(function(){
                var row = this;
                if(th_checked) myTable3.row(row).select();
                else  myTable3.row(row).deselect();
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table3').on('click', 'td input[type=checkbox]' , function(){
            var row = $(this).closest('tr').get(0);
            if(this.checked) myTable3.row(row).deselect();
            else myTable3.row(row).select();
        });
        $(document).on('click', '#dynamic-table3 .dropdown-toggle', function(e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table');
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
            return 'left';
        }
        /***************/
        $('.show-details-btn').on('click', function(e) {
            e.preventDefault();
            $(this).closest('tr').next().toggleClass('open');
            $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
        });



    };
    initDate3(28);

    $('#search-btn3').click(function(){
        myTable3.destroy();
        initDate3(8);
    });

    //客户分类管理
    initDate2(12);
    function initDate2(p){
        for(var i= 0,html='';i<p;i++){
            html+='<tr><td class="center">'+(i+1)+'</td><td>test.com</td><td>' +
                    '<div class=""><a class="green btn btn-white btn-primary btn-xs" href="#" >修改</a>' +
                    '<a class="red btn btn-white btn-danger btn-xs" href="#" >删除</a></div></td><td>' +
                    '<div class="action-buttons"><a class="grey" title="往前一位"><i class="glyphicon glyphicon-triangle-top"></i></a>' +
                    '<a class="grey" title="往后一位"><i class="glyphicon glyphicon-triangle-bottom"></i></a><a class="blue bold" title="插入此之前">' +
                    '<i class="glyphicon glyphicon-eject"></i></a></div></td></tr>';
        }
        $('#data-body2').html(html);

        myTable2 =
                $('#dynamic-table2')
                //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                        .DataTable( {
                            bAutoWidth: false,
                            "aoColumns": [
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false }
                            ],
                            "aaSorting": [],

                            "iDisplayLength": 20,
                            "lengthMenu":  [5,10,20, 50, 100,200],
                            "oLanguage": {
//                                "sLengthMenu": ,
                                "sLengthMenu": "显示 _MENU_ 条记录 / 页",
                                "sZeroRecords": "对不起! 信息筛选结果为空!",
                                "sInfo": "从 _START_ 到 _END_ 总计: _TOTAL_ 条记录",
                                "sInfoEmpty": "总计: 0 条记录",
                                "sInfoFiltered": "(从 _MAX_ 条记录筛选出)",
                                "sSearch": "搜索: ",
                                "oPaginate": {
                                    "sFirst":    "第一页",
                                    "sPrevious": "上一页",
                                    "sNext":     "下一页",
                                    "sLast":     "最后一页"
                                }
                            }
                        } );
    };
</script>
