<div id="tabs_secret">
    <div class="table-header">
        密级管理
    </div>

    <div>
        <table  class="table table-striped table-bordered table-hover table-center">
            <thead>
            <tr>
                <th class="center">序号</th>
                <th>密级名称</th>
                <th>邮件帐号数量</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
                <tr class="">
                    <td class="center middle">0</td>
                    <td>秘密</td>
                    <td class="grade_num_first"> {{ form.gradeNum_1 }} </td>
                    <td>
                        <div class="setting">
                            <a class="green btn btn-white btn-primary btn-xs" title="0" data-toggle="modal" data-target="#set_secret">
                                维护
                            </a>
                        </div>
                    </td>
                </tr>
                <tr class="">
                    <td class="center middle">1</td>
                    <td>机密</td>
                    <td class="grade_num_two"> {{ form.gradeNum_2 }} </td>
                    <td>
                        <div class="setting">
                            <a class="green btn btn-white btn-primary btn-xs" title="1" data-toggle="modal" data-target="#set_secret">
                                维护
                            </a>
                        </div>
                    </td>
                </tr>
                <tr class="">
                    <td class="center middle">2</td>
                    <td>绝密</td>
                    <td class="grade_num_third"> {{ form.gradeNum_3 }} </td>
                    <td>
                        <div class="setting">
                            <a class="green btn btn-white btn-primary btn-xs" title="2" data-toggle="modal" data-target="#set_secret">
                                维护
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="set_secret" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">密级 “ <b>秘密</b> ” 邮箱账号列表</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form_new">
                    <div class="row" style="margin-bottom:6px;">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" name="mailbox" class="form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-success" id="add_mail_box_btn" >添加邮箱账号</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>

                <form class="form-horizontal form_del">
                    <table id="dynamic-table-secret" class="table table-bordered table-striped table-hover table-center">
                        <thead>
                        <tr>
                            <th class="center sorting_disabled" rowspan="1" colspan="1" aria-label="">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace">
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th>序号</th>
                            <th>邮箱地址</th>
                        </tr>
                        </thead>
                        <tbody id="data-body-secret">

                        </tbody>
                    </table>
                </form>
                </div>
                <div class="modal-footer center">
                    <button type="button"  class="btn btn-danger delete" id="delete_mail_box_btn">删除所选邮箱</button>
                </div>

        </div>
    </div>
</div>
<script>
    var myTable_secret;
    function initDate_secret(arr){
        for(var i= 0,html='';i<arr.length;i++){
            html+='<tr role="row" data_id="'+arr[i].id+'"><td class="center"><label class="pos-rel">' +
                    '<input type="checkbox" class="ace"><span class="lbl"></span>' +
                    '</label></td><td>'+(i+1)+'</td><td>'+arr[i].mailbox+'</td></tr>';
        }
        $('#data-body-secret').html(html);

        myTable_secret =
                $('#dynamic-table-secret')
                //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                        .DataTable( {
                            bAutoWidth: false,
                            "aoColumns": [
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false }
                            ],
                            "aaSorting": [],

                            select: {
                                style: 'multi'
                            },
                            "iDisplayLength": 20,
                            "lengthMenu":  [10,15,20, 50, 100,200],
                            "oLanguage": {
//                                "sLengthMenu": ,
                                "sLengthMenu": "显示 _MENU_ 条记录 / 页",
                                "sZeroRecords": "对不起! 信息筛选结果为空!",
                                "sInfo": "从 _START_ 到 _END_ 总计: _TOTAL_ 条记录",
                                "sInfoEmpty": "总计: 0 条记录",
                                "sInfoFiltered": "(从 _MAX_ 条记录筛选出)",
                                "sSearch": "搜索: ",
                                "oPaginate": {
                                    "sFirst":    "第一页",
                                    "sPrevious": "上一页",
                                    "sNext":     "下一页",
                                    "sLast":     "最后一页"
                                }
                            }
                        } );

        myTable_secret.on( 'select', function ( e, dt, type, index ) {
            if ( type === 'row' ) {
                $( myTable_secret.row( index ).node() ).find('input:checkbox').prop('checked', true);
            }
        } );
        myTable_secret.on( 'deselect', function ( e, dt, type, index ) {
            if ( type === 'row' ) {
                $( myTable_secret.row( index ).node() ).find('input:checkbox').prop('checked', false);
            }
        } );
        /////////////////////////////////
        //table checkboxes
        $('#dynamic-table-secret th input[type=checkbox],#dynamic-table-secret td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table-secret > thead > tr > th input[type=checkbox], #dynamic-table-secret_wrapper input[type=checkbox]').eq(0).on('click', function(){
            var th_checked = this.checked;//checkbox inside "TH" table header

            $('#dynamic-table-secret').find('tbody > tr').each(function(){
                var row = this;
                if(th_checked) myTable_secret.row(row).select();
                else  myTable_secret.row(row).deselect();
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table-secret').on('click', 'td input[type=checkbox]' , function(){
            var row = $(this).closest('tr').get(0);
            if(this.checked) myTable_secret.row(row).deselect();
            else myTable_secret.row(row).select();
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table');
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
            return 'left';
        }
        /***************/
        $('.show-details-btn').on('click', function(e) {
            e.preventDefault();
            $(this).closest('tr').next().toggleClass('open');
            $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
        });



    }

    $('#tabs_secret table .setting>a').click(function(){
        var grade = $(this).attr('title');
        $.ajax({
            url:"{% url 'domain_secret' %}",
            type:"POST",
            data:"action=get&grade="+grade,
            success:function(data){
                console.log(data);
                var st = grade==0?"秘密":grade==1?"机密":"绝密";
                $('#set_secret .modal-title b').html(st);
                $('#set_secret .modal-title b').attr("title",grade);
                if(myTable_secret)myTable_secret.destroy();
                initDate_secret(data.data);
            }
        })
    })
    $("#add_mail_box_btn").click(function(){
        var mailbox = $(this).parent().prev().val();
        var grade = $('#set_secret .modal-title b').attr("title");
        console.log(mailbox);
        $.ajax({
            url:"{% url 'domain_secret' %}",
            type:"POST",
            data:"action=new&grade="+grade+"&mailbox="+mailbox,
            success:function(data){
                console.log(data);
                if(!data.result){
                    alert(data.reason);
                }else{
                    if(myTable_secret)myTable_secret.destroy();
                    initDate_secret(data.data);
                    $('#tabs_secret .grade_num_first').html(data.gradeNum_1);
                    $('#tabs_secret .grade_num_two').html(data.gradeNum_2);
                    $('#tabs_secret .grade_num_third').html(data.gradeNum_3);
                }
            }
        })
    })

    $('#delete_mail_box_btn').click(function(){
        var arr = [];
        $('#set_secret table tr.selected').each(function(i,dom){
            arr.push($(this).attr("data_id"));
        })
        var s = arr.join('|');
        var grade = $('#set_secret .modal-title b').attr("title");
        if(!s){
            alert('请选择要删除的邮箱！');
            return;
        }
        $.ajax({
            url:"{% url 'domain_secret' %}",
            type:"POST",
            data:"action=del&grade="+grade+"&idlist="+s,
            success:function(data){
//                $('#set_secret').modal('hide');
                console.log(data);
                if(myTable_secret)myTable_secret.destroy();
                initDate_secret(data.data);
                $('#tabs_secret .grade_num_first').html(data.gradeNum_1);
                $('#tabs_secret .grade_num_two').html(data.gradeNum_2);
                $('#tabs_secret .grade_num_third').html(data.gradeNum_3);
            }
        })
    })



    function clickSubmitButton(action, form_name){
        var str = $("."+form_name).serialize();
        var data = str;
        data = data + '&action=' + action ;
        $.ajax({
            url:"{% url 'domain_secret' %}",
            type:"POST",
            data:data,
            success:function(data){
                console.log(123)

                $('#domain_secret').html('<div>保存中...</div>');
                                setTimeout(function(){
                                    $('#domain_secret').html(data);
                                },100)
            }
        })
    }


</script>
