{% extends 'base.html' %}
{% load static %}
{% load mail_tags %}
{% block header %}群发用户列表{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <form class="form-search pull-right form-inline" style="text-align: right" action="">

            <label>开始日期：</label>
            <span class="input-append date dateinput" data-date="" data-date-format="yyyy-mm-dd">
            <input type="text" name="start" value="{{ request.GET.start }}" readonly="" />
                <span class="add-on"><i class="icon-remove"></i></span>
                <span class="add-on"><i class="icon-th"></i></span>
            </span>
            <label>结束日期：</label>
            <span class="input-append date dateinput" data-date="" data-date-format="yyyy-mm-dd">
            <input type="text" name="end" value="{{ request.GET.end }}" readonly="" />
                <span class="add-on"><i class="icon-remove"></i></span>
                <span class="add-on"><i class="icon-th"></i></span>
            </span>
            <button type="submit" class="btn btn-primary">选择</button>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <form id="id_form" action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="id" name="id" />
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                            <tr>
                                <th rowspan="2">日期</th>
                                <th rowspan="2">客户名称</th>
                                <th style="text-align:center;" colspan="2">当天</th>
                                <th style="text-align:center;" colspan="2">前一天</th>
                                <th style="text-align:center;" colspan="2">前两天</th>
                                <th style="text-align:center;" colspan="2">前三天</th>
                                <th rowspan="2">群发类型</th>
                                <th rowspan="2">技术支持</th>
                                <th rowspan="2">备注</th>
                                <th rowspan="2">操作</th>
                            </tr>
                            <tr>
                                <th>发件人</th>
                                <th>群发数</th>
                                <th>发件人</th>
                                <th>群发数</th>
                                <th>发件人</th>
                                <th>群发数</th>
                                <th>发件人</th>
                                <th>群发数</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in cus %}
                            <tr>
                                <td>{{ c.date|date:"Y-m-d" }}</td>
                                <td><a href="{% url 'customer_list' %}?customer_id={{c.customer.id}}">{{ c.customer }}</a></td>
                                <td><a data-toggle="modal" href="{% url 'get_bulk_sender' %}?id={{ c.id }}" data-target="#myModal" data-whatever="{{ c.id }}">{{ c.sender_count }}</a></td>
                                <!--<td id="{{c.id}}_0"><a href="JavaScript:SenderInfo('{{c.id}}_0')">{{ c.sender_count }}</a></td>-->
                                <td><a href="{% url 'mail_list' %}?date={{c.date|date:'Y-m-d'}}&customer={{c.customer.id}}&state=reject">{{ c.spam_count }}</a></td>
                                {% with c|get_recent_bulk_customer:1 as r %}
                                <td><a data-toggle="modal" href="{% url 'get_bulk_sender' %}?id={{ r.id }}" data-target="#myModal">{{ r.sender_count }}</a></td>
                                <td><a href="{% url 'mail_list' %}?date={{r.date|date:'Y-m-d'}}&customer={{r.customer.id}}&state=reject">{{ r.spam_count }}</a></td>
                                {% endwith %}
                                {% with c|get_recent_bulk_customer:2 as r %}
                                <td><a data-toggle="modal" href="{% url 'get_bulk_sender' %}?id={{ r.id }}" data-target="#myModal">{{ r.sender_count }}</a></td>
                                <td><a href="{% url 'mail_list' %}?date={{r.date|date:'Y-m-d'}}&customer={{r.customer.id}}&state=reject">{{ r.spam_count }}</a></td>
                                {% endwith %}
                                {% with c|get_recent_bulk_customer:3 as r %}
                                <td><a data-toggle="modal" href="{% url 'get_bulk_sender' %}?id={{ r.id }}" data-target="#myModal">{{ r.sender_count }}</a></td>
                                <td><a href="{% url 'mail_list' %}?date={{r.date|date:'Y-m-d'}}&customer={{r.customer.id}}&state=reject">{{ r.spam_count }}</a></td>
                                {% endwith %}
                                <td><span {% if c.type == 'evil' %}class="text-danger"{% endif %}>{{ c.get_type_display }}</span></td>
                                <td>{{ c.customer.tech|default_if_none:"" }}</td>
                                <td>{{ c.note|default_if_none:"" }}</td>
                                <td> {% if c.status == 'deal' %} <a type="button" class="btn btn-outline btn-danger btn-xs" href="{% url 'bulk_customer_modify' c.id %}">处理</a>
                                {% else %}<span style="color:#888888">{{ c.get_status_display }}<a type="button" class="btn btn-outline btn-danger btn-xs" href="{% url 'bulk_customer_modify' c.id %}">修改</a></span>{% endif %}</td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 --> </div> </div>

        <!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-llg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">加载中</h4>
            </div>
            <div class="modal-body">
                页面加载中
            </div>
            <div class="modal-footer">
                <button type="button" id="modal_close" class="btn btn-default hidden" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block css-block %}
    <link href="{% static 'datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'datatables-responsive/css/dataTables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">

{% endblock %}


{% block js-block %}
    <script src="{% static 'datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static "datetimepicker/js/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "datetimepicker/js/bootstrap-datetimepicker.zh-CN.js" %}"></script>


    <script>
            $(function () {
            $('#myModal').on('show.bs.modal', function (event) {
                  var button = $(event.relatedTarget) // Button that triggered the modal
                  $(this).removeData('bs.modal');
            })


            $('.dataTables-example').dataTable({
                "iDisplayLength": 100,
                "aaSorting": [
                    [ 0, "desc" ]
                ],
                "oLanguage": {
                "sLengthMenu": "显示 _MENU_ 每页",
                "sZeroRecords": "对不起! 信息筛选结果为空!",
                "sInfo": "从 _START_ 到 _END_ 总计: _TOTAL_ 条记录",
                "sInfoEmpty": "总计: 0 条记录",
                "sInfoFiltered": "(从 _MAX_ 条记录筛选出)",
                "sSearch": "搜索: ",
                "oPaginate": {
                       "sFirst":    "第一页",
                       "sPrevious": " 上一页 ",
                       "sNext":     " 下一页 ",
                       "sLast":     " 最后一页 "
                   }
            }
            });

            $('.dateinput').datetimepicker({
                format: "yyyy-mm-dd",
                language: 'zh-CN',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                minView: 2,
                pickerPosition: "bottom-left"

            });
            });
    function Deal(id, domain_blacklist){
            var str = '是否确认处理？';
            if(confirm(str)) {
                $('#id').val(id);
                $('#id_form').submit();
            }
            return;
        }
    function SenderInfo(id){
            var loading_img = "{% static 'img/loading.gif' %}";
            $('#'+id).html('<img src="' + loading_img + '"></img>');
            $.getJSON("{% url 'ajax_get_bulk_sender' %}?id=" + id,  function(data){
                $('#'+id).html(data.msg);
            });
            return;
    }


    </script>
{% endblock %}
