{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "触发任务列表" %}{% endblock %}

{% block breadcrumb %}
    <li>触发任务列表</li>
{% endblock %}

{% block page-title %}
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-list margin-right-5"></i>
                {% trans "触发任务列表" %}
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <a class="btn btn-primary btn-lg pull-right header-btn hidden-mobile" href="{% url 'trigger' %}">{% trans "触发器设置" %}</a>
        </div>
    </div>
{% endblock %}

{% block page-content %}

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><!-- NEW WIDGET START -->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-collapsed="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{% trans '触发任务列表' %}</h2>
                    </header>

                    <div>
                        <div class="jarviswidget-editbox"></div>

                        <div class="widget-body no-padding">
                                <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                    <tr>
                                        <th width="1%">ID</th>
                                        <th width="4%">{% trans "序号" %}</th>
                                        <th>{% trans "触发任务名称" %}</th>
                                        <th>{% trans "关联的任务" %}</th>
                                        <th>{% trans "触发器" %}</th>
                                        <th>{% trans "发送数量" %}</th>
                                        <th>{% trans "创建时间" %}</th>
                                        <th>{% trans "跟踪统计" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="margin:120px auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "加载中" %}</h4>
                </div>
                <div class="modal-body">
                    {% trans "页面加载中" %}
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal_close" class="btn btn-default hidden" data-dismiss="modal">{% trans "关闭" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block css_block %}
    <link href="/static/sa/css/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block my_jsblock %}
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="/static/sa/js/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/sa/js/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="/static/sa/js/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="/static/sa/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/sa/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>

    <script type="text/javascript">

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

        var ip_table;
        $(function () {
            var ajax_url = "{% url 'ajax_trigger_task' %}" + window.location.search;
            ip_table = $('#dt_basic').dataTable({
                "columnDefs": [ { "targets": [ 0 ], "visible": false, "searchable": false }],
                "iDisplayLength": 25,
                "processing": false,
                "serverSide": true,
                "stateSave": true,
                "autoWidth" : true,
                "lengthMenu": [[10, 15, 25, 50], [10, 15, 25, 50]],
                "ajax": ajax_url,
                "aaSorting": [
                    [ 6, "desc" ]
                ],
                "oLanguage": {
                    "sLengthMenu": "{% blocktrans %}显示 _MENU_ 每页{% endblocktrans %}",
                    "sZeroRecords": "{% blocktrans %}对不起! 信息筛选结果为空!{% endblocktrans %}",
                    "sInfo": "{% blocktrans %}从 _START_ 到 _END_ 总计: _TOTAL_ 条记录{% endblocktrans %}",
                    "sInfoEmpty": "{% blocktrans %}总计: 0 条记录{% endblocktrans %}",
                    "sInfoFiltered": "{% blocktrans %}(从 _MAX_ 条记录筛选出){% endblocktrans %}",
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>',
                    "oPaginate": {
                        "sFirst":    " {% blocktrans %}第一页{% endblocktrans %} ",
                        "sPrevious": " {% blocktrans %}上一页{% endblocktrans %} ",
                        "sNext":     " {% blocktrans %}下一页{% endblocktrans %} ",
                        "sLast":     " {% blocktrans %}最后一页{% endblocktrans %} "
                    }
                },
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+ "t"+ "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "drawCallback": function(oSettings, json) {
                    $('#dt_basic tr').click( function() {
                        if ( $(this).hasClass('row_selected') )
                            $(this).removeClass('row_selected');
                        else
                            $(this).addClass('row_selected');
                    } );
                },
            });
            //$("#dt_basic_length").addClass('pull-right');
            /* END BASIC */
        });

        $.fn.dataTableExt.oApi.fnGetFilteredNodes = function ( oSettings ) {
            var anRows = [];
            var length = oSettings.aiDisplay.length;
            for ( var i=0, iLen=length ; i<iLen ; i++ ) {
                var nRow = oSettings.aoData[ oSettings.aiDisplay[i] ].nTr;
                anRows.push( nRow );
            }
            return anRows;
        };

        function fnGetAll() {
            var aTrs = ip_table.fnGetFilteredNodes();
            for ( var i=0 ; i<aTrs.length ; i++ ) {
                if ( !$(aTrs[i]).hasClass('row_selected') )
                    $(aTrs[i]).addClass('row_selected');
            }
        }

        function fnGetReverse() {
            var aTrs = ip_table.fnGetFilteredNodes();
            for (var i=0 ; i<aTrs.length ; i++ ) {
                if ( $(aTrs[i]).hasClass('row_selected') ) {
                    $(aTrs[i]).removeClass('row_selected');
                }
            }
        }

        function fnGetSelected() {
            var aReturn = new Array();
            var aTrs = ip_table.fnGetFilteredNodes();
            for ( var i=0 ; i<aTrs.length ; i++ ) {
                if ( $(aTrs[i]).hasClass('row_selected') ) {
                    var aData = ip_table.fnGetData( aTrs[i]);
                    var iId = aData[0];
                    aReturn.push( iId );
                }
            }
            return aReturn;
        }
    </script>

{% endblock %}
