<div id="dynamic-div">
    <h3 class="header smaller lighter blue"><span class="red">SSL数字证书</span>

    </h3>
    <div class="table-header">SSL加密设置</div>
    <div style="margin-top:12px;">
        <p>当前签名请求：<b class="red">没有生成签名请求</b></p>
        <div>
            <table class="table table-bordered table-striped sign_table">
                <tr>
                    <td class="text-right"><span class="red">*</span>域名：</td>
                    <td>
                        <input type="text" value="test.com"  name="sig_domain">
                        <!--<p class="help-block green">请填写主机域名，例如邮件域为“test.com”，则主机域名一般为“mail.test.com”！</p>-->
                    </td>
                </tr>
                <tr>
                    <td class="text-right"><span class="red">*</span>单位/组织：</td>
                    <td>
                        <input type="text" autofocus value="" name="sig_organization">
                    </td>
                </tr>
                <tr>
                    <td class="text-right">部门：</td>
                    <td>
                        <input type="text" value="" name="sig_depart">
                    </td>
                </tr>
                <tr>
                    <td class="text-right"><span class="red">*</span>省/市/自治区：</td>
                    <td>
                        <input type="text" value="" name="sig_province">
                    </td>
                </tr>
                <tr>
                    <td class="text-right"><span class="red">*</span>所在地：</td>
                    <td>
                        <input type="text" value="" name="sig_locale">
                    </td>
                </tr>
            </table>
        </div>
        <div class="row create_sign" style="margin-bottom:8px;">
            <div class="col-sm-12 center">
                <button type="button" class="btn btn-sm btn-primary create">生成签名请求</button>
                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#add_pfx">导入PFX格式证书</button>
            </div>
        </div>
        <div class="row alr_create" style="margin-bottom:8px;">
            <div class="col-sm-12 center">
                <button type="button" class="btn btn-sm btn-warning re_edit">重新填写资料</button>
                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#add_ca">导入CA生成的证书</button>
            </div>
        </div>
        <div class="row alr_ca" style="margin-bottom:8px;">
            <div class="col-sm-12 center">
                <button type="button" class="btn btn-sm btn-primary">备份导出PFX格式证书</button>
                <button type="button" class="btn btn-sm btn-danger">删除证书</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add_pfx">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">导入PFX格式证书</h4>
            </div>
            <div class="modal-body">
                <input type="file"  id="input-file-pfx">
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-success">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add_ca">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">导入CA生成的证书</h4>
            </div>
            <div class="modal-body">
                <input type="file"  id="input-file-ca">
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-success sure_add_ca" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#switch-email').hide();
    $(' #input-file-pfx').ace_file_input({
        no_file:'未选中文件',
        btn_choose:'选择',
        btn_change:'修改',
        droppable:false,
        onchange:null,
        thumbnail:false //| true | large
        //whitelist:'gif|png|jpg|jpeg'
        //blacklist:'exe|php'
        //onchange:''
        //
    });
    $(' #input-file-ca').ace_file_input({
        no_file:'未选中文件',
        btn_choose:'选择',
        btn_change:'修改',
        droppable:false,
        onchange:null,
        thumbnail:false //| true | large
        //whitelist:'gif|png|jpg|jpeg'
        //blacklist:'exe|php'
        //onchange:''
        //
    });
    var regx1 = /^[\.a-zA-Z\d]+$/;
    var regx = /^[a-zA-Z\d]+$/;
    if(!regx.test()){
        alert(1);
    }
    $('.create').click(function(){
        if(!regx1.test($("table [name='sig_domain']").val())){
            layer.tips("域名格式不正确！请重新输入！如：test.com ", "table [name='sig_domain']");
            $("table [name='sig_domain']").focus();
            return;
        }
        if(!regx.test($("table [name='sig_organization']").val())){
            layer.tips("只能填写英文字母或数字！请重新输入！如：test", "table [name='sig_organization']");
            $("table [name='sig_organization']").focus();
            return;
        }
//        if(!regx.test($("table [name='sig_depart']").val())){
//            layer.tips("只能填写英文字符！请重新输入！如：test", "table [name='sig_depart']");
//            return;
//        }
        if(!regx.test($("table [name='sig_province']").val())){
            layer.tips("只能填写英文字母或数字！请重新输入！如：GD", "table [name='sig_province']");
            $("table [name='sig_province']").focus();
            return;
        }
        if(!regx.test($("table [name='sig_locale']").val())){
            layer.tips("只能填写英文字母或数字！请重新输入！如：SZ", "table [name='sig_locale']");
            $("table [name='sig_locale']").focus();
            return;
        }
        $(this).parent().parent().hide();
        $('.sign_table input').prop('disabled',true);
        $('.alr_create').show();
    })
    $('.re_edit').click(function(){
        $('.sign_table input').prop('disabled',false);
        $(this).parent().parent().hide();
        $('.create_sign').show();
    })
    $('.sure_add_ca').click(function(){
        $('.alr_create').hide();
        $('.alr_ca').show();
    })

</script>