{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}

{% block title %} {% trans "备份参数设置" %} {% endblock %}

{% block breadcrumb %}
    <li> <a href="#">{% trans "系统维护" %}</a> </li>
    <li><a href="#">{% trans "备份数据" %}</a></li>
    <li class="active">{% trans "备份参数设置" %}</li>
{% endblock %}


{% block page-content %}
    <div class="row">
        <div class="space-12"></div>
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{% trans "备份参数设置" %}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" action="" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="id_mail_server"></label>
                    <div class="col-sm-10">
                        <div class="col-xs-10 col-sm-6" style="padding-left: 0px;padding-right: 0px;">
                            <div class="page-header" style="padding-bottom: 7px;padding-top: 0px;">
                                <h1>{% trans "备份参数设置" %}</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group {% if form.path.errors %} has-error {% endif %}">
                    <label class="col-sm-3 control-label no-padding-right" for="id_path"> 保存路径 </label>
                    <div class="col-sm-9">
                        <input type="text" maxlength="200" id="id_path" name="path" value="{{ form.cleaned_data.path }}" class="col-xs-10 col-sm-5" required/>
                        {% if form.path.errors %}
                            {% for error in form.path.errors %}
                                <div style="clear: both"><p class="errornote txt-color-red">{{ error|escape }}</p></div>
                            {% endfor %}
                        {% endif %}
                        <p class="help-block" style="clear: both">
                            注：备份数据的保存路径，请填写绝对路径；默认为“/usr/local/u-mail/data/backup/”！
                        </p>
                    </div>
                </div>

                <div class="form-group {% if form.data.errors %} has-error {% endif %}">
                    <label class="col-sm-3 control-label no-padding-right" for="id_data"> 数据类型 </label>
                    <div class="col-sm-9">
                        <label class=" control-label form-inline">
                            <label>
                                <input name="data" value="database" id="id_data_0" type="checkbox" {% if "database" in form.cleaned_data.data %}checked=""{% endif %}><span class="margin-left-5">数据库</span>
                            </label>
                            <label style="margin-left: 15px">
                                <input name="data" value="maildata" id="id_data_1" type="checkbox" {% if "maildata" in form.cleaned_data.data %}checked=""{% endif %}><span class="margin-left-5">邮件数据</span>
                            </label>
                            <label style="margin-left: 15px">
                                <input name="data" value="netdisk" id="id_data_2" type="checkbox" {% if "netdisk" in form.cleaned_data.data %}checked=""{% endif %}><span class="margin-left-5">网盘数据</span>
                            </label>
                        </label>
                        {% if form.data.errors %}
                            {% for error in form.data.errors %}
                                <div style="clear: both"><p class="errornote txt-color-red">{{ error|escape }}</p></div>
                            {% endfor %}
                        {% endif %}
                        <p class="help-block" style="clear: both">
                            可多选。
                        </p>
                    </div>
                </div>

                <div class="form-group {% if form.count.errors %} has-error {% endif %}">
                    <label class="col-sm-3 control-label no-padding-right" for="id_count"> 保留备份数量 </label>
                    <div class="col-sm-9">
                        <input name="count" value="{{ form.cleaned_data.count }}" required="" class=" col-xs-10 col-sm-5" id="id_count" type="number" required>
                        {% if form.count.errors %}
                            {% for error in form.count.errors %}
                                <div style="clear: both"><p class="errornote txt-color-red">{{ error|escape }}</p></div>
                            {% endfor %}
                        {% endif %}
                        <p class="help-block" style="clear: both">
                            备注：当备份的数据超过此限制时，将会删除旧的备份数据！
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="id_mail_server"></label>
                    <div class="col-sm-10">
                        <div class="col-xs-10 col-sm-6" style="padding-left: 0px;padding-right: 0px;">
                            <div class="page-header" style="padding-bottom: 7px;padding-top: 0px;">
                                <h1>{% trans "自动备份设置" %}</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group {% if form.cycle.errors %} has-error {% endif %}">
                    <label class="col-sm-3 control-label no-padding-right" for="id_type"> 备份周期 </label>
                    <div class="col-sm-9">
                        <label class=" ">
                            <label>
                                每隔<input name="cycle" value="{{ form.cleaned_data.cycle }}" required="" id="id_cycle" type="number" required>
                                <select id="id_type" name="type" onchange="onchangeType(this.value)" style="height: 34px;">
                                    {% for k, v in form.BACKUP_TYPE %}
                                        <option value="{{ k }}" {% if form.cleaned_data.type == k %}selected{% endif %}>{{ v }}</option>
                                    {% endfor %}
                                </select>备份一次
                            </label>
                            {% if form.cycle.errors %}
                                {% for error in form.cycle.errors %}
                                    <div style="clear: both"><p class="errornote txt-color-red">{{ error|escape }}</p></div>
                                {% endfor %}
                            {% endif %}

                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="id_cycle"> 备份时间 </label>
                    <div class="col-sm-9">
                        <label class=" control-label form-inline">

                            <label id="id_month_lable">
                                <select id="id_month" name="month">
                                    {% for k, v in form.BACKUP_MONTH %}
                                        <option value="{{ k }}" {% if form.cleaned_data.month == k %}selected{% endif %}>{{ v }}</option>
                                    {% endfor %}
                                </select>月
                            </label>

                            <label id="id_date_lable">
                                <select id="id_date" name="date">
                                    {% for k, v in form.BACKUP_DAY %}
                                        <option value="{{ k }}" {% if form.cleaned_data.date == k %}selected{% endif %}>{{ v }}</option>
                                    {% endfor %}
                                </select>日
                            </label>

                            <label id="id_week_lable">
                                周
                                <select id="id_week" name="week">
                                    {% for k, v in form.BACKUP_WEEK %}
                                        <option value="{{ k }}" {% if form.cleaned_data.week == k %}selected{% endif %}>{{ v }}</option>
                                    {% endfor %}
                                </select>
                            </label>

                            <label id="id_hour_lable">
                                <select id="id_hour" name="hour">
                                    {% for k, v in form.BACKUP_HOUR %}
                                        <option value="{{ k }}" {% if form.cleaned_data.hour == k %}selected{% endif %}>{{ v }}</option>
                                    {% endfor %}
                                </select>点
                            </label>

                            <label id="id_minute_lable">
                                <select id="id_minute" name="minute">
                                    {% for k, v in form.BACKUP_MINUTE %}
                                        <option value="{{ k }}" {% if form.cleaned_data.minute == k %}selected{% endif %}>{{ v }}</option>
                                    {% endfor %}
                                </select>分
                            </label>

                        </label>
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            保存
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            重置
                        </button>

                        <a type="button" class="btn btn-link" href="{% url 'backup_maintain' %}">取消</a>

                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-offset-2 col-md-10">
                <p><strong><span style="color:#FF0000;"><strong><span style="color:#FF0000;">备注:</span></strong><br></span></strong></p>
                <p>备份数据的保存路径需要先建立好，并且给予<span class="c_blue">umail</span>用户写权限（设置目录权限为777或将目录属主设为umail）</p>
                <p>如果要使用自动备份功能，则需要先启用<strong>“综合功能配置-&gt;系统功能设置-&gt;数据备份开关”</strong>功能</p>
            </div>
        </div>
    </div>
{% endblock %}


{% block css_block %}
    <style>
        .margin-left-5{margin-left: 5px;}
    </style>
{% endblock %}


{% block my_jsblock %}
    <script>

        $(function () {
            onchangeType('{{ form.cleaned_data.type }}');
        });

        function onchangeType(value){
            if (value == "year"){
                $("#id_month_lable").removeClass("display-none");
                $("#id_date_lable").removeClass("display-none");
                $("#id_week_lable").addClass("display-none");
                $("#id_hour_lable").removeClass("display-none");
                $("#id_minute_lable").removeClass("display-none");
            } else if ( value == "month" ) {
                $("#id_month_lable").addClass("display-none");
                $("#id_date_lable").removeClass("display-none");
                $("#id_week_lable").addClass("display-none");
                $("#id_hour_lable").removeClass("display-none");
                $("#id_minute_lable").removeClass("display-none");
            } else if ( value == "week" ) {
                $("#id_month_lable").addClass("display-none");
                $("#id_date_lable").addClass("display-none");
                $("#id_week_lable").removeClass("display-none");
                $("#id_hour_lable").removeClass("display-none");
                $("#id_minute_lable").removeClass("display-none");
            } else if ( value == "day" ) {
                $("#id_month_lable").addClass("display-none");
                $("#id_date_lable").addClass("display-none");
                $("#id_week_lable").addClass("display-none");
                $("#id_hour_lable").removeClass("display-none");
                $("#id_minute_lable").removeClass("display-none");
            } else if ( value == "hour" ) {
                $("#id_month_lable").addClass("display-none");
                $("#id_date_lable").addClass("display-none");
                $("#id_week_lable").addClass("display-none");
                $("#id_hour_lable").addClass("display-none");
                $("#id_minute_lable").removeClass("display-none");
            }
        }
    </script>
{% endblock %}