{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "系统状态" %}{% endblock %}

{% block breadcrumb %}
<li> <a href="{% url 'fail2ban_home' %}">{% trans "系统状态" %}</a> </li>
<li class="active">{% trans "授权信息" %}</li>
{% endblock %}

{% block page-content %}

<div class="row">
    <div class="space-12"></div>
    <div class="col-xs-12">
        <div class="page-header">
            <h1>{% trans "系统状态" %}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    授权信息
                </small>
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-horizontal" role="form">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="id_source"> 被授权单位： </label>
                <div class="col-sm-4" style="border-bottom:1px solid #E5E5E5">
                    <label class="control-label text-danger"><strong>{{ info.organization }}</strong></label>
                </div>
            </div>

            {% if not info.evaluation %}
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> 绑定主域域名： </label>
                <div class="col-sm-4" style="border-bottom:1px solid #E5E5E5">
                    <label class="control-label text-primary"><strong>{{ info.domain_name }}</strong></label>
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> 邮箱用户数： </label>
                <div class="col-sm-4" style="border-bottom:1px solid #E5E5E5">
                    <label class="control-label "><strong>{% if info.limit_count != '0' %}{{ info.limit_count }}{% else %}无限制{% endif %}</strong></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> 附加模块： </label>
                <div class="col-sm-4" style="border-bottom:1px solid #E5E5E5">
                    <label class="control-label text-success">
                        {% if extra_module %} {{ extra_module }} {% else %} 无附加模块 {% endif %}
                    </label>
                </div>
            </div>
            {% if info.evaluation %}
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> 授权类型： </label>
                <div class="col-sm-4" style="border-bottom:1px solid #E5E5E5">
                    <label class="control-label">测试用户</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> 试用时间： </label>
                <div class="col-sm-4" style="border-bottom:1px solid #E5E5E5">
                    <label class="control-label text-primary">{{ trial_begin|date:"Y-m-d" }} -- {{ trial_end|date:"Y-m-d" }}</label>
                </div>
            </div>
            {% endif %}
            {% if info.service_end %}
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> 服务到期时间： </label>
                <div class="col-sm-4" style="border-bottom:1px solid #E5E5E5">
                    <label class="control-label text-primary">{{ info.service_begin|date:"Y-m-d" }} {{ info.service_end|date:"Y-m-d" }}</label>
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> 授权截止时间： </label>
                <div class="col-sm-4" style="border-bottom:1px solid #E5E5E5">
                    <label class="control-label">
                    {% if info.expires_time %}
                        {% if info.expires_time|date:"Y-m-d" > '2050-01-01' %}
                            无限制
                        {%  else %}
                            {{ info.expires_time|date:"Y-m-d" }}
                        {% endif %}
                    {% else %}
                        无限制
                    {% endif %}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> 更新授权文件： </label>
                <div class="col-sm-6">
                    <form method="POST" action="" enctype="multipart/form-data" onsubmit="return checkForm(this);">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-xs-3">
                                <!-- #section:custom/file-input -->
                                <input type="file" name="licence_file" id="id-input-file" />
                            </div>
                            <input type="submit" value="更新" class="btn btn-xs btn-primary" style="float:left" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_jsblock %}
<script src="{% static 'assets/js/ace-elements.js' %}"></script>
<script>
        $(function(){
        $('#id-input-file').ace_file_input({
					no_file:'未选择文件',
					btn_choose:'选择',
					btn_change:'修改',
					droppable:false,
					onchange:null,
					blacklist:'gif|png|jpg|jpeg|exe|php'
					//onchange:''
				});
        });
        function checkForm(form) {
            if(form.licence_file.value == '') {
            alert("请选择授权文件");
            return false;
            }
            return true;
        }
        </script>
{% endblock %}
