{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "客户访问记录" %}{% endblock %}

{% block breadcrumb %}
    <li> <a href="#">{% trans "系统状态" %}</a> </li>
    <li class="active">{% trans "客户访问记录" %}</li>
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="space-6"></div>
        <div class="col-xs-6">
            <div class="page-header">
                <h1>{% trans "客户访问记录" %}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    WEB访问记录

                </small>
                    </h1>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="pull-right" style="margin-right:30px;">
                <a  class="btn btn-primary pull-right bottem" href="{% url 'system_authlog' %}">{% trans "客户端访问记录" %}</a>
                <a  class="btn btn-primary pull-right bottem" style="margin-right:20px" href="{% url 'system_visitlog' %}">{% trans "WEB访问记录" %}</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table id="ajax-table" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th width="4%">{% trans "序号" %}</th>
                    <th>{% trans "用户名" %}</th>
                    <th>{% trans "邮箱地址" %}</th>
                    <th>{% trans "登录时间" %}</th>
                    <th>{% trans "最后操作时间" %}</th>
                    <th>{% trans "在线时长" %}</th>
                    <th>{% trans "登录方式（浏览器/操作系统）" %}</th>
                    <th>{% trans "客户端IP" %}</th>
                    <th>{% trans "是否在线" %}</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block my_jsblock %}
<script src="{% static 'components/datatables/media/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'components/_mod/datatables/jquery.dataTables.bootstrap.js' %}"></script>
    <script>
        $(function () {
            var ajax_url = "{% url 'ajax_get_visitlog' %}" + window.location.search;
            $('#ajax-table').dataTable({
                "iDisplayLength": 25,
                "processing": false,
                "serverSide": true,
                "stateSave": true,
                "autoWidth" : true,
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                "ajax": ajax_url,
                "aaSorting": [
                    [ 0, "desc" ]
                ],
                "oLanguage": {
                    "sLengthMenu": "{% blocktrans %}显示 _MENU_ 每页{% endblocktrans %}",
                    "sZeroRecords": "{% blocktrans %}对不起! 信息筛选结果为空!{% endblocktrans %}",
                    "sInfo": "{% blocktrans %}从 _START_ 到 _END_ 总计: _TOTAL_ 条记录{% endblocktrans %}",
                    "sInfoEmpty": "{% blocktrans %}总计: 0 条记录{% endblocktrans %}",
                    "sInfoFiltered": "{% blocktrans %}(从 _MAX_ 条记录筛选出){% endblocktrans %}",
                    "sSearch": "{% blocktrans %}搜索: {% endblocktrans %}",
                    "oPaginate": {
                        "sFirst":    " {% blocktrans %}第一页{% endblocktrans %} ",
                        "sPrevious": " {% blocktrans %}上一页{% endblocktrans %} ",
                        "sNext":     " {% blocktrans %}下一页{% endblocktrans %} ",
                        "sLast":     " {% blocktrans %}最后一页{% endblocktrans %} "
                    }
                },
            });
        });


    </script>

{% endblock %}
