<div>
    <h3 class="header smaller lighter blue"><span class="red">授权信息</span>
    </h3>
    <div class="table-header">授权信息</div>
    <div>
        <table class="table table-bordered table-striped">
            <tr>
                <td class="text-right" style="width:200px;">被授权单位：</td>
                <td><b class="red">test</b></td>
            </tr>
            <tr>
                <td class="text-right">绑定主域域名：</td>
                <td><b class="blue">test.com</b></td>
            </tr>
            <tr>
                <td class="text-right">邮箱用户数：</td>
                <td><b>100000</b></td>
            </tr>
            <tr>
                <td class="text-right">附加模块：</td>
                <td>无附加模块</td>
            </tr>
            <tr>
                <td class="text-right">服务到期时间：</td>
                <td>2020-05-05</td>
            </tr>
            <tr>
                <td class="text-right">授权截止时间：</td>
                <td>2020-05-05</td>
            </tr>
            <tr>
                <td class="text-right">更新授权文件：</td>
                <td class="row">
                    <div class="col-sm-6 no-padding" style="max-width:220px;">
                        <input type="file" class="form-control" id="input-file-update">
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-success btn-xs">更新</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>


</div>
<script>
    $('#switch-email').hide();
    $(' #input-file-update').ace_file_input({
        no_file:'未选中文件',
        btn_choose:'选择',
        btn_change:'修改',
        droppable:false,
        onchange:null,
        thumbnail:false //| true | large
        //whitelist:'gif|png|jpg|jpeg'
        //blacklist:'exe|php'
        //onchange:''
        //
    });
</script>