<td>{{ number }}</td>
<td>{{ d.mailbox|default_if_none:'' }}</td>
<td>{{ d.src_mailbox|default_if_none:'' }}</td>
<td>{{ d.src_server|default_if_none:'' }}</td>
<td>
    {% if d.ssl == 1 %}
        <span class="label label-xlg label-light arrowed-in arrowed-in-right">是</span>
    {% else %}
        <span class="label label-xlg label-success arrowed-in arrowed-in-right">否</span>
    {% endif %}
</td>
<td>{{ d.get_status_display|default_if_none:'' }}</td>
<td>{{ d.desc_msg|default_if_none:'' }}</td>
<td>{{ d.last_update|date:"Y-m-d H:i" }}</td>
<td>
    {% if d.disabled == 1 %}
        <span class="label label-xlg label-light arrowed-in arrowed-in-right">禁用</span>
    {% else %}
        <span class="label label-xlg label-success arrowed-in arrowed-in-right">启用</span>
    {% endif %}
</td>
<td>
    <a type="button" class="btn btn-minier btn-primary" href="Javascript: ReceiveMail({{ d.id }})">收信</a>
    <a type="button" class="btn btn-minier btn-primary" href="{% url 'mail_moving_mdf' d.id %}">修改</a>
    <a type="button" class="btn btn-minier btn-danger" href="Javascript: setStatus({{ d.id }}, 'delete')">删除</a>
</td>
