<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>超域管理后台</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico" media="screen">

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../assets/css/font-awesome.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="../assets/css/jquery-ui.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="../assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap-duallistbox.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="../assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="../assets/css/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="../assets/css/ace-ie.css" />
    <![endif]-->

    <link rel="stylesheet" href="../assets/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="../assets/css/chosen.css" />
    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="../assets/js/ace-extra.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="../assets/js/html5shiv.js"></script>
    <script src="../assets/js/respond.js"></script>
    <![endif]-->

    <style>
        ul,li{
            list-style:none;
        }
        table#email-basic-table td input,#company td input{
            padding:0 4px;
        }
        table#email-basic-table td select{
            padding:0;
            height:22px;
        }
        /*#static-div,#dynamic-div{*/
            /*display:none;*/
        /*}*/
        /*#static-div.active,#dynamic-div.active{*/
            /*display:block;*/
        /*}*/
        table td.text-right{
            padding-right:0 !important;
            padding-left:0 !important;

        }
        .select-info{
            display:none;
        }
        .red{
            color:red;
        }
        .control-label{
            white-space: nowrap;
        }
        table td{
            vertical-align: middle;
        }
        #email-basic-table td{
            vertical-align: middle;
        }
        .yellow{
            color:yellow;
        }
        .wysiwyg-editor-box{
            display:none;
        }
        #tabs_login .row .col-sm-3{
            margin-bottom:12px;
        }
        #tabs_login .row .col-sm-3.active>div{
            border:2px solid #00b3ee;
        }
        #tabs_login .row .col-sm-3>div{
            position:relative;
            border:2px solid transparent;
        }
        #tabs_login .row .col-sm-3>div:hover{
            cursor: pointer;
            border:2px solid #00b3ee;
        }
        #tabs_login .row .col-sm-3>div div{
            width:100%;color:#fff;font-size:18px;padding:5px;text-align:center;position:absolute;bottom:0;background:rgba(0,0,0,.5);
        }
        #auto_replay .modal-body>div,#auto_forward .modal-body>div{
            display:none;
        }
        #auto_replay .modal-body>div.active,#auto_forward .modal-body>div.active{
            display:block;
        }
        .chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
            background:none !important;
        }
        .clearfix>div.row{
            margin-right:240px !important;
        }
        .tableTools-container>.btn-group>a:nth-child(3),.tableTools-container>.btn-group>a:nth-child(4){
            display:none !important;
        }
        #ace-settings-container{
            display:none;
        }
        .btn-danger.btn-white{
            border-color:#e4393c;

            color:#e4393c !important;
        }
        .btn-white{
            border-radius:4px;
        }
        .btn-danger.btn-white:hover{
            border-color: red;
            color: red !important;
        }
        .ui-tabs ul.ui-tabs-nav li{
            margin-bottom:2px;
        }

    </style>
</head>

<body class="no-skin">


<!-- Modal -->
<div class="modal fade" id="resetPwd" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">邮件域基本信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class=" col-sm-3 control-label">旧密码:</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control"  >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 ">新密码:</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" >
                            <p class="help-block"><span class="red">注：</span>密码长度最少为8位，其中必须包括字母和数字！</p>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">确认新密码:</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">自动登录IP:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" >
                            <p class="help-block"><span class="red">注：</span>为了账号安全，请不要设置公用网络的IP地址</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="global_set" tabindex="-1"  >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">设置后台标题以及全局参数</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class=" col-sm-4 control-label">超域管理后台标题:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" value="超域管理员后台" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" col-sm-4 control-label">系统管理后台标题:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" value="系统222" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" col-sm-4 control-label">域管理后台标题:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" value="域22" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" col-sm-4 control-label">部门管理后台标题:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" value="部门22" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" col-sm-4 control-label">附件预览服务器域名:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" value="http://office.comingchina.com" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" col-sm-4 control-label">主域名和端口:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" value="http://mail.test.com" >
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default          ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <!-- #section:basics/sidebar.mobile.toggle -->
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <!-- /section:basics/sidebar.mobile.toggle -->
        <div class="navbar-header pull-left">
            <!-- #section:basics/navbar.layout.brand -->
            <a href="#" class="navbar-brand">
                <small>
                    超域管理员后台
                </small>
            </a>

            <!-- /section:basics/navbar.layout.brand -->

            <!-- #section:basics/navbar.toggle -->

            <!-- /section:basics/navbar.toggle -->
        </div>

        <!-- #section:basics/navbar.dropdown -->
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="grey">
                    <!--<a   href="#" data-toggle="modal" data-target="#resetPwd">-->
                        <!--<i class="ace-icon fa fa-cog icon-animated-wrench"></i>-->
                        <!--修改密码-->
                    <!--</a>-->


                </li>

                <li class="purple">
                    <a  href="http://192.168.1.35/operation/login" target="_blank">
                        <i class="ace-icon fa fa-codepen icon-animated-bell"></i>
                        运维后台
                        <!--<span class="badge badge-important">8</span>-->
                    </a>

                    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-exclamation-triangle"></i>
                            8 Notifications
                        </li>

                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
													<span class="pull-left">
														<i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
														New Comments
													</span>
                                            <span class="pull-right badge badge-info">+12</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="btn btn-xs btn-primary fa fa-user"></i>
                                        Bob just signed up as an editor ...
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
													<span class="pull-left">
														<i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
														New Orders
													</span>
                                            <span class="pull-right badge badge-success">+8</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
													<span class="pull-left">
														<i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
														Followers
													</span>
                                            <span class="pull-right badge badge-info">+11</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">
                                See all notifications
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="green">
                    <a  href="http://192.168.1.29"  target="_black">
                        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                        邮箱首页
                    </a>
                </li>

                <!-- #section:basics/navbar.user_menu -->
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="../assets/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>Welcome,</small>
									Jason
								</span>

                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#resetPwd">
                                <i class="ace-icon fa fa-user"></i>
                                修改密码
                            </a>
                        </li>

                        <li>
                            <a href="#" data-toggle="modal" data-target="#global_set">
                                <i class="ace-icon fa fa-cog"></i>
                                全局设置
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="#">
                                <i class="ace-icon fa fa-power-off"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- /section:basics/navbar.user_menu -->
            </ul>
        </div>

        <!-- /section:basics/navbar.dropdown -->
    </div><!-- /.navbar-container -->
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <!-- #section:basics/sidebar -->
    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try{ace.settings.loadState('sidebar')}catch(e){}
        </script>

        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <!-- #section:basics/sidebar.layout.shortcuts -->
                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>

                <!-- /section:basics/sidebar.layout.shortcuts -->
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div><!-- /.sidebar-shortcuts -->

        <ul class="nav nav-list">
            <li class="open">
                <a href="index.html" class="dropdown-toggle">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> 邮件域管理 </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="active" id="static-table">
                        <a href="domain/static" >
                            <i class="menu-icon fa fa-caret-right"></i>

                            邮件域信息一览
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="" id="dynamic-table0">
                        <a href="domain/dynamic">
                            <i class="menu-icon fa fa-caret-right"></i>
                            邮件域列表
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <!--<li class="">-->
                        <!--<a href="#">-->
                            <!--<i class="menu-icon fa fa-caret-right"></i>-->
                            <!--添加邮件域-->
                        <!--</a>-->
                        <!--<b class="arrow"></b>-->
                    <!--</li>-->
                    <li class="">
                        <a href="domain/managerList">
                            <i class="menu-icon fa fa-caret-right"></i>
                            域管理员列表
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-at"></i>
							<span class="menu-text">
								邮箱管理
							</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="mailbox/emailAccounts">
                            <i class="menu-icon fa fa-caret-right"></i>

                            邮箱账号管理
                        </a>

                        <b class="arrow"></b>

                    </li>

                    <!--<li class="">-->
                        <!--<a href="#">-->
                            <!--<i class="menu-icon fa fa-caret-right"></i>-->
                            <!--添加新账号-->
                        <!--</a>-->

                        <!--<b class="arrow"></b>-->
                    <!--</li>-->

                    <li class="">
                        <a href="mailbox/recheck">
                            <i class="menu-icon fa fa-caret-right"></i>
                            审批管理
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> 组管理 </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="group/group">
                            <i class="menu-icon fa fa-caret-right"></i>
                            反垃圾级别组
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="group/group0">
                            <i class="menu-icon fa fa-caret-right"></i>
                            权限组管理
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-th-large"></i>
                    <span class="menu-text"> 部门机构管理 </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="department/departmentList">
                            <i class="menu-icon fa fa-caret-right"></i>
                            部门列表
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="department/deptadminList">
                            <i class="menu-icon fa fa-caret-right"></i>
                            部门管理员列表
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="department/shareDomain">
                            <i class="menu-icon fa fa-caret-right"></i>
                            其他域通讯录共享
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="department/domainGroup">
                            <i class="menu-icon fa fa-caret-right"></i>
                            企业通讯录域组合
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-envelope-o"></i>
                    <span class="menu-text"> 邮件列表管理 </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="maillist/maillist">
                            <i class="menu-icon fa fa-caret-right"></i>
                            列出邮件列表
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <!--<li class="">-->
                        <!--<a href="#">-->
                            <!--<i class="menu-icon fa fa-caret-right"></i>-->
                            <!--添加邮件列表-->
                        <!--</a>-->

                        <!--<b class="arrow"></b>-->
                    <!--</li>-->

                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-connectdevelop"></i>

							<span class="menu-text">
								综合功能设置
							</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <!--<li class="">-->
                        <!--<a href="misc/function">-->
                            <!--<i class="menu-icon fa fa-caret-right"></i>-->
                            <!--综合功能开关-->
                        <!--</a>-->

                        <!--<b class="arrow"></b>-->
                    <!--</li>-->
                    <li class="">
                        <a href="misc/translate">
                            <i class="menu-icon fa fa-caret-right"></i>
                            翻译邮件头设置
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="misc/review">
                            <i class="menu-icon fa fa-caret-right"></i>
                            邮件审核设置
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="misc/changepwd">
                            <i class="menu-icon fa fa-caret-right"></i>
                            修改密码通知信
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <!--<li class="">-->
                        <!--<a href="#">-->
                            <!--<i class="menu-icon fa fa-caret-right"></i>-->
                            <!--新用户欢迎信-->
                        <!--</a>-->

                        <!--<b class="arrow"></b>-->
                    <!--</li>-->
                    <!--<li class="">-->
                        <!--<a href="#">-->
                            <!--<i class="menu-icon fa fa-caret-right"></i>-->
                            <!--域签名设置-->
                        <!--</a>-->

                        <!--<b class="arrow"></b>-->
                    <!--</li>-->
                    <li class="">
                        <a href="misc/monitor">
                            <i class="menu-icon fa fa-caret-right"></i>
                            邮箱监控设置
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="misc/mailboxalias">
                            <i class="menu-icon fa fa-caret-right"></i>
                            邮箱别名设置
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <!--<li class="">-->
                        <!--<a href="#">-->
                            <!--<i class="menu-icon fa fa-caret-right"></i>-->
                            <!--LDAP同步设置-->
                        <!--</a>-->

                        <!--<b class="arrow"></b>-->
                    <!--</li>-->
                    <li class="">
                        <a href="misc/custom">
                            <i class="menu-icon fa fa-caret-right"></i>
                            客户端在线附件设置
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <!--<li class="">-->
                        <!--<a href="#">-->
                            <!--<i class="menu-icon fa fa-caret-right"></i>-->
                            <!--IM软件集成设置-->
                        <!--</a>-->

                        <!--<b class="arrow"></b>-->
                    <!--</li>-->
                    <li class="">
                        <a href="misc/secret">
                            <i class="menu-icon fa fa-caret-right"></i>
                            密级管理
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="misc/icp">
                            <i class="menu-icon fa fa-caret-right"></i>
                            ICP备案信息设置
                        </a>

                        <b class="arrow"></b>
                    </li>

                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-comments"></i>
                    <span class="menu-text"> 微信版管理 </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="mobile/config">
                            <i class="menu-icon fa fa-caret-right"></i>
                            微信公众号管理
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="mobile/template">
                            <i class="menu-icon fa fa-caret-right"></i>
                            消息模板管理
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="mobile/users">
                            <i class="menu-icon fa fa-caret-right"></i>
                            微信账号管理
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="mobile/news">
                            <i class="menu-icon fa fa-caret-right"></i>
                            微信通知消息管理
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="mobile/newslog">
                            <i class="menu-icon fa fa-caret-right"></i>
                            微信API调用日志
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="mobile/sms">
                            <i class="menu-icon fa fa-caret-right"></i>
                            短信发送记录
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-cog"></i>

							<span class="menu-text">
								系统维护管理
							</span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="system/adminlogin">
                            <i class="menu-icon fa fa-caret-right"></i>
                            登录页面设置
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <!--<li class="">-->
                        <!--<a href="#">-->
                            <!--<i class="menu-icon fa fa-caret-right"></i>-->
                            <!--邮箱空间清理-->
                        <!--</a>-->

                        <!--<b class="arrow"></b>-->
                    <!--</li>-->

                    <li class="">
                        <a href="system/pop">
                            <i class="menu-icon fa fa-caret-right"></i>
                            批量设置POP
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="system/adminmod">
                            <i class="menu-icon fa fa-caret-right"></i>
                            后台模块管理
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="system/userlog">
                            <i class="menu-icon fa fa-caret-right"></i>
                            用户日志
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="system/adminlog">
                            <i class="menu-icon fa fa-caret-right"></i>
                            管理员操作日志
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="system/maillogStat">
                            <i class="menu-icon fa fa-caret-right"></i>
                            邮件统计与分析
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="system/visitlog">
                            <i class="menu-icon fa fa-caret-right"></i>
                            用户审计
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        </ul><!-- /.nav-list -->

        <!-- #section:basics/sidebar.layout.minimize -->
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>

        <!-- /section:basics/sidebar.layout.minimize -->
    </div>

    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">

            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">邮件域管理</a>
                    </li>
                    <li class="active">邮件域信息一览</li>
                </ul><!-- /.breadcrumb -->

                <!-- #section:basics/content.searchbox -->
                <!--<div class="nav-search" id="nav-search">-->
                    <!--<form class="form-search">-->
								<!--<span class="input-icon">-->
									<!--<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />-->
									<!--<i class="ace-icon fa fa-search nav-search-icon"></i>-->
								<!--</span>-->
                    <!--</form>-->
                <!--</div>&lt;!&ndash; /.nav-search &ndash;&gt;-->

                <!-- /section:basics/content.searchbox -->
            </div>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <!-- #section:settings.box -->
                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>

                    <div class="ace-settings-box clearfix" id="ace-settings-box">
                        <div class="pull-left width-50">
                            <!-- #section:settings.skins -->
                            <div class="ace-settings-item">
                                <div class="pull-left">
                                    <select id="skin-colorpicker" class="hide">
                                        <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                        <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                        <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                        <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                    </select>
                                </div>
                                <span>&nbsp; Choose Skin</span>
                            </div>

                            <!-- /section:settings.skins -->

                            <!-- #section:settings.navbar -->
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
                                <label class="lbl" for="ace-settings-navbar"> 固定导航栏 </label>
                            </div>

                            <!-- /section:settings.navbar -->

                            <!-- #section:settings.sidebar -->
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
                                <label class="lbl" for="ace-settings-sidebar"> 固定侧边栏 </label>
                            </div>

                            <!-- /section:settings.sidebar -->

                            <!-- #section:settings.breadcrumbs -->
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
                                <label class="lbl" for="ace-settings-breadcrumbs"> 固定面包屑导航</label>
                            </div>

                            <!-- /section:settings.breadcrumbs -->

                            <!-- #section:settings.rtl -->
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                                <label class="lbl" for="ace-settings-rtl"> 从右到左 </label>
                            </div>

                            <!-- /section:settings.rtl -->

                            <!-- #section:settings.container -->
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
                                <label class="lbl" for="ace-settings-add-container">
                                    内部
                                    <b>.container</b>
                                </label>
                            </div>

                            <!-- /section:settings.container -->
                        </div><!-- /.pull-left -->

                        <div class="pull-left width-50">
                            <!-- #section:basics/sidebar.options -->
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                                <label class="lbl" for="ace-settings-hover"> 鼠标移入显示子菜单</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                                <label class="lbl" for="ace-settings-compact"> 紧凑的侧边栏</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                                <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                            </div>

                            <!-- /section:basics/sidebar.options -->
                        </div><!-- /.pull-left -->
                    </div><!-- /.ace-settings-box -->
                </div><!-- /.ace-settings-container -->

                <!-- /section:settings.box -->
                <div class="page-header hide">
                    <h1>
                        邮件域信息一览
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            邮件域基本信息
                        </small>
                    </h1>
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12" id="test-load">



                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="well" style="margin-top:5px;background:#fff;">
                    <div class="user_content_box">
                        <div class="wysiwyg_content_show">
                            <p class="red"><b>备注：</b></p>
                            <p>设置的登录页面只有在使用域名访问时才生效；使用IP地址访问时将会使用默认登录页面。</p>
                        </div>
                        <div class="hr hr-18 dotted"></div>
                        <button class="btn btn-sm btn-primary admin_edit">
                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                            编辑
                        </button>

                    </div>
                    <div class="wysiwyg-editor-box">
                        <div class="wysiwyg-editor" id="editor_all">
                            <p class="red"><b>备注：</b></p>
                            <p>设置的登录页面只有在使用域名访问时才生效；使用IP地址访问时将会使用默认登录页面。</p>
                        </div>
                        <div class="widget-toolbox padding-4  admin_setted center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-purple save">
                                    <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                    保存
                                </button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-info">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                    取消
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
						<span class="bigger-120">

							CopyRight ©fdfffff. Power by <span class="blue bolder">U-Mail</span> 邮件服务器
						</span>

                &nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
                                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                            </a>

							<a href="#">
                                <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                            </a>

							<a href="#">
                                <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                            </a>
						</span>
            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--&lt;!&ndash;[if !IE]> &ndash;&gt;-->
<!--<script src="../assets/js/jquery.js"></script>-->
<!--&lt;!&ndash; <![endif]&ndash;&gt;-->

<!--&lt;!&ndash;[if IE]>-->
<script src="../assets/js/jquery1x.js"></script>
<!--<![endif]&ndash;&gt;-->

<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
</script>
<script src="../assets/js/bootstrap.js"></script>

<!-- page specific plugin scripts -->

<script src="../assets/js/jquery-ui.custom.js"></script>
<script src="../assets/js/jquery.ui.touch-punch.js"></script>
<script src="../assets/js/markdown/markdown.js"></script>
<script src="../assets/js/markdown/bootstrap-markdown.js"></script>
<script src="../assets/js/jquery.hotkeys.js"></script>
<script src="../assets/js/bootstrap-wysiwyg.js"></script>
<script src="../assets/js/bootbox.js"></script>
<script src="../assets/js/jquery.easypiechart.js"></script>
<script src="../assets/js/jquery.sparkline.js"></script>

<script src="../assets/js/jquery-ui.js"></script>
<script src="../assets/js/jquery.ui.touch-punch.js"></script>

<script src="../assets/js/fuelux/fuelux.tree.js"></script>
<script src="../assets/js/chosen.jquery.js"></script>
<script src="../assets/js/date-time/moment.js"></script>
<script src="../assets/js/date-time/bootstrap-datetimepicker.js"></script>

<script src="../assets/js/dataTables/jquery.dataTables.js"></script>
<script src="../assets/js/dataTables/jquery.dataTables.bootstrap.js"></script>
<script src="../assets/js/dataTables/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="../assets/js/dataTables/extensions/Buttons/js/buttons.flash.js"></script>
<script src="../assets/js/dataTables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="../assets/js/dataTables/extensions/Buttons/js/buttons.print.js"></script>
<script src="../assets/js/dataTables/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="../assets/js/dataTables/extensions/Select/js/dataTables.select.js"></script>

<script src="../assets/js/jquery.bootstrap-duallistbox.js"></script>



<!-- ace scripts -->
<script src="../assets/js/ace/elements.scroller.js"></script>
<script src="../assets/js/ace/elements.colorpicker.js"></script>
<script src="../assets/js/ace/elements.fileinput.js"></script>
<script src="../assets/js/ace/elements.typeahead.js"></script>
<script src="../assets/js/ace/elements.wysiwyg.js"></script>
<script src="../assets/js/ace/elements.spinner.js"></script>
<script src="../assets/js/ace/elements.treeview.js"></script>
<script src="../assets/js/ace/elements.wizard.js"></script>
<script src="../assets/js/ace/elements.aside.js"></script>
<script src="../assets/js/ace/ace.js"></script>
<script src="../assets/js/ace/ace.ajax-content.js"></script>
<script src="../assets/js/ace/ace.touch-drag.js"></script>
<script src="../assets/js/ace/ace.sidebar.js"></script>
<script src="../assets/js/ace/ace.sidebar-scroll-1.js"></script>
<script src="../assets/js/ace/ace.submenu-hover.js"></script>
<script src="../assets/js/ace/ace.widget-box.js"></script>
<script src="../assets/js/ace/ace.settings.js"></script>
<script src="../assets/js/ace/ace.settings-rtl.js"></script>
<script src="../assets/js/ace/ace.settings-skin.js"></script>
<script src="../assets/js/ace/ace.widget-on-reload.js"></script>
<script src="../assets/js/ace/ace.searchbox-autocomplete.js"></script>
<script src="../assets/js/dataTables/jquery.dataTables.js"></script>
<script src="../assets/js/dataTables/jquery.dataTables.bootstrap.js"></script>
<script src="../assets/js/dataTables/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="../assets/js/dataTables/extensions/Buttons/js/buttons.flash.js"></script>
<script src="../assets/js/dataTables/extensions/Buttons/js/buttons.html5.js"></script>
<script src="../assets/js/dataTables/extensions/Buttons/js/buttons.print.js"></script>
<script src="../assets/js/dataTables/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="../assets/js/dataTables/extensions/Select/js/dataTables.select.js"></script>
<!-- ace scripts -->

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function($) {
        initEditor("#editor_all");
        $('.admin_edit').click(function(){
            $('.user_content_box').hide();
            $('.wysiwyg-editor-box').show();
        })
        $('.admin_setted button').click(function(){
            $('.wysiwyg-editor-box').hide();
            $('.user_content_box').show();
            if($(this).hasClass('save')){
                $('.wysiwyg_content_show').html($("#editor_all").html());
            }
        })

        if(sessionStorage['load']){
            $('.nav.nav-list .submenu li').removeClass('active');
            $(".nav.nav-list .submenu li a[href='"+sessionStorage['load']+"']").parent().addClass('active');
            $(".nav.nav-list .submenu li a[href='"+sessionStorage['load']+"']").parent().parents('li').addClass('open').siblings().removeClass('active').removeClass('open');
            var str0 = $(".nav.nav-list .submenu li a[href='"+sessionStorage['load']+"']").parent().parents('li').find('.menu-text').text();
            var str1 = $(".nav.nav-list .submenu li a[href='"+sessionStorage['load']+"']").text();
            $('#breadcrumbs .breadcrumb a').html(str0);
            $('#breadcrumbs .breadcrumb li.active').html(str1);
            $('#test-load').load('tpl/'+sessionStorage['load']+'.html');
        }else{
            $('#test-load').load('tpl/domain/static.html');
        }
        $('.nav.nav-list .submenu li a').click(function(e){
            e.preventDefault();
            $('.nav.nav-list .submenu li').removeClass('active');
            $(this).parent().addClass('active');
            $(this).parent().parents('li').removeClass('active');
            var href_url = $(this).attr('href');
            var str0 = $(this).parent().parents('li').find('.menu-text').text();
            var str1 = $(this).text();
            $('#breadcrumbs .breadcrumb a').html(str0);
            $('#breadcrumbs .breadcrumb li.active').html(str1);
            $('#test-load').load('tpl/'+href_url+'.html');
            sessionStorage['load']=href_url;
        })

        /////////////////////////////////////
        $(document).one('ajaxloadstart.page', function(e) {
            $tooltip.remove();
        });







        //Android's default browser somehow is confused when tapping on label which will lead to dragging the task
        //so disable dragging when clicking on label
        var agent = navigator.userAgent.toLowerCase();
        if(ace.vars['touch'] && ace.vars['android']) {
            $('#tasks').on('touchstart', function(e){
                var li = $(e.target).closest('#tasks li');
                if(li.length == 0)return;
                var label = li.find('label.inline').get(0);
                if(label == e.target || $.contains(label, e.target)) e.stopImmediatePropagation() ;
            });
        }






        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
            return 'left';
        }




        /***************/
        $('.show-details-btn').on('click', function(e) {
            e.preventDefault();
            $(this).closest('tr').next().toggleClass('open');
            $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
        });
        /***************/




    })
</script>

<script>
    function showErrorAlert (reason, detail) {
        var msg='';
        if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
        else {
            //console.log("error uploading file", reason, detail);
        }
        $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+
                '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
    }

    $('textarea[data-provide="markdown"]').each(function(){
        var $this = $(this);

        if ($this.data('markdown')) {
            $this.data('markdown').showEditor();
        }
        else $this.markdown()

        $this.parent().find('.btn').addClass('btn-white');
    })
    function initEditor(el){
        $(el).ace_wysiwyg({
            toolbar:
                    [
                        {name:'font', title: '字体'},
                        null,
                        {name:'fontSize', title: '字体大小'},
                        null,
                        {name:'bold', className:'btn-info',title: '粗体/ctrl+B'},
                        {name:'italic', className:'btn-info',title:"斜体/Ctrl+I"},
                        {name:'strikethrough', className:'btn-info',title:"删除线"},
                        {name:'underline', className:'btn-info',title:"下划线"},
                        null,
                        {name:'insertunorderedlist', className:'btn-success',title:"图形列表"},
                        {name:'insertorderedlist', className:'btn-success',title:"数字列表"},
                        {name:'outdent', className:'btn-purple',title:"减少缩进"},
                        {name:'indent', className:'btn-purple',title:"缩进"},
                        null,
                        {name:'justifyleft', className:'btn-primary',title:"左对齐"},
                        {name:'justifycenter', className:'btn-primary',title:"居中对齐"},
                        {name:'justifyright', className:'btn-primary',title:"右对齐"},
                        {name:'justifyfull', className:'btn-inverse',title:"两端对齐"},
                        null,
                        {name:'createLink', className:'btn-pink',title:"链接"},
                        {name:'unlink', className:'btn-pink',title:"断开链接"},
                        null,
                        {name:'insertImage', className:'btn-success',title:"图片"},
                        null,
                        {name:'foreColor', title:"颜色"},
                        null,
                        {name:'undo', className:'btn-grey',title:"撤销"}
                    ],
            'wysiwyg': {
                fileUploadError: showErrorAlert
            }
        }).prev().addClass('wysiwyg-style2');

        $('[data-toggle="buttons"] .btn').on('click', function(e){
            var target = $(this).find('input[type=radio]');
            var which = parseInt(target.val());
            var toolbar = $(el).prev().get(0);
            if(which >= 1 && which <= 4) {
                toolbar.className = toolbar.className.replace(/wysiwyg\-style(1|2)/g , '');
                if(which == 1) $(toolbar).addClass('wysiwyg-style1');
                else if(which == 2) $(toolbar).addClass('wysiwyg-style2');
                if(which == 4) {
                    $(toolbar).find('.btn-group > .btn').addClass('btn-white btn-round');
                } else $(toolbar).find('.btn-group > .btn-white').removeClass('btn-white btn-round');
            }
        });
    }
</script>
</body>
</html>
