<div id="static-div">
    <h3 class="header smaller lighter blue">导入导出帐号
        <button type="button" class="btn btn-primary pull-right" style="margin-right:32px;margin-top:-18px;">
            返回
        </button>
    </h3>
    <div class="table-header">
        导入导出帐号
    </div>
    <table id="email-basic-table" class="table  table-bordered  table-striped">
        <tbody>
        <tr >
            <td class="center" style="vertical-align: middle"><b>备份域“test.com”的邮箱</b></td>
            <td class="text-right">
                备份文件名称：
            </td>
            <td>
                <div class="input-group">
                    <input type="text" class="form-control" value="backup_20180412">
                    <span class="input-group-addon">.dat</span>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-info">备份数据</button>
            </td>
        </tr>
        <tr >
            <td class="center"><b>恢复域“test.com”的备份</b></td>
            <td class="text-right">
                请选择备份文件：：
            </td>
            <td>
                <input type="file">
            </td>
            <td>
                <button type="button" class="btn btn-info">恢复备份</button>
            </td>
        </tr>
        <tr >
            <td class="center"><b>导出域“test.com”的邮箱列表</b></td>
            <td class="text-right">
                导出文件名称：
            </td>
            <td>
                <div class="input-group">
                    <input type="text" class="form-control" value="backup_20180412">
                    <span class="input-group-addon">.cvs</span>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-info">导出邮箱</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
