<div id="dynamic-div">
    <h3 class="header smaller lighter blue">已审核列表</h3>
    <div id="tabs">
        <ul>
            <li>
                <a href="#tabs_title">审核通过列表</a>
            </li>
            <li>
                <a href="#tabs_logo">拒绝通过列表</a>
            </li>
            <li>
                <a href="#tabs_login">已注销列表</a>
            </li>

            <li>
                <a href="#tabs_ad">拒绝注销列表</a>
            </li>
        </ul>
        <div id="tabs_title">
            <div class="table-header">
                审核通过列表
            </div>
            <div>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="center">序号</th>
                            <th>账号名称</th>
                            <th>姓名</th>
                            <th>员工代码（工号、警号等）</th>
                            <th>部门</th>
                            <th>状态</th>
                            <th>备注</th>
                            <th>申请日期</th>
                        </tr>
                    </thead>
                    <tbody id="data-body">

                    </tbody>
                </table>
            </div>
            <div class="row" style="margin-bottom:12px;">
                <div class="col-sm-6 center">
                    <button type="button" class="btn btn-success btn-sm">提交</button>
                    <button type="button" class="btn btn-danger btn-sm">重置</button>
                </div>
            </div>
        </div>

        <div id="tabs_logo">

        </div>
        <div id="tabs_login">

        </div>
        <div id="tabs_ad">

        </div>
    </div>
</div>
<script>
    $( "#tabs" ).tabs();
    $(".mydatetime").datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss',
//        autoclose:true
    });

    var myTable;
    function initDate(p){
        for(var i= 0,html='';i<p;i++){
            html+=`<tr class="">
                        <td class="center middle">${i+1}</td>
                        <td>emailname</td>
                        <td>username</td>
                        <td>15648892</td>
                        <td>department</td>
                        <td>审核通过</td>
                        <td>333</td>
                        <td>2018-01-02 17:15:20</td>
                    </tr>`
        }
        $('#data-body').html(html);
            myTable =
                $('#dynamic-table')
                        .DataTable( {
                            bAutoWidth: false,
                            "aoColumns": [
                                null,
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                null
                            ],
                            "aaSorting": [],

                            select: {
                                style: 'multi'
                            },
                            "iDisplayLength": 15,
                            "lengthMenu":  [10,15,20, 50, 100,200],
                            "oLanguage": {
//                                "sLengthMenu": ,
                                "sZeroRecords": "对不起! 信息筛选结果为空!",
                                "sInfo": "从 _START_ 到 _END_ 总计: _TOTAL_ 条记录",
                                "sInfoEmpty": "总计: 0 条记录",
                                "sInfoFiltered": "(从 _MAX_ 条记录筛选出)",
                                "sSearch": "搜索: ",
                                "oPaginate": {
                                    "sFirst":    "第一页",
                                    "sPrevious": "上一页",
                                    "sNext":     "下一页",
                                    "sLast":     "最后一页"
                                }
                            }
                } );
        $.fn.dataTable.Buttons.swfPath = "../assets/js/dataTables/extensions/Buttons/swf/flashExport.swf"; //in Ace demo ../assets will be replaced by correct assets path
        $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

        new $.fn.dataTable.Buttons( myTable, {
            buttons: [
                {
                    "extend": "colvis",
                    "text": "<i class='fa fa-search bigger-110 blue'></i> <span class=''>显示/隐藏 列</span>",
                    "className": "btn btn-white btn-primary btn-bold",
                    columns: ':not(:first):not(:last)'
                },
                {
                    "extend": "csv",
                    "text": "<i class='fa fa-database bigger-110 orange'></i> <span class=''>导出数据</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                }
            ]
        } );
        myTable.buttons().container().appendTo( $('.tableTools-container') );

        //style the message box
        var defaultCopyAction = myTable.button(1).action();
        myTable.button(1).action(function (e, dt, button, config) {
            defaultCopyAction(e, dt, button, config);
            $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
        });


        var defaultColvisAction = myTable.button(0).action();
        myTable.button(0).action(function (e, dt, button, config) {

            defaultColvisAction(e, dt, button, config);


            if($('.dt-button-collection > .dropdown-menu').length == 0) {
                $('.dt-button-collection')
                        .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                        .find('a').attr('href', '#').wrap("<li />")
            }
            $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
        });

        ////

        setTimeout(function() {
            $($('.tableTools-container')).find('a.dt-button').each(function() {
                var div = $(this).find(' > div').first();
                if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
                else $(this).tooltip({container: 'body', title: $(this).text()});
            });
        }, 500);
    }
    initDate(28);

    $('#search-btn').click(function(){
        myTable.destroy();
        initDate(8);
    })




    $(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
        e.stopImmediatePropagation();
        e.stopPropagation();
        e.preventDefault();
    });
</script>