<div id="static-div">
    <h3 class="header smaller lighter blue">批量删除邮箱

    </h3>
    <div class="table-header">
        批量删除邮箱
    </div>
    <table id="email-basic-table" class="table  table-bordered  ">
        <tbody>
        <tr >
            <td class="text-right">
                邮箱域名：
            </td>
            <td>
                <b>test.com</b>
            </td>
        </tr>
        <tr>
            <td class="text-right">注意事项：</td>
            <td>
                <p>请输入要删除的邮箱帐户用户名，一行填写一个用户	</p>
                <p class="red">例如:</p>
                <p>tina</p>
                <p>gary</p>
                <p>tom</p>
            </td>
        </tr>
        <tr>
            <td class="text-right">帐号列表：</td>
            <td>
                <textarea  rows="8" class="form-control"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="row">
                    <div class="col-xs-2 col-xs-offset-4">
                        <button class="btn btn-primary btn-block btn-sm">确定</button>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-warning btn-block btn-sm">重置</button>
                    </div>
                </div>
            </td>
        </tr>
        
        </tbody>
    </table>

</div>
