<div id="dynamic-div">
    <h3 class="header smaller lighter blue"><span class="red">反垃圾/反病毒设置</span>

    </h3>

    <div class="table-header">反垃圾/反病毒设置</div>
    <div>
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td class="text-right" style="width:200px;">反病毒功能：</td>
                <td>
                    <label class="inline" >
                        <input name="no_anti" checked type="checkbox" class="ace ace-switch ace-switch-5">
                        <span class="lbl"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="text-right">反垃圾功能：</td>
                <td>
                    <label class="inline" >
                        <input name="sw_antivirus" checked type="checkbox" class="ace ace-switch ace-switch-5">
                        <span class="lbl"></span>
                    </label>
                </td>
            </tr>
            <tr class="sw_antivirus">
                <td class="text-right" >SPF检测：
                </td>
                <td>
                    <label class="inline" >
                        <input name="spf"  type="checkbox" class="ace ace-switch ace-switch-5">
                        <span class="lbl middle"></span>
                    </label>
                </td>
            </tr>
            <tr class="sw_antivirus">
                <td class="text-right">灰名单检测：
                </td>
                <td>
                    <label class="inline" >
                        <input name="grey_name"  type="checkbox" class="ace ace-switch ace-switch-5">
                        <span class="lbl"></span>
                    </label>
                </td>
            </tr>
            <tr class="sw_antivirus">
                <td class="text-right">检查附件：
                </td>
                <td>
                    <div class="checkbox">
                            <label style="margin-right:20px;">
                                <input name="low_risk_attachment" type="checkbox" checked class="ace">
                                <span class="lbl"> 小危附件 </span>
                            </label>
                            <label>
                                <input name="high_risk_attachment" type="checkbox" checked class="ace">
                                <span class="lbl"> 高危附件 </span>
                            </label>
                    </div>
                </td>
            </tr>
            <tr class="sw_antivirus">
                <td class="text-right"> 匹配黑名单：
                </td>
                <td>
                    <div class="checkbox">
                        <label style="margin-right:20px;">
                            <input name="sender_blacklist" type="checkbox" checked class="ace">
                            <span class="lbl"> 发件人黑名单 </span>
                        </label>
                        <label style="margin-right:20px;">
                            <input name="subject_blacklist" type="checkbox" checked class="ace">
                            <span class="lbl"> 主题黑名单 </span>
                        </label>
                        <label style="margin-right:20px;">
                            <input name="content_blacklist" type="checkbox" checked class="ace">
                            <span class="lbl"> 内容黑名单 </span>
                        </label>
                        <label>
                            <input name="content_blacklist" type="checkbox" checked class="ace">
                            <span class="lbl"> 附件黑名单 </span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr class="sw_antivirus">
                <td class="text-right">反垃圾引擎：</td>
                <td>
                    <div class="checkbox">
                        <label style="margin-right:20px;">
                            <input name="dspam" type="checkbox" checked class="ace">
                            <span class="lbl"> Dspam </span>
                        </label>
                        <label>
                            <input name="spamassassin" type="checkbox" checked class="ace">
                            <span class="lbl"> Spamassassion </span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr class="sw_antivirus">
                <td class="text-right"> 检查发件人格式：
                </td>
                <td class="row">
                    <div class="col-sm-4 no-padding">
                        <label class="inline" >
                            <input name="format" checked  type="checkbox" class="ace ace-switch ace-switch-5">
                            <span class="lbl"></span>
                        </label>
                    </div>
                    <div class="col-sm-8 no-padding">
                            <span class="middle text-success "><strong style="color: red">注：</strong> 此选项不会作用于“本域进站邮件” </span>

                    </div>
                </td>
            </tr>
            <tr class="sw_antivirus">
                <td class="text-right"> 垃圾邮件投递位置：</td>
                <td class="row">
                    <div class="col-sm-4 no-padding">
                        <select class="form-control" id="id_spam_folder" name="spam_folder" style="max-width:200px;">
                            <option value="Spam"> 垃圾箱 </option>
                            <option value="Sequester"> 隔离队列 </option>
                            <option value="INBOX" selected=""> 收件箱 </option>
                        </select>
                    </div>


                </td>
            </tr>
            <tr class="sw_antivirus">
                <td class="text-right" >
                    垃圾邮件主题标识：</td>
                <td class="row">
                    <div class="col-sm-4 no-padding">
                        <input type="text" name="spam_flag"  value="[***SPAM***]" class="form-control" style="max-width:200px;">
                    </div>
                </td>
            </tr>
            <tr class="sw_antivirus">
                <td class="text-right">隔离邮件保存天数：</td>
                <td class="row">
                    <div class="col-sm-4 no-padding">
                        <input type="number" name="save_days" id="id_save_days" value="15" style="max-width:200px;" class="form-control">
                    </div>
                </td>
            </tr>
            <tr class="sw_antivirus">
                <td class="text-right">发送隔离报告：</td>
                <td>
                    <label class="inline" >
                        <input name="is_report" checked type="checkbox" class="ace ace-switch ace-switch-5">
                        <span class="lbl"></span>
                    </label>
                </td>
            </tr>
            <tr class="sw_antivirus">
                <td class="text-right">隔离报告发件人：</td>
                <td class="row">
                    <div class="col-sm-4 no-padding">
                        <input type="text" name="spam_report" id="id_spam_report" style="max-width:200px;" value="spamreporter" class="form-control">
                    </div>

                </td>
            </tr>
            <tr class="sw_antivirus">
                <td class="text-right">隔离报告链接地址：</td>
                <td class="row">
                    <div class="col-sm-4 no-padding">
                        <input type="text" name="host" id="id_host" value="http://mail.test.com" class="form-control" style="max-width:200px;">

                    </div>
                    <div class="col-sm-8">
                        <div style="clear: both">
                            <span class="middle text-success "><strong style="color: red">注：</strong> “链接地址”必须为类似"mail.example.com"或"114.114.114.114"这种可以通过外网点击访问的地址。如果是"127.0.0.1","192.168.xx.xx"这种地址，会导致外网登录的用户无法通过链接操作隔离邮件。 </span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="sw_antivirus">
                <td class="text-right">检测对象：
                </td>
                <td>
                    <div class="checkbox">
                        <label style="margin-right:20px;">
                            <input name="spam_check_local" type="checkbox" checked class="ace">
                            <span class="lbl"> 本域进站邮件 </span>
                        </label>
                        <label>
                            <input name="spam_check_outside" type="checkbox" checked class="ace">
                            <span class="lbl"> 外域进站邮件 </span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr class="sw_antivirus" id="id_spam_local_set">
                <td class="text-right">本域进站邮件：</td>
                <td class="row">
                    <div class="col-sm-4 no-padding">
                        <div class="checkbox">
                            <label style="margin-right:20px;">
                                <input name="spam_check_local_spam" type="checkbox" checked class="ace">
                                <span class="lbl"> 开启反垃圾 </span>
                            </label>
                            <label>
                                <input name="spam_check_local_virus" type="checkbox" checked class="ace">
                                <span class="lbl"> 开启反病毒 </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-8">
                            <span class="middle text-success "><strong style="color: red">注：</strong> “反垃圾功能”和“反病毒功能”开启后，这里对应的勾选框才会生效 </span>

                    </div>
                </td>
            </tr>
            <tr id="id_spam_outside_set" class="sw_antivirus">
                <td class="text-right">外域进站邮件：</td>
                <td class="row">
                    <div class="col-sm-4 no-padding">
                        <div class="checkbox">
                            <label style="margin-right:20px;">
                                <input name="spam_check_outside_spam" type="checkbox" checked class="ace">
                                <span class="lbl"> 开启反垃圾 </span>
                            </label>
                            <label>
                                <input name="spam_check_outside_virus" type="checkbox" checked class="ace">
                                <span class="lbl"> 开启反病毒 </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-8">
                            <span class="middle text-success "><strong style="color: red">注：</strong> “反垃圾功能”和“反病毒功能”开启后，这里对应的勾选框才会生效 </span>

                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-12 center">
                <button class="btn btn-info" type="button">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    保存
                </button>
                <button class="btn" type="button">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    重置
                </button>
        </div>
    </div>
</div>
<script>
    $(function(){
        $("[name='sw_antivirus']").on('click', function(){
            if($(this).prop('checked')){
                $('.sw_antivirus').show();
            }else{
                $('.sw_antivirus').hide();
            }
        });
    })
</script>