<!--<div class="well alert-warning"><span class="red">备注：</span>需要先启用“综合功能开关->用户注册登录设置-> 新用户欢迎信”功能</div>-->
<h3 class="header smaller lighter blue">修改密码通知信
</h3>
<div class="table-header">
    修改密码通知信设置
</div>
<table class="table  table-bordered">
    <tr>
        <td class="text-right" style="width:100px;">通知邮件主题：</td>
        <td>
            <input type="text" class="form-control" value="再不改密码你的账号就用不了了">
        </td>
    </tr>
    <tr>
        <td class="text-right">通知邮件内容：</td>
        <td>
            <div class="wysiwyg-editor" id="editor_changepwd">
                sdjkf;aaaoooooooooooooooooooo一直没有proxy buffer参数设置的权威解读，大多数都是自己的猜测，这次花了一天多时间仔细读了nginx的相关源码，也泡了泡Nginx的论坛，总算彻底搞明白了这个问题，写成此文，可以说是网上能ooojjjjjjjjjjjjjjjjsdfjksdfospd
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <div class="row">
                <div class="col-xs-2 col-xs-offset-4">
                    <button class="btn btn-primary btn-block btn-sm">确定</button>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-warning btn-block btn-sm">返回</button>
                </div>
            </div>
        </td>
    </tr>
</table>
<script>
    initEditor('#editor_changepwd');
</script>