<div id="static-div">
    <h3 class="header smaller lighter blue">邮件域“test.com”功能设置</h3>
    <div class="table-header" style="cursor:pointer;">
        用户注册登录设置
    </div>
    <table id="email-basic-table" class="table  table-bordered table-hover table-striped">
        <tbody>
        <tr>
            <td class="text-right" >
                用户申请邮箱功能：
            </td>
            <td >
                <label class="radio-inline">
                    <input type="radio" name="fun-status"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="fun-status"  value="0"> 关闭
                </label>
            </td>
            <td class="text-right">管理员审核：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="admin-check"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="admin-check"  value="0"> 关闭
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-right" >管理员登陆链接显示在邮件系统登陆页：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="fun-show"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="fun-show"  value="0"> 关闭
                </label>
            </td>
            <td class="text-right">新用户欢迎信功能：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="fun-check-login"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="fun-check-login"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    请在 <a href="#">此页面</a> 设置欢迎信内容；
                </div>
            </td>
        </tr>
        <tr>

        </tr>
        <tr>
            <td class="text-right">用户强密码功能：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="fun-pwd"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="fun-pwd"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    <span>注：开通强密码后用户密码长度最少为8位，其中必须包括大小写字母和数字；</span>
                </div>
            </td>
            <td class="text-right">启用验证码功能：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding-left">
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-8 no-padding">
                    <span>注：-1表示永远显示验证码，表示多少次验证错误后显示验证码；</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right">登录防止xss启用token验证：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="fun-xss"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="fun-xss"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    <span>注：开启后，单点登录接口对接请加入token参数（token：8a5da52ed126447d359e70c05721a8aa）方可正常登录</span>
                </div>
            </td>
            <td class="text-right">第三方登录验证：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="fun-third"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="fun-third"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    <span>注：用户使用第三方验证接口来登录 Webmail；请在 此页面 设置接口地址</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right">SSL访问：</td>
            <td >

                    <label class="radio-inline">
                        <input type="radio" name="fun-sll"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="fun-sll"  value="0"> 关闭
                    </label>
            </td>
            <td class="text-right">登录系统地点限制：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="fun-addr"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="fun-addr"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    <span>注：打开本功能开关以后，一个邮件账户在一个地方登录后，之前的有效登录将会被强制登出；</span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="hr hr-18 dotted "></div>
    <div class="table-header" style="cursor:pointer;">
        系统功能设置
    </div>
    <table  class="table  table-bordered table-hover table-striped">
        <tbody>
        <tr>
            <td class="text-right" >
                邮件审核通知开关：
            </td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <select name="review_notify_result" class="form-control">
                        <option value="4">所有发送通知邮件</option>
                        <option value="3" selected="">所有不发送通知邮件</option>
                        <option value="1">审核拒绝才发送通知邮件</option>
                        <option value="2">审核通过才发送通知邮件</option>
                    </select>
                </div>
            </td>
            <td class="text-right">不发送通知邮件给审核人：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="no-notice"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="no-notice"  value="0"> 关闭
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-right" >后台登录密码错误3次锁定功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="lock"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="lock"  value="0"> 关闭
                </label>
            </td>
            <td class="text-right">反病毒功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="no-virus"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="no-virus"  value="0"> 关闭
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-right">反垃圾功能：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="no-rub"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="no-rub"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    <span>注：请在 <a href="#">此页面</a> 设置反垃圾详情；</span>
                </div>
            </td>
            <td class="text-right">发信频率限制：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding-left">
                    <label class="radio-inline">
                        <input type="radio" name="hz"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="hz"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    <span>注：请在 <a href="#">此页面</a> 设置发信频率限制详情；</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right">用户黑白名单功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="black-white"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="black-white"  value="0"> 关闭
                </label>
            </td>
            <td class="text-right">邮箱空间定时清理功能：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="clear-fun"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="clear-fun"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    <span>注：请在 <a href="#">此页面</a> 设置“用户邮件保留时间”、“空间不足警告阀值”；</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right">域签名功能：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="sign"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sign"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    <span>注：开启此功能后，将会在本域发出的每封邮件后面尾部追加域签名；签名内容请在 <a href="">此页面</a> 设置；</span>
                </div>
            </td>
            <td class="text-right">POP邮箱接收功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="pop-rec"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="pop-rec"  value="0"> 关闭
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-right">即时通讯软件集成：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="connect"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="connect"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    <span>注：请在 <a href="#">此页面</a> 设置接口地址；</span>
                </div>
            </td>
            <td class="text-right">LDAP帐号自动同步：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding-left">
                    <label class="radio-inline">
                        <input type="radio" name="auto-s"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="auto-s"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    <span>注：请在 <a href="#">此页面</a> 设置 LDAP 连接参数；</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right">邮箱容量满后拒绝接收邮件：</td>
            <td colspan="3">
                <label class="radio-inline">
                    <input type="radio" name="refuse"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="refuse"  value="0"> 关闭
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="hr hr-18 dotted"></div>
    <div class="table-header" style="cursor:pointer;">
        Webmail 功能设置
    </div>
    <table  class="table  table-bordered table-hover table-striped">
        <tbody>
        <tr>
            <td class="text-right" >
                用户已用邮箱容量查看功能：
            </td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="containner-already"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="containner-already"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：关闭此功能后无法查看用户已用邮箱容量；
                </div>
            </td>
            <td class="text-right">密码修改功能：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="reset-pwd"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="reset-pwd"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：关闭此功能后用户无法修改邮箱密码；；
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right" >个人资料功能：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="user-info"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="user-info"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：关闭此功能后用户无法修改个人资料；
                </div>
            </td>
            <td class="text-right">自动回复功能</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="auto-reply"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="auto-reply"  value="0"> 关闭
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-right">自动转发功能：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="auto-transmit"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="auto-transmit"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    <span> 注：全局自动转发开闭开关，除此之外，每个邮箱用户也有单独开启自动转发开关，在邮箱账号管理中设置；</span>
                </div>
            </td>
            <td class="text-right">天气预报功能：</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="weather"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="weather"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    <span>注：Webmail 欢迎页天气预报功能开关；</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right" >企业通讯录功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="address-list"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="address-list"  value="0"> 关闭
                </label>
            </td>
            <td class="text-right">导出按钮开关：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="export"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="export"  value="0"> 关闭
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-right" >公共通讯录功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="pub-address-list"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="pub-address-list"  value="0"> 关闭
                </label>
            </td>
            <td class="text-right">其他域通讯录共享功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="share"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="share"  value="0"> 关闭
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-right" >保存草稿功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="wsw_drafts"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wsw_drafts"  value="0"> 关闭
                </label>
            </td>
            <td class="text-right">网络硬盘功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="wsw_netdisk"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wsw_netdisk"  value="0"> 关闭
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-right" >日程功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="wsw_calendar"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wsw_calendar"  value="0"> 关闭
                </label>
            </td>
            <td class="text-right">便签功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="wsw_notes"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wsw_notes"  value="0"> 关闭
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-right" >参数设置功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="wsw_options"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wsw_options"  value="0"> 关闭
                </label>
            </td>
            <td class="text-right">邮件过滤功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="wsw_cfilter"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wsw_cfilter"  value="0"> 关闭
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-right" >邮箱搬家功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="wsw_mailboxmove"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wsw_mailboxmove"  value="0"> 关闭
                </label>
            </td>
            <td class="text-right">邮件召回记录查看：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="wsw_zhaohui"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wsw_zhaohui"  value="0"> 关闭
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-right" >商务小工具栏目：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="wsw_business_tools"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wsw_business_tools"  value="0"> 关闭
                </label>
            </td>
            <td class="text-right">邮箱意见反馈功能：</td>
            <td class="row no-padding">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="wsw_feedback"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="wsw_feedback"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：Webmail 配置中意见反馈功能开关；
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right" >邮件签名功能：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="wsw_signature"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wsw_signature"  value="0"> 关闭
                </label>
            </td>
            <td class="text-right">自动发送回执功能：</td>
            <td class="row no-padding">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="wsw_auto_receipt"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="wsw_auto_receipt"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：开启此功能后收到有回执要求的邮件会自动发送回执；
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right" >用户积分功能：</td>
            <td class="row no-padding">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="wsw_user_score"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="wsw_user_score"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8">
                    注：开启此功能后用户查看邮件、发送邮件时会增加用户积分；请在 <a href="#">此页面</a> 设置积分数值；
                </div>
            </td>
            <td class="text-right">清空文件夹功能：</td>
            <td class="row no-padding">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="wsw_folder_clean"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="wsw_folder_clean"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：开启此功能在邮件文件夹列表会出现清空文件夹功能按钮（废件箱文件夹已有清空废件箱功能按钮除外）；
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right">代发邮件地址提醒：</td>
            <td class="row no-padding">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="wsw_realaddress_alert"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="wsw_realaddress_alert"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：开启此功能，在阅读邮件内容时，如果真实发送邮件地址与发件人地址不一致，系统会进行提示；
                </div>
            </td>
            <td class="text-right" >部门邮件列表：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="wsw_dept_maillist"  checked value="1"> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wsw_dept_maillist"  value="0"> 关闭
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-right" >邮件内容中时间显示：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="wsw_time_mode"  checked value="12"> 12小时制
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wsw_time_mode"  value="24"> 24小时制
                </label>
            </td>
            <td class="text-right">显示地址簿和信纸模块：</td>
            <td class="row no-padding">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="wsw_show_add_paper"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="wsw_show_add_paper"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：开启此功能，在编辑邮件时，右侧地址簿和信纸功能会直接显示；
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right">是否单独去掉信纸模块：</td>
            <td class="row no-padding">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="wsw_mailpaper"  checked value="1"> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="wsw_mailpaper"  value="0"> 否
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：开启此功能，在编辑邮件时，右侧信纸功能会直接显示；
                </div>
            </td>
            <td class="text-right" >用户是否可以自行设置自动转发默认值：</td>
            <td class="row no-padding">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="wsw_autoforward_visible"  checked value="1"> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="wsw_autoforward_visible"  value="0"> 否
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：选择“是”，在后台邮件账户管理中，用户是否可以自行设置自动转发的默认值是“是”，否则为“否”；
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right">企业通讯录域组合：</td>
            <td class="row no-padding">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="sw_department_openall"  checked value="1"> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sw_department_openall"  value="0"> 否
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：用户在邮件系统中，可以开启企业通讯录域组合
                </div>
            </td>
            <td class="text-right" >父部门中是否显示子部门邮件账号：</td>
            <td class="row no-padding">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="wsw_dept_showall"  checked value="1"> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="wsw_dept_showall"  value="0"> 否
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：用户在邮件系统中，点击父部门的时候，是否显示所有子部门的邮箱
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right" >接收邮件列表发来邮件是否显示邮件列表名称：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="wdisplay_everyone"  checked value="1"> 是
                </label>
                <label class="radio-inline">
                    <input type="radio" name="wdisplay_everyone"  value="0"> 否
                </label>
            </td>
            <td class="text-right">邮件日志保存天数：</td>
            <td class="row no-padding">
                <div class="col-sm-4 no-padding-left">
                    <div class="input-group">
                        <input name="sw_mail_log_save_day" class="form-control" value="15">
                        <span class="input-group-addon"> 天</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right" >是否默认打开收件箱：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="sw_welcome_open_recipient"  checked value="1"> 是
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sw_welcome_open_recipient"  value="0"> 否
                </label>
            </td>
            <td class="text-right">发送邮件显示加密选项：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="sw_mail_in_reply_to"  checked value="1"> 是
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sw_mail_in_reply_to"  value="0"> 否
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-right" >原发送人加到Reply-To控制开关：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="sw_mail_in_reply_to"  checked value="1"> 是
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sw_mail_in_reply_to"  value="0"> 否
                </label>
            </td>
            <td class="text-right">收件时是否过滤重复邮件：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="sw_filter_duplicate_mail"  checked value="1"> 是
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sw_filter_duplicate_mail"  value="0"> 否
                </label>
            </td>
        </tr>
        <tr>
            <td class="text-right" >邮件搜索加速：</td>
            <td>
                <label class="radio-inline">
                    <input type="radio" name="sw_search_speedup"  checked value="1"> 是
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sw_search_speedup"  value="0"> 否
                </label>
            </td>
            <td class="text-right">SMTP外发邮件中转：</td>
            <td class="row no-padding">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="sw_smtptransfer_visible"  checked value="1"> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sw_smtptransfer_visible"  value="0"> 否
                    </label>
                </div>
                <div class="col-sm-8">
                    注：开启本开关后，umail将作为邮件客户端，将外发邮件投递到用户设置的邮件服务器
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right" >所有用户的 '保存客户端已发送邮件' 选项设置为'是'：</td>
            <td colspan="3">
                <label class="radio-inline">
                    <input type="radio" name="sw_save_client_sent_email"  checked value="1"> 是
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sw_save_client_sent_email"  value="0"> 否
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="hr hr-18 dotted"></div>
    <div class="table-header" style="cursor:pointer;">
        Webmail 页面定制
    </div>
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <td class="text-right" >
                商务小工具 - 万年历
            </td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="wsw_wgt_cale"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="wsw_wgt_cale"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：欢迎页商务小工具中“万年历”功能开关；
                </div>
            </td>
            <td class="text-right">商务小工具 - 万用计算器</td>
            <td class="row" style="padding:8px;">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="wsw_wgt_calc"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="wsw_wgt_calc"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：欢迎页商务小工具中“万用计算器”功能开关；
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right">商务小工具 - 城市地图</td>
            <td class="row" style="padding:8px;" colspan="3">
                <div class="col-sm-4 no-padding">
                    <label class="radio-inline">
                        <input type="radio" name="wsw_wgt_maps"  checked value="1"> 开启
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="wsw_wgt_maps"  value="0"> 关闭
                    </label>
                </div>
                <div class="col-sm-8 no-padding">
                    注：欢迎页商务小工具中“城市地图”功能开关；
                </div>
            </td>
        </tr>
    </table>
    <div>

        <div class="row no-padding">
            <div class="col-xs-2 col-xs-offset-4">
                <button class="btn btn-primary btn-block btn-sm">提交</button>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-warning btn-block btn-sm">重置</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('.table-header').click(function(){
        $(this).next().toggle();
    })
</script>