<div id="dynamic-div">
    <h3 class="header smaller lighter blue">邮件审核设置

    </h3>

    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#review_add">
                    添加审核
                </button>
            </div>
        </div>
    </div>
    <div class="table-header">
        邮件审核设置
    </div>
    <div>
        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="center">序号</th>
                <th>被审核邮箱</th>
                <th>审核人</th>
                <th>审核类型</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="data-body">

            </tbody>
        </table>
    </div>
    <!--<div class="well" style="margin-top:5px;background:#fff;">-->
        <!--<div class="user_content_box">-->
            <!--<div class="wysiwyg_content_show">-->
                <!--<p class="red"><b>备注：</b></p>-->
                <!--<p> 1、当“审核类型”设置为“外发邮件”时，只会审核“被审核人”发送给外部邮件域的邮件，发送给本域其它邮箱的邮件不会进行审核；“审核类型”为“所有发送邮件”时，会对“被审核人”发送的所有邮件进行审核；</p>-->
                <!--<p> 2、当设置了同一个“被审核人”被多个“审核人”审核时，每个审核人都可以对此人的邮件进行审核；只需要有一个审核人执行审核操作即可</p>-->
                <!--<p> 3、当被审核的邮件通过审核时，会直接将邮件发送给原邮件指定的收件人；当被拒绝通过审核时，则会将邮件丢弃，并给发件人发送“邮件未通过审核回执”；</p>-->
                <!--<p> 4、当“审核类型”设置为“外发邮件”时，如果被审核的邮件同时指定了本域收件人和外部邮件域收件人，该邮件会被拆分为“本域邮件”、“外部域邮件”两份，其中“本域邮件”会直接投递给本域收件人，“外部域邮件”需要进行审核；</p>-->

            <!--</div>-->
            <!--<div class="hr hr-18 dotted"></div>-->
            <!--<button class="btn btn-sm btn-primary admin_edit">-->
                <!--<i class="ace-icon fa fa-pencil bigger-125"></i>-->
                <!--编辑-->
            <!--</button>-->

        <!--</div>-->
        <!--<div class="wysiwyg-editor-box">-->
            <!--<div class="wysiwyg-editor" id="editor_review">-->
                <!--<p class="red"><b>备注：</b></p>-->
                <!--<p> 1、当“审核类型”设置为“外发邮件”时，只会审核“被审核人”发送给外部邮件域的邮件，发送给本域其它邮箱的邮件不会进行审核；“审核类型”为“所有发送邮件”时，会对“被审核人”发送的所有邮件进行审核；</p>-->
                <!--<p> 2、当设置了同一个“被审核人”被多个“审核人”审核时，每个审核人都可以对此人的邮件进行审核；只需要有一个审核人执行审核操作即可</p>-->
                <!--<p> 3、当被审核的邮件通过审核时，会直接将邮件发送给原邮件指定的收件人；当被拒绝通过审核时，则会将邮件丢弃，并给发件人发送“邮件未通过审核回执”；</p>-->
                <!--<p> 4、当“审核类型”设置为“外发邮件”时，如果被审核的邮件同时指定了本域收件人和外部邮件域收件人，该邮件会被拆分为“本域邮件”、“外部域邮件”两份，其中“本域邮件”会直接投递给本域收件人，“外部域邮件”需要进行审核；</p>-->
            <!--</div>-->
            <!--<div class="widget-toolbox padding-4 clearfix admin_setted">-->
                <!--<div class="btn-group pull-left">-->
                    <!--<button class="btn btn-sm btn-info">-->
                        <!--<i class="ace-icon fa fa-times bigger-125"></i>-->
                        <!--取消-->
                    <!--</button>-->
                <!--</div>-->

                <!--<div class="btn-group pull-right">-->
                    <!--<button class="btn btn-sm btn-purple">-->
                        <!--<i class="ace-icon fa fa-floppy-o bigger-125"></i>-->
                        <!--保存-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
</div>
<div class="modal fade" id="review_add" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加邮件审核设置</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">被审核地址：<br>(@test.com)</label>
                        <div class="col-sm-9">
                            <textarea rows="10" class="form-control"></textarea>
                            <p class="help-block"><span class="red">注：</span>请填写被审核对象的邮箱名称，如果要审核整个邮件域，请填写为“*”；</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">审核人：</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-addon">@test.com</span>
                            </div>
                            <p class="help-block"><span class="red">注：</span>请填写审核人的邮箱名称;</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">审核类型：</label>
                        <div class="col-sm-9">
                            <select name="workmode" class="form-control">
                                <option value="outbound">外发邮件</option>
                                <option value="allsend">所有发送邮件</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">是否审核附件：</label>
                        <div class="col-sm-9">
                            <select name="has_attach" class="form-control">
                                <option value="-1" selected="">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">状态：</label>
                        <div class="col-sm-9">
                            <select name="disabled" class="form-control">
                                <option value="-1" selected="">正常</option>
                                <option value="1">禁用</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">审核条件：</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-4">
                                    <select id="type" name="type" class="form-control">
                                        <option value="subject">主题</option>
                                        <option value="content">邮件内容</option>
                                        <option value="recipient">收件人</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select id="action" name="action" class="form-control">
                                        <option value="in">包含</option>
                                        <option value="not in">不包含</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-success">提交</button>
                <button type="button"  class="btn btn-warning">返回</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit_review" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改邮件审核设置</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">被审核地址：</label>
                        <div class="col-sm-6">
                            <input type="text" value="cs1@test.com" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">审核人：</label>
                        <div class="col-sm-6">
                            <input type="text" value="cs@test.com" class="form-control">
                            <p class="help-block"><span class="red">注：</span>请填写审核人的邮箱名称；</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">审核类型：</label>
                        <div class="col-sm-6">
                            <select name="workmode" class="form-control">
                                <option value="outbound">外发邮件</option>
                                <option value="allsend" selected>所有发送邮件</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">状态：</label>
                        <div class="col-sm-6">
                            <select name="disabled" class="form-control">
                                <option value="-1" selected="">正常</option>
                                <option value="1">禁用</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-4 control-label">审核条件：</label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-4">
                                    <select  name="type" class="form-control">
                                        <option value="subject">主题</option>
                                        <option value="content">邮件内容</option>
                                        <option value="recipient">收件人</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select  name="action" class="form-control">
                                        <option value="in">包含</option>
                                        <option value="not in">不包含</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn  btn-info">保存</button>
                <button type="button" class="btn  btn-danger">返回</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
//        initEditor('#editor_review')
    })
    var myTable;
    function initDate(p){
        for(var i= 0,html='';i<p;i++){
            html+=`<tr class="">
                        <td class="center middle">${i+1}</td>
                        <td>cs1@test.com</td>
                        <td>cs@test.com</td>
                        <td>所有发送邮件</td>
                        <td>正常</td>
                        <td>
                            <div class="">
                                <a class="green btn btn-white btn-primary btn-xs" href="#" data-toggle="modal" data-target="#edit_review">
                                    修改
                                </a>

                                <a class="red btn btn-white btn-danger btn-xs" href="#">
                                    删除
                                </a>
                            </div>
                        </td>
                    </tr>`
        }
        $('#data-body').html(html);
            myTable =
                $('#dynamic-table')
                //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                        .DataTable( {
                            bAutoWidth: false,
                            "aoColumns": [
                                null,
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false }
                            ],
                            "aaSorting": [],
                            select: {
                                style: 'multi'
                            },
                            "iDisplayLength": 15,
                            "lengthMenu":  [10,15,20, 50, 100,200],
                            "oLanguage": {
//                                "sLengthMenu": ,
                                "sZeroRecords": "对不起! 信息筛选结果为空!",
                                "sInfo": "从 _START_ 到 _END_ 总计: _TOTAL_ 条记录",
                                "sInfoEmpty": "总计: 0 条记录",
                                "sInfoFiltered": "(从 _MAX_ 条记录筛选出)",
                                "sSearch": "搜索: ",
                                "oPaginate": {
                                    "sFirst":    "第一页",
                                    "sPrevious": "上一页",
                                    "sNext":     "下一页",
                                    "sLast":     "最后一页"
                                }
                            }
                } );
        $.fn.dataTable.Buttons.swfPath = "../assets/js/dataTables/extensions/Buttons/swf/flashExport.swf"; //in Ace demo ../assets will be replaced by correct assets path
        $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

        new $.fn.dataTable.Buttons( myTable, {
            buttons: [
                {
                    "extend": "colvis",
                    "text": "<i class='fa fa-search bigger-110 blue'></i> <span class=''>显示/隐藏 列</span>",
                    "className": "btn btn-white btn-primary btn-bold",
                    columns: ':not(:first):not(:last)'
                },
                {
                    "extend": "csv",
                    "text": "<i class='fa fa-database bigger-110 orange'></i> <span class=''>导出数据</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                }
            ]
        } );
        myTable.buttons().container().appendTo( $('.tableTools-container') );

        //style the message box
        var defaultCopyAction = myTable.button(1).action();
        myTable.button(1).action(function (e, dt, button, config) {
            defaultCopyAction(e, dt, button, config);
            $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
        });


        var defaultColvisAction = myTable.button(0).action();
        myTable.button(0).action(function (e, dt, button, config) {

            defaultColvisAction(e, dt, button, config);


            if($('.dt-button-collection > .dropdown-menu').length == 0) {
                $('.dt-button-collection')
                        .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                        .find('a').attr('href', '#').wrap("<li />")
            }
            $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
        });

        ////

        setTimeout(function() {
            $($('.tableTools-container')).find('a.dt-button').each(function() {
                var div = $(this).find(' > div').first();
                if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
                else $(this).tooltip({container: 'body', title: $(this).text()});
            });
        }, 500);
    }
    initDate(28);

    $('#search-btn').click(function(){
        myTable.destroy();
        initDate(8);
    })

    $('.admin_edit').click(function(){
        $('.user_content_box').hide();
        $('.wysiwyg-editor-box').show();
    })
    $('.admin_setted button').click(function(){
        $('.wysiwyg-editor-box').hide();
        $('.user_content_box').show();
    })





    $(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
        e.stopImmediatePropagation();
        e.stopPropagation();
        e.preventDefault();
    });
</script>