{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "中继邮件列表" %}{% endblock %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}" />
{% endblock %}

{% block breadcrumb %}
    <li> <a href="#">{% trans "中继管理" %}</a> </li>
    <li class="active">{% trans "邮件列表" %}</li>
{% endblock %}

{% block page-content %}

    <div class="row">
        <div class="space-6"></div>
        <div class="col-xs-6">

            <div class="page-header">
                <h1>
                    {% trans "中继邮件列表" %}
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        {% trans "日期" %}：{% if request.GET.date_start and request.GET.date_end %}{{ request.GET.date_start }} -- {{ request.GET.date_end }}
                    {% else %}
                        {{request.GET.date|default:"今日"}}
                        {%  endif %}
                    </small>
                </h1>
            </div>
        </div>
        <div class="col-xs-6">

            <div class="pull-right" style="margin-right:30px;">
                <a onclick="Export()" class="btn btn-primary pull-right bottem">{% trans "导出数据" %}</a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="space-6"></div>
        <div class="col-xs-12">
            <div class="pull-right" style="margin-right:30px;">
                <form method="get" action="">
                    {{ form }}
                    <button type="submit" class="btn btn-primary">{% trans "查询" %}</button>
                </form>
            </div>
        </div>
    </div>
    <div class="hr hr-18 dotted hr-double"></div>

    <div class="row">
        <div class="col-xs-12">
            <table id="ajax-table" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>{% trans "发件人" %}----{% trans "收件人" %}</th>
                    <th class="hidden-480">{% trans "大小" %}</th>
                    <th class="hidden-480">{% trans "数量" %}</th>
                    <th class="hidden-480">{% trans "发送" %}</th>
                    <th>{% trans "客户端IP" %}</th>
                    <th>{% trans "入站" %}--{% trans "出站时间" %}</th>
                    <th>{% trans "主题" %}</th>
                    <th>{% trans "状态" %}</th>
                </tr>
                </thead>
            </table>
        </div><!-- /.span -->
    </div><!-- /.row -->

    <!-- Modal -->
    <input type="hidden" id="modal_id" name="modal_id" />
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-llg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "加载中" %}</h4>
                </div>
                <div class="modal-body">
                    {% trans "页面加载中" %}
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal_close" class="btn btn-default hidden" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onClick="ModalReview('pass');">{% trans "通过" %}</button>
                    <button type="button" class="btn btn-danger" onClick="ModalReview('reject');">{% trans "拒绝" %}</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block my_jsblock %}
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.tableTools.min.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.colVis.min.js' %}"></script>
    <script src="{% static 'js/Jquery.Query.js' %}"></script>
    <script>
        $(function () {
            $('#myModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                $('#modal_id').val(recipient);
                $(this).removeData('bs.modal');
            })

            $('.dateinput').datepicker({
                dateFormat: "yy-mm-dd",
                language: 'zh-CN',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                minView: 2,
                pickerPosition: "bottom-left"

            });

            var ajax_url = "{% url 'ajax_get_mails' %}" + window.location.search;


            ip_table = $('#ajax-table').dataTable({
                //"columnDefs": [ { "targets": [ 0 ], "visible": false, "searchable": false }],
                "iDisplayLength": {% if request.GET.check == 'spam' %}200{% else %}100{% endif %},
                "processing": true,
                "serverSide": true,
                "lengthMenu": [[20, 50, 100, 200, 500], [20, 50, 100, 200, 500]],
                "ajax": ajax_url,

                "aaSorting": [
                    [ 5, "desc" ]
                ],
                "oLanguage": {
                    "sLengthMenu": "{% blocktrans %}显示 _MENU_ 每页{% endblocktrans %}",
                    "sZeroRecords": "{% blocktrans %}对不起! 信息筛选结果为空!{% endblocktrans %}",
                    "sInfo": "{% blocktrans %}从 _START_ 到 _END_ 总计: _TOTAL_ 条记录{% endblocktrans %}",
                    "sInfoEmpty": "{% blocktrans %}总计: 0 条记录{% endblocktrans %}",
                    "sInfoFiltered": "{% blocktrans %}(从 _MAX_ 条记录筛选出){% endblocktrans %}",
                    "sSearch": "{% blocktrans %}搜索: {% endblocktrans %}",
                    "oPaginate": {
                        "sFirst":    "{% blocktrans %}第一页{% endblocktrans %}",
                        "sPrevious": " {% blocktrans %}上一页 {% endblocktrans %}",
                        "sNext":     " {% blocktrans %}下一页 {% endblocktrans %}",
                        "sLast":     " {% blocktrans %}最后一页 {% endblocktrans %}"
                    }
                }
            });


        });
        function QuerySet(key, value){
            window.location.href = jQuery.query.set(key, value);
        }
        function Export(){
            window.location.href = jQuery.query.set('export', '1');
        }
        function ReSend(id){
            var loading_img = "{% static 'img/loading.gif' %}";
            $('#resend_'+id).html('<img src="' + loading_img + '"></img>');
            $.getJSON("{% url 'resent' %}?id=" + id,  function(data){
                $('#resend_'+id).html(data.msg);
            });
            return;
        }


    </script>

{% endblock %}