{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}
{% block title %} {% trans "添加用户" %} {% endblock %}
{% block breadcrumb %}
    <li> <a href="#">{% trans "管理员管理" %}</a> </li>
    <li class="active">{% trans "添加用户" %}</li>
{% endblock %}
{% block page-content %}
    <div class="row">
        <div class="col-lg-12"><h1 class="page-header">{% trans "添加用户信息" %}</h1></div>
    </div>

    <form role="form" action="" method="post">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="panel panel-default" style="margin-bottom: 0px!important;">
                    <div class="panel-heading">{% trans "添加用户信息" %}</div>
                    <div class="panel-body">
                        {% csrf_token %}
                        {{ form|bootstrap }}

                        <!--<button type="submit" class="btn btn-primary btn-sm">{% trans "确认" %}</button>
                        <button class="btn btn-sm" type="reset">{% trans "重置" %}</button>
                        <button type="button" class="btn btn-link btn-sm" onclick="location.href='{% url 'user_list' %}'">{% trans "取消" %}</button>-->

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="text-center">
                <button class="btn btn-info" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>{% trans "保存" %}</button>
                <button class="btn" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>{% trans "重置" %}</button>
                <button type="button" class="btn btn-link" onclick="location.href='{% url 'user_list' %}'">{% trans "取消" %}</button>
            </div>
        </div>
    </form>

{% endblock %}

