<td>{{ number }}</td>
<td>{{ username|default_if_none:'' }}</td>
<td>{{ name|default_if_none:'' }}</td>
<td>{{ department|default_if_none:'' }}</td>
<td>{{ position|default_if_none:'' }}</td>
<td>{{ worknumber|default_if_none:'' }}</td>
<td>{{ sendpermit|default_if_none:'' }}</td>
<td>{{ recvpermit|default_if_none:'' }}</td>
<td>{{ quotamailbox|default_if_none:'' }} MB</td>
<td>{{ quotanetdisk|default_if_none:'' }} MB</td>
<td>{{ quotamailbox_used|default_if_none:'' }} MB</td>
<td>{{ last_weblogin|default_if_none:'' }}</td>
<td>{{ last_clientlogin|default_if_none:'' }}</td>
