{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "邮件统计报告" %}{% endblock %}

{% block breadcrumb %}
    <li> <a href="#">{% trans "邮件统计报告" %}</a> </li>
    <li class="active">{% trans "邮件统计报告" %}</li>
{% endblock %}

{% block page-content %}

    <div class="row">
        <div class="space-6"></div>
        <div class="col-xs-6">
        <div class="page-header">
            <h1>
                {% trans "邮件统计报告" %}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    {% trans "邮件统计报告" %}
                </small>
            </h1>
        </div>
        <table>
        <tr>
        <th width="4%">域名: </th>
        <th>
            <select id="id_selectdomain" name="select_domain" onchange="onchangeDomainOptions(this.value)" >
            {% for obj in domain_list %}
                <option value="{{ obj.domain }}" {% if domain.domain == obj.domain %} selected {% endif %} > {{ obj.domain }} </option>
            {% endfor %}
            </select>
        </th>
        </tr>
        </table>
    </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">

                    <li class="active">
                        <a href="#">
                            <i class="green ace-icon fa fa-home bigger-120"></i>{% trans "邮箱统计" %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'maillog_active_user' %}">
                            <i class="green ace-icon fa bigger-120"></i>{% trans "邮件收发统计" %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'maillog_mail_stat' %}">
                            <i class="green ace-icon fa bigger-120"></i>{% trans "邮件统计报告" %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'maillog_list' %}">
                            <i class="green ace-icon fa bigger-120"></i>{% trans "邮件日志查询" %}
                        </a>
                    </li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        {% include 'maillog/include/mailbox_stat.html' %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'otreetable1.0/otreetable.css' %}" />
    <link href="{% static "components/datetimepiker/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
<style>
    #search_form th{
        border-top:none;
    }
    #search_form th{
        padding-left:0;
        padding-right:0;
    }
    #search_form th input,#search_form th select{
        width:95%;
    }
    #search_form .text-right{
        white-space: nowrap;
    }
</style>
{% endblock %}

{% block my_jsblock %}
    <script src="{% static 'components/datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'components/_mod/datatables/jquery.dataTables.bootstrap.js' %}"></script>
    <script src="{% static "components/datetimepiker/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "components/datetimepiker/bootstrap-datetimepicker.zh-CN.js" %}"></script>

    <script>

        function setStatus(rule_id, status){
            var str = '{% trans "是否确认此操作？" %}';
            if(confirm(str)) {
                $('#id').val(rule_id);
                $('#status').val(status);
                $('#id_form').submit();
            }
            return;
        }

        var ip_table;
        $(function () {
            var ajax_url = "{% url 'ajax_maillog_mailbox_stat' %}" + window.location.search;
            ip_table = $('#ajax-table').dataTable({
                // "columnDefs": [ { "targets": [ 0 ], "visible": false, "searchable": false }],
                "iDisplayLength": 25,
                "processing": false,
                "serverSide": true,
                "stateSave": true,
                "autoWidth" : true,
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                "ajax": ajax_url,
                "aaSorting": [
                    [ 1, "desc" ]
                ],
                "oLanguage": {
                    "sLengthMenu": "{% blocktrans %}显示 _MENU_ 每页{% endblocktrans %}",
                    "sZeroRecords": "{% blocktrans %}对不起! 信息筛选结果为空!{% endblocktrans %}",
                    "sInfo": "{% blocktrans %}从 _START_ 到 _END_ 总计: _TOTAL_ 条记录{% endblocktrans %}",
                    "sInfoEmpty": "{% blocktrans %}总计: 0 条记录{% endblocktrans %}",
                    "sInfoFiltered": "{% blocktrans %}(从 _MAX_ 条记录筛选出){% endblocktrans %}",
                    "sSearch": "{% blocktrans %}搜索: {% endblocktrans %}",
                    "oPaginate": {
                        "sFirst":    " {% blocktrans %}第一页{% endblocktrans %} ",
                        "sPrevious": " {% blocktrans %}上一页{% endblocktrans %} ",
                        "sNext":     " {% blocktrans %}下一页{% endblocktrans %} ",
                        "sLast":     " {% blocktrans %}最后一页{% endblocktrans %} "
                    }
                },
                // "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+ "t"+ "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",

                "drawCallback": function(oSettings, json) {
                    $('#dt_basic tr').click( function() {
                        if ( $(this).hasClass('row_selected') )
                            $(this).removeClass('row_selected');
                        else
                            $(this).addClass('row_selected');
                    } );
                },

            });
        });

        $.fn.dataTableExt.oApi.fnGetFilteredNodes = function ( oSettings ) {
            var anRows = [];
            var length = oSettings.aiDisplay.length;
            for ( var i=0, iLen=length ; i<iLen ; i++ ) {
                var nRow = oSettings.aoData[ oSettings.aiDisplay[i] ].nTr;
                anRows.push( nRow );
            }
            return anRows;
        };

        function fnGetAll() {
            var aTrs = ip_table.fnGetFilteredNodes();
            for ( var i=0 ; i<aTrs.length ; i++ ) {
                if ( !$(aTrs[i]).hasClass('row_selected') )
                    $(aTrs[i]).addClass('row_selected');
            }
        }

        function fnGetReverse() {
            var aTrs = ip_table.fnGetFilteredNodes();
            for (var i=0 ; i<aTrs.length ; i++ ) {
                if ( $(aTrs[i]).hasClass('row_selected') ) {
                    $(aTrs[i]).removeClass('row_selected');
                }
            }
        }

        function fnGetSelected() {
            var aReturn = new Array();
            var aTrs = ip_table.fnGetFilteredNodes();
            for ( var i=0 ; i<aTrs.length ; i++ ) {
                if ( $(aTrs[i]).hasClass('row_selected') ) {
                    var aData = ip_table.fnGetData( aTrs[i]);
                    var iId = aData[0];
                    aReturn.push( iId );
                }
            }
            return aReturn;
        }

        function onchangeDomainOptions(value){
            var base_url = "{% url 'maillog' %}" + "?d="+ value;
            window.location.href = base_url;
        }

        function startSearch(){
            window.location.href="{% url 'maillog' %}" + window.location.search;
        }

        function resetSearch(){
            window.location.href="{% url 'maillog' %}" + "?d="+ $('#id_selectdomain').val();
        }

        function exportLog(){
            window.location.href="{% url 'maillog_export_mailbox' %}" + window.location.search;
        }

        $('.dateinput').datetimepicker({
                format: 'yyyy-mm-dd hh:ii:00',
                language: 'zh-CN',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                // minView: 2,
            });


    </script>

{% endblock %}

