{% extends 'base.html' %}
{% load static %}
{% block header %}不重试标志信息{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <a href="{% url 'not_retry_flag_batch_add' %}" style="margin-bottom: 10px; margin-left: 10px;" class="btn btn-primary pull-right">批量添加</a>
        <a href="{% url 'not_retry_flag_add' %}" style="margin-bottom: 10px;" class="btn btn-primary pull-right">添加</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                关键字
                <div class="pull-right">
                    <b>总共:</b>
                    {{ not_retry_flags.count }}
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <form id="id_form" action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="ids" id="ids" />
                        <input type="hidden" name="status" id="status" />
                        <div class="row">
                            <div class="col-sm-12">
                                <p>
                                    <button type="button" class="btn btn-link" onclick="fnGetAll();">全选</button>/<button type="button" class="btn btn-link" onclick="fnGetReverse();">取消</button>
                                    <button type="button" class="btn btn-danger" onclick="set_status('删除', -1);">删除</button>
                                </p>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th width="6%">ID</th>
                                <th>关键字</th>
                                <th>中继</th>
                                <th>代收</th>
                                <th>添加人</th>
                                <th>添加日期</th>
                                <th>最后操作人</th>
                                <th>最后操作日期</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for d in not_retry_flags %}
                            <tr>
                                <td>{{ d.id }}</td>
                                <td>{{ d.keyword }}</td>
                                <td><span class="glyphicon {% if d.relay %} glyphicon-ok {% else %} glyphicon-remove {% endif %}"><span class="hidden">{{ d.relay }}</span></span></td>
                                <td><span class="glyphicon {% if d.collect %} glyphicon-ok {% else %} glyphicon-remove {% endif %}"><span class="hidden">{{ d.collect }}</span></span></td>
                                <td>{{ d.creater|default_if_none:"" }}</td>
                                <td>{{ d.created|date:"Y-m-d H:i" }}</td>
                                <td>{{ d.operater|default_if_none:"" }}</td>
                                <td>{{ d.operate_time|date:"Y-m-d H:i"  }}</td>
                                <td>
                                    <a type="button" class="btn btn-outline btn-primary btn-xs" href="{% url 'not_retry_flag_modify' d.id %}">修改</a>
                                    <a type="button" class="btn btn-outline btn-danger btn-xs" href="Javascript: DeleteNotRetryFlag({{ d.id }}, '{{ d.keyword }}')">删除</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 --> </div> </div>
{% endblock %}
{% block css-block %}
    <link href="{% static 'datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'datatables-responsive/css/dataTables.responsive.css' %}" rel="stylesheet">

{% endblock %}


{% block js-block %}
    <script src="{% static 'datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/my_datatables.js' %}"></script>

    <script>
        function set_status(word, status) {
        var id_array = fnGetSelected();

        if (id_array.length == 0){
            $.notify("你还没有选中要操作的IP！ 请点击需要操作的行", {globalPosition: 'top center', className: 'warn'});
            return false;
        }

        if (!confirm("你确定要 " + word + " " + id_array.length + ' 个记录 ?')) {
            return false;
        } else {
            $('#action').val('change_status');
            $('#status').val(status);
            $('#ids').val(id_array);
            $('#id_form').submit();
            //location.href = '/manager/server/' + {{ c_id }} + '/ip/?action=change&status=' + status + '&ids=' + id_array;
        }
    }

        function DeleteNotRetryFlag(id, not_retry_flag){
            var str = '是否要删除关键字 "%s"？';
            str = str.replace(/%s/, not_retry_flag);
            if(confirm(str)) {
                $('#ids').val(id);
                $('#status').val('-1');
                $('#id_form').submit();
            }
            return;
        }
    </script>
{% endblock %}
