body{
    background-color:#fff;
    color:#666;
    height:100%;
    padding-top:50px;
}
*{
    box-sizing: border-box;
}
ul,li{
    padding:0;margin:0;
    list-style:none;
}
p,h1,h2,h3,h4{
    padding:0;
    margin:0;
}
html{
    height:100%;
}
.navbar-brand img{
    width:120px;
}
.navbar-fixed-top {
    background-color: #713F8E;
    border-color: #713F8E;
}
.navbar-fixed-bottom {
    background-color: #E8E8E8;
    border-color: #fff;
    box-shadow: 0 0 10px #041A36;
}
.navbar-brand{
    background:none !important;
}
.nav-div{
    background:#333333;
}
.nav-div .nav-tabs >.active a{
    background:#fff;
}
.nav-div .nav-tabs {
    padding-left:200px;
}
.nav-div .left-nav{
    float:left;
    width:200px;
}
.left{
    float:left;
}
.right{
    float:right;
}
.relative{
    position:relative;
}
.no-padding{
    padding:0;
}
.no-padding-right{
    padding-right:0;
}
.no-padding-left{
    padding-left:0;
}
.no-margin{
    margin:0;
}
.height-30{
    height:30px;
}
.sidebar-left{
    /*position:fixed;*/
    /*left:0;*/
    /*top:92px;*/
    width:200px;
    background:#E8E8E8;
    height:100%;
    box-shadow: 0 0 10px #041A36;
    padding-left:8px;
    padding-top:6px;
}
.sidebar-right{
    /*position:absolute;*/
    right:0;
    top:0;
    width:400px;
    height:100%;
    z-index: 20;
    background: #fff;
    border-left:1px solid #cdcdcd;
}
.global_set>h4.set_title,.editor_font>h4.set_title,.editor_image>h4.set_title{
    border-bottom:2px solid #F3F3F3;
    border-top:2px solid #F3F3F3;
    padding:10px 6px;
    color:#666;
}
.global_set>h4.active,.global_set>h4.text-center,.editor_font>h4.text-center,.editor_font>h4.active,
.editor_image>h4.text-center,.editor_image>h4.active{
    color:#3FA9F5;
}
.margin-bottom-28{
    margin-bottom:20px;
}
.global_set>h4.text-center,.editor_font>h4.text-center,.editor_image>h4.text-center{
    padding-bottom:0;
    margin-top:20px;
}
.global_set>h4>span,.editor_font>h4>span,.editor_image>h4>span{
    padding:0 8px 10px;
    display:inline-block;
    border-bottom:2px solid #3FA9F5;
    cursor: pointer;
}
.set_detail{
    /*padding:15px;*/
}
.set_detail>p{
    padding:10px 0;
    font-size:18px;
    font-weight:500;
    color:#000;
    margin:15px 0 0 0;
}
.main-editor{
    /*margin-left:200px;*/
    /*margin-right:400px;*/
    height:100%;
    overflow: hidden;
}
.editor-header{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 200px);
    height: 41px;
    border-bottom: 1px solid #CDCDCD;
    box-sizing: border-box;
    padding: 5px;
    background: #FFF;
    margin-left: 200px;
    margin-right:400px;
    z-index: 10;
}
.margin-2{
    margin:2px;
}
.sidebar-left .item-box,#myModal .item-box{
    width:86px;
    height:80px;
    background:#fff;
    border:1px solid #c0c0c0;
    border-radius: 4px;
    padding-top:12px;
    cursor: pointer;
}
#myModal .item-box{
    width:138px;

}
.sidebar-left .item-box:hover,#myModal .item-box:hover{
    border-color:#3FA9F5;
    box-shadow: 0 0 2px #3FA9F5;
}
.clear:after{
    content:"";
    display:block;
    clear:both;
}
.sidebar-left ul li,#myModal ul li{
    float:left;
}
.drag-area{
    position:absolute;
    top:92px;
    bottom:50px;
}
#mailReadBody{
    height:100%;
}
.actions p{
    cursor:pointer;

}
.popover{
    background: #1B1B1D !important;
    color: #aaa;
}
.popover.right > .arrow:after {
    border-right-color: #1B1B1D;
}
.right_set_box>div{
    display:none;
}
.right_set_box>div.active{
    display:block;
}




/*editor*/
.content{
    padding:20px 10px;
    width:600px;
    margin:0 auto;
}
.add-layout{
    background:#F5F5F5;
    color:#D2D2D2;
    cursor: pointer;
    padding:8px;
    border:1px dashed #cdcdcd;
}
.add-layout:hover{
    border-color:#3FA9F5;
    color:#3FA9F5;
}
.layout-img-box>.col-xs-3{
    text-align: center;
}
.layout-img-box>.col-xs-3 p{
    padding:4px;
    background:#fff;
    border:1px solid #cdcdcd;
    border-radius:4px;
}
.layout-img-box>.col-xs-3 p img{
    width:100%;
}
.layout-img-box>.col-xs-3 p:hover{
    border-color:#3FA9F5;
}
.select-layout-str{
    padding:8px;
}
.select-layout-box{
    display:none;
    padding:0 15px 30px;
    border:1px dashed #cdcdcd;
    border-top:none;
    background:#F5F5F5;
}
.editor-col{
    border:1px dashed #cdcdcd;
    background:#F5F5F5;
    color:#D2D2D2;
    cursor: pointer;
    padding:6px 0;
}
.editor-col:hover{
    border-color:#3FA9F5;
    color:#3FA9F5;
}
.add-layout-row{

    margin:10px 0 0;
}
.editor-box>.row{
    border:1px solid #cdcdcd;
    position:relative;
    margin:0;
}

.editor-box>.row:hover{
    border:1px dashed #3FA9F5;
}
.button_box,.text_box,.image_box,.spacer_box,.ruler_box{
    cursor:pointer;
}
.actions p:hover{
    color:#fff;
}
.file-drop-zone-title{
    font-size:22px !important;
}

#img_modal p.select_bg{
    cursor: pointer;
    border:1px solid transparent;
    margin-bottom:12px;
}
#img_modal p.select_bg:hover,#img_modal p.select_bg.active{
    border-color:#3FA9F5;
    box-shadow: 0 0 4px #3FA9F5;
}
.panel-title>a{
    display:inline-block;
    width:100%;
    height:100%;
}
.select2.select2-container{
    width:100% !important;
}
.flex_box{
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex_box>div{
    padding-top:6px;
    flex-grow: 1;
    color:#999;
}
.flex_box>div.active,.flex_box>div:hover{
    color:#3FA9F5;
}
.panel-title>a{
    color:#3FA9F5;
    text-decoration:none;
}
.panel-title>a.collapsed{
    color:#333;
}
.panel-title>a.collapsed>i.glyphicon-chevron-right,.panel-title>a:not(.collapsed)>i.glyphicon-chevron-down{
    display:none;
}
.panel-title>a.collapsed>i.glyphicon-chevron-down,.panel-title>a:not(.collapsed)>i.glyphicon-chevron-right{
    display:inline;
}

.note-editor.note-frame .note-color .dropdown-menu{
    left:-252px;
}