<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load i18n %}
{% load core_tags %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% trans 'U-Mail邮件营销平台-登录' %}</title>
    <meta name="keywords" content="U-Mail邮件营销平台"/>
    <meta name="description" content="U-Mail邮件营销平台"/>
    <meta name="viewport" content="width=device-width,initial-scale=0.5,user-scalable=no"/>
    <link rel="stylesheet" href="/static/login/css/common.css"/>
    <link rel="stylesheet" href="/static/login/css/code.css"/>
    <!--<script type="text/javascript" src="/static/login/js/jquery.1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/login/js/drag.js"></script>-->

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{% static 'img/u.png' %}">
    <link rel="icon" href="{% static 'img/u.png' %}" type="image/x-icon">


    <script src="{% static '/sa/js/libs/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static '/sa/js/libs/jquery-ui-1.10.3.min.js' %}"></script>

    <!--<link rel="stylesheet" href="{% static 'drag/css/drag.css' %}"/>-->
    <script src="{% static 'drag/js/drag.js' %}"></script>
    
    <script src="{% static 'layer/layer.js' %}"></script>
    <script src="{% static 'js/wxLogin.js' %}"></script>
    <script src="{% static 'js/code.js' %}"></script>
    <!--<script src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>-->

    <style type="text/css">
        .txt-color-red{color:#a90329!important}.errornote{font-size: 95%;}
    </style>
</head>
<body>

<div class="g-doc">
    <!--header start-->
    <div class="m-header" style="padding: 10px 0 0 !important;">
        <div class="logo">
            <a href="#">
                <img src="/static/login/images/logo.png" alt="U-mail" />
                <h1>{% trans '邮件营销平台' %}</h1>
            </a>
        </div>
        <div class="right_f">
            <div class="tel">{% trans '服务热线' %}：<span>400-8181-568</span></div>
        </div>
    </div>
    <!--header end-->

    <!--main start-->
    <div class="g-main">
        <div class="m-login">
            <div class="loginbox">
                <div class="m-ways">
                    <div class="userlogin on">{% trans '用户登陆' %}</div>
                    <div class="sep"></div>
                    <div class="weixinlogin">{% trans '微信登陆' %}</div>
                </div>
                <div class="passmain">
                    <div class="userpass on">
                        <form action="" onsubmit="return LoginCheck(this);" method="POST">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="inputtag" style="margin: 0;">
                                        <p class="errornote txt-color-red">{{ message }}</p>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% if form.errors and not form.non_field_errors %}
                                <div class="inputtag" style="margin: 0;">
                                    <p class="errornote txt-color-red"> {% trans '错误提示' %}： </p>
                                </div>
                            {% endif %}

                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="inputtag" style="margin: 0;">
                                        <p class="errornote txt-color-red">
                                            {{ error }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% csrf_token %}
                            <div class="inputtag" style="margin-top: 10px;">
                                <input class="username" type="text" placeholder="{% trans '账号/邮箱账号/手机号' %}" name="username" id="username" value="{{ form.data.username }}">
                            </div>
                            <div class="inputtag">
                                <input class="password" type="password" placeholder="{% trans '密码' %}" name="password" id="password" value="{{ form.data.password }}">
                            </div>
                            <!--<div class="inputtag" style="margin-bottom: 5px;">-->
                                <!--<div id="drag"></div>-->
                            <!--</div>-->
                            <div class="inputtag code-box">
                                <div id="imgscode"></div>
                            </div>



                            <div class="findpassword">
                                <a href="{% url 'password_reset' %}">{% trans '忘记密码?' %}</a>
                                <a style="float:right" href="{% url 'apply' %}">{% trans '免费申请' %}</a>
                            </div>
                            <div class="submit"><input type="submit" value="登录"></div>

                            <div class="otherways">
                                <h1>{% trans '支付宝快捷登陆' %}</h1>
                                <a href="{% url 'ali_login' %}"><img src="/static/login/images/alipay.png" alt=""></a>
                            </div>

                        </form>
                    </div>
                    <div class="weixinpass" style="padding-top: 10px !important;">
                        <div id="erweimaImg"></div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--main end-->

    <!--footer end-->
    <div class="g-footer">
        <!--<p>当前时间：<span id='timer'></span></p>-->
        <p>{% trans '请使用IE10+、最新版本的Chrome、Firefox、Safari、Opera浏览器登录使用本平台！' %}</p>
        <p>Copyright ©  <a href="http://www.magvision.com/">U-Mail</a> Co.,Ltd.  <a href='#'>{% trans '深圳市安般科技有限公司' %}</a> | <a href='http://www.magvision.com/intimity.html' target="_blank">{% trans '隐私保护' %}</a> | <a target="_blank" href='http://simple.bestedm.org/help/doku.php?id=%E7%B2%BE%E5%87%86%E6%80%A7%E9%82%AE%E4%BB%B6%E6%8A%95%E9%80%92%E5%B9%B3%E5%8F%B0%E7%94%A8%E6%88%B7%E8%AE%B8%E5%8F%AF%E5%8D%8F%E8%AE%AE'>{% trans '服务协议' %}</a>   <a target="_blank" href="http://www.miitbeian.gov.cn">{% trans '粤ICP备11061369号' %}-1</a>

        <div style="width:300px;margin:0 auto; padding:20px 0;">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030402001566" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                <img src="/static/login/images/beian.png" style="float:left;"/>
            <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤公网安备 44030402001566号</p>
            </a>
        </div>


    </div>
    <!--footer end-->
</div>
</body>

<script type="text/javascript">
    window.onload = function(){
        $("#imgscode").imgcode();
        function guid() {
            function S4() {
                return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
            }
            return (S4()+S4()+S4()+S4());
        }
        var obj = new WxLogin({
            id:"erweimaImg",
            appid: "{% settings_value "OPEN_WX_APPID" %}",
            scope: "snsapi_login",
            redirect_uri: "{% settings_value "OPEN_WX_LOGIN_URI" %}",
            state: guid(),
            style: "",
            href: "https://www.bestedm.org/static/login/css/login-weixin.css"
        });
    }

    $('#drag').drag();

    function LoginCheck(form){
        if(form.username.value == "") {
            layer.tips("{% trans '用户名不能为空！' %}", '#username');
            form.username.focus();
            return false;
        }
        if(form.password.value == "") {
            layer.tips("{% trans '登录密码不能为空！' %}", '#password');
            form.password.focus();
            return false;
        }
//        if(form.captcha.value != "1") {
//            layer.tips("{% trans '请拖动滑块完成验证!' %}", '#drag');
//            return false;
//        }
        console.log($('#imgscode .code-con').hasClass('success'));
        if(!$('#imgscode .code-con').hasClass('success')){
            layer.tips("{% trans '请拖动滑块完成验证!' %}", '#imgscode');
            return false;
        }
        return true;
    };

    $('.weixinlogin').click(function(){
        $('.userlogin').removeClass('on');
        $('.userpass').removeClass('on');
        $(this).addClass('on');
        $('.weixinpass').addClass('on');
    });
    $('.userlogin').click(function(){
        $('.weixinlogin').removeClass('on');
        $('.weixinpass').removeClass('on');
        $(this).addClass('on');
        $('.userpass').addClass('on');
    });
    /*
    function getTimer (){
        var myDate = new Date();
        var newtimer = myDate.toLocaleString( );        //获取日期与时间
        $('#timer').html(newtimer);
    }
    setInterval("getTimer()",1000); //获取本地时间
    */


    function autoHeight () {
        var headerHeight = $('.m-header').height()+60;
        var footerHeight = $('.g-footer').height()+60;
        var bodyHeight=$(window).height();
        var mainHeight=(bodyHeight-footerHeight-headerHeight);
        $('.g-main').height(mainHeight);
        var loginHeight=$('.m-login').height();
        var loginTop = (mainHeight-loginHeight)/2;
        $('.m-login').css('padding-top',loginTop);
    }
    function addFavorite(sTitle,sURL)
    {try
    {
        window.external.addFavorite(sURL, sTitle);
    }
    catch (e)
    {
        try
        {
            window.sidebar.addPanel(sTitle, sURL, "");
        }
        catch (e)
        {
            alert("{% trans '加入收藏失败，请使用Ctrl+D进行添加' %}");
        }
    }
    }

    autoHeight(); //自适应高度

    $(window).resize(function() {
        autoHeight();
    });


</script>

</html>
