<!doctype html>
{% load i18n %}
{% load static %}
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% trans "U-Mail邮件营销平台-在线支付" %}</title>
    <link href="{% static 'wechat_pay/wechat_pay.css' %}" rel="stylesheet" media="screen" />
    <script src="{% static '/sa/js/libs/jquery-2.1.1.min.js' %}"></script>
</head>

<body>
<div class="body">
    <h1 class="mod-title">
        <span class="ico-wechat"></span><span class="text">{% trans "微信支付" %}</span>
    </h1>
    <div class="mod-ct">
        <div class="order">{% trans "订单号" %}：{{ order.orderno }}</div>
        <div class="amount">{% trans "￥" %}{{ order.fee }}</div>
        <div class="qr-image" style="height:233px;">
            <img width="230" height="230" src="{% url 'pay_qrcode' order.orderno %}" />
        </div><!--detail-open 加上这个类是展示订单信息，不加不展示-->
        <div id="detail" class="detail">
            <dl class="detail-ct">
                <dt>{% trans "商家" %}</dt> <dd>{% trans "U-Mail邮件营销平台" %}</dd>
                <dt>{% trans "商品名称" %}</dt> <dd>{{ order.product_desc }}</dd>
                <dt>{% trans "支付金额" %}</dt> <dd>{{ order.fee }}{% trans "元" %}</dd>
                <dt>{% trans "充值点数" %}</dt> <dd>{{ order.qty_buy }}{% trans "点" %}</dd>
                <dt>{% trans "交易单号" %}</dt><dd>{{ order.orderno }}</dd>
                <dt>{% trans "创建时间" %}</dt><dd>{{ order.created|date:"Y-m-d H:i:s" }}</dd></dl>
            <a id="ico_arrow" href="javascript:;" class="arrow"><i class="ico-arrow"></i></a>
        </div>
        <div class="tip">
            <span class="dec dec-left"></span>
            <span class="dec dec-right"></span>
            <div class="ico-scan"></div>
            <div class="tip-text">
                <p>{% trans "请使用微信扫一扫" %}</p>
                <p>{% trans "扫描二维码完成支付" %}</p>
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="inner">
            <p>{% trans "您若对上述交易有疑问" %}</p>
            <p>{% trans "请联系U-Mail企业QQ" %}：<a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDAyMDMwNF8zNjI4MTBfODAwMDIwMzA0XzJf" class="link" target="_blank">4008181568</a>{% trans "或拨打电话" %}4008181568</p>
        </div>
    </div>
</div>
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    $(document).ready(function() {
        $('#ico_arrow').click(function(){
            $("#detail").toggleClass("detail-open")
        });
    })
    function CheckOrder(){
        $.post("{% url 'ajax_check_order' %}", {'id': '{{ order.orderno }}'}, function(data){
            if(data.status == 'paied'){
                window.location.href="{% url 'pay_success' %}?id={{ order.orderno }}";
            }
        });
    }
    window.setInterval("CheckOrder()",2000);
</script>
</body>
</html>

