{% load i18n %}
{% load track_tags %}
{% autoescape off %}
<td>{{ obj.id }}</td>
<td>{{ number }}</td>
<td>
    <a href="/track/click/{{ obj.track_id }}/?track_id={{ obj.track_id }}&link_id={{ obj.id }}" title="{% trans "查看链接统计" %}">{{ obj.link }}</a>
    &nbsp;
    [<a href="{{ obj.link }}" target="_blank" title="{% trans "打开链接地址" %}">{% trans "查看链接" %}</a>]
</td>
<td><a href="/track/click/{{ obj.track_id }}/?track_id={{ obj.track_id }}&link_id={{ obj.id }}" title="{% trans "查看链接统计" %}">{{ obj.click_unique }}</a></td>
<td><a href="/track/click/{{ obj.track_id }}/?track_id={{ obj.track_id }}&link_id={{ obj.id }}" title="{% trans "查看链接统计" %}">{{ obj.click_total }}</a></td>
<td class="f_small txt-color-blue">{{ obj.click_first|show_click_datetime }}</td>
<td class="f_small txt-color-red">{{ obj.click_last|show_click_datetime }}</td>
{% endautoescape %}