<div id="dynamic-div">
    <h3 class="header smaller lighter blue">分布式管理

    </h3>

    <div id="distribute_tab">
        <ul>
            <li>
                <a href="#distribute_list">分布式主机列表</a>
            </li>
            <li>
                <a href="#distribute_config">分布式开关</a>
            </li>
            <li>
                <a href="#distribute_status">服务器连接状态</a>
            </li>
            <li>
                <a href="#distribute_move">账号迁移进程</a>
            </li>
        </ul>
        <div id="distribute_list" style="min-height:200px;">
            从“运维后台-分布式管理-分布式主机列表”迁移至此
        </div>
        <div id="distribute_config" style="min-height:200px;">
            从“运维后台-分布式管理-分布式开关”迁移至此
        </div>
        <div id="distribute_status" style="min-height:200px;">
            从“运维后台-分布式管理-服务器连接状态”迁移至此
        </div>
        <div id="distribute_move" style="min-height:200px;">
            从“运维后台-分布式管理-账号迁移进程”迁移至此
        </div>
    </div>
</div>
<script>
$('#distribute_tab').tabs();
$('#switch-email').hide();
</script>