<div id="dynamic-div">
    <h3 class="header smaller lighter blue"><span class="red">杂项设置</span>

    </h3>

    <div class="table-header">
        杂项设置
    </div>
    <div>
        <table class="table table-bordered">
            <tr>
                <td class="text-right">超管后台标题：</td>
                <td class="row">
                    <div class="col-sm-4 no-padding">
                        <input type="text" class="form-control" value="U-Mail邮件系统--超级管理员后台">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-right">邮件收发日志保存天数：</td>
                <td class="row">
                    <div class="col-sm-4 no-padding">
                        <input type="number" class="form-control" value="15">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-right">发件人数量限制：</td>
                <td class="row">
                    <div class="col-sm-3 no-padding">
                        <input type="number" class="form-control" value="100">
                    </div>
                    <div class="col-sm-9">
                        <p class="help-block green">
                            例如：100、500、1000
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-right">发信时对本服无效用户进行退信：</td>
                <td>
                    <label class="inline" >
                        <input name="sys_pass_all_local"  type="checkbox" class="ace ace-switch ace-switch-5">
                        <span class="lbl middle"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="text-right">"旧邮件备份"目录备份功能：</td>
                <td class="">
                        <label class="inline" >
                            <input name="sys_pass_all_local"  type="checkbox" class="ace ace-switch ace-switch-5">
                            <span class="lbl middle"></span>
                        </label>
                        <span class="help-block green">
                            <b class="red">
                                注：
                            </b>开启这个功能后，每天只会保留收件箱最新的1万封邮件，其余邮件转移到"旧邮件备份"目录中。在邮件量比较大时，开启该功能可以加快收件箱邮件的搜索效率。
                        </span>
                </td>
            </tr>
            <tr>
                <td class="text-right">附件预览服务器域名：</td>
                <td class="row">
                    <div class="col-sm-4 no-padding">
                        <input type="text" class="form-control" value="http://office.comingchina.com">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-right">Webmail地址和端口：</td>
                <td class="row">
                    <div class="col-sm-4 no-padding">
                        <input type="text" class="form-control" value="http://mail.test.com:80">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="table-footer center" style="margin-top:8px;">
        <button type="button" class="btn btn-success">保存</button>
        <button type="button"  class="btn btn-warning">重置</button>
    </div>
</div>
<script>
    $('#switch-email').hide();
</script>