<div id="static-div">
    <h3 class="header smaller lighter blue">POP导入设置

    </h3>
    <div class="row" style="margin-bottom:6px;">
        <div class="col-sm-3">
            <div class="input-group">
                <span class="input-group-addon">选择域名：</span>
                <select name="yname" class="yname form-control">
                    <option value="test.com">test.com</option>
                    <option value="domain.com">domain.com</option>
                </select>
            </div>
        </div>
    </div>
    <div id="tabs">
                <ul>
                    <li>
                        <a href="#tabs_add">批量添加POP导入设置</a>
                    </li>

                    <li>
                        <a href="#tabs_clear">批量清除POP导入设置</a>
                    </li>
                </ul>

                <div id="tabs_add">
                    <div class="table-header">
                        批量添加POP导入设置
                    </div>
                    <div class="well clearfix" style="background:#fff;">
                        <div class="pull-left">
                            <b>标准操作步骤：</b>
                            <ul>
                                <li>1、迁移邮件的前提：已经在U-Mail服务器上建立了该账户；</li>
                                <li>2、使用EXCEL先进行数据处理，处理成范例文件格式；</li>
                                <li>3、然后将EXCEL里面的内容全部拷入下面的表格</li>
                                <li>4、点击表格下方的“添加”进行批量添加数据</li>
                            </ul>
                        </div>
                        <div class="pull-right">
                            <b class="red">注：</b>
                            <p>每行的格式：“服务器IP地址  帐号  密码” （中间用"TAB"符号隔开）；eg:</p>
                            <p>1.1.1.1  aaa@test.com  11111</p>
                            <p>2.2.2.2  bbb@test.com  22222</p>
                            <p>3.3.3.3  ccc@test.com  33333</p>
                        </div>
                    </div>

                    <div>
                        <form>
                            <div class="form-group">
                                <label>导入数据</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 导入帐号后立即开始迁移数据
                                </label>
                            </div>
                            <div class="form-group center">
                                <button type="button" class="btn btn-primary">提交</button>
                                <button type="button" class="btn btn-warning">重置</button>
                            </div>

                        </form>
                    </div>
                    <div class="well" style="margin-top:5px;background:#fff;">
                        <div class="user_content_box">
                            <div class="wysiwyg_content_show">
                                <p class="red"><b>备注：</b></p>
                                <p>设置的登录页面只有在使用域名访问时才生效；使用IP地址访问时将会使用默认登录页面。</p>
                            </div>
                            <div class="hr hr-18 dotted"></div>
                            <button class="btn btn-sm btn-primary admin_edit">
                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                编辑
                            </button>

                        </div>
                        <div class="wysiwyg-editor-box">
                            <div class="wysiwyg-editor" id="editor_pop">
                                <p class="red"><b>备注：</b></p>
                                <p>设置的登录页面只有在使用域名访问时才生效；使用IP地址访问时将会使用默认登录页面。</p>
                            </div>
                            <div class="widget-toolbox padding-4 clearfix admin_setted">
                                <div class="btn-group pull-left">
                                    <button class="btn btn-sm btn-info">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        取消
                                    </button>
                                </div>

                                <div class="btn-group pull-right">
                                    <button class="btn btn-sm btn-purple">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="tabs_clear">
                    <div class="table-header">
                        批量清除POP导入设置
                    </div>
                    <div>
                        <table class="table table-bordered">
                            <tr>
                                <td class="text-right" style="width:20%;font-weight:bold;">POP服务器地址：</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="table-footer center" style="margin-top:6px;">
                        <button type="button" class="btn btn-info">提交</button>
                        <button type="button" class="btn btn-warning">重置</button>
                    </div>
                </div>
    </div>


</div>
<script>
    $(function(){
        $( "#tabs" ).tabs();
        initEditor('#editor_pop');

        $('.admin_edit').click(function(){
            $('.user_content_box').hide();
            $('.wysiwyg-editor-box').show();
        })
        $('.admin_setted button').click(function(){
            $('.wysiwyg-editor-box').hide();
            $('.user_content_box').show();
        })
    })
</script>