{% extends 'base_site.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans '站内通知' %}{% endblock %}

{% block breadcrumb %}
    <li>{% trans '设置中心' %}</li><li>{% trans '站内通知' %}</li>
{% endblock %}

{% block page-title %}
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
            <a class="btn btn-default btn-lg pull-left header-btn hidden-mobile" href="{% url 'core_notification_lists' %}">{% trans '返回上级' %}</a>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
        </div>
    </div>
{% endblock %}

{% block page-content %}
<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken well" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-collapsed="false" data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>{% trans '站内通知' %}</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body no-padding">
                        <form role="form">
                            <div class="modal-body padding-10 margin-bottom-10">
                                <div class="form-horizontal">
                                    <fieldset>
                                        <div class="row">

                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">{% trans '提交时间' %}</label>
                                                    <div class="col-md-8 input-group">
                                                        <span class="form-control no-border">{{ notify_obj.created|date:"Y-m-d H:i" }}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">{% trans '通知主题' %}</label>
                                                    <div class="col-md-8 input-group">
                                                        <span class="form-control no-border">{{ notify_obj.subject }}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label vertical-align-middle">{% trans '通知内容' %}</label>
                                                    <div class="col-md-8 input-group">
                                                        {% autoescape off %}
                                                        <div style="position: relative;z-index: 2;float: left;width: 100%;margin-bottom: 0;padding: 6px 12px;font-size: 13px;color: #555;background-color: #fff;background-image: none;">
                                                            {{ notify_obj.content }}
                                                        </div>
                                                        {% endautoescape %}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

{% endblock %}

{% block css_block %}

{% endblock %}

{% block my_jsblock %}

{% endblock %}