{% extends 'base_site.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans '子账户' %}{% endblock %}

{% block breadcrumb %}
    <li>{% trans '设置中心' %}</li><li>{% trans '子账户' %}</li>
{% endblock %}

{% block page-title %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-list margin-right-5"></i>{% trans '子账户' %}
            </h1>
        </div>
    </div>
{% endblock %}

{% block page-content %}

    <section id="widget-grid" class=""><!-- widget grid -->
        <div class="row"><!-- row -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><!-- NEW WIDGET START -->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-collapsed="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{% trans '子账户列表' %}</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox"></div>

                        <div class="widget-body no-padding">
                            <form id="id_form" action="" method="POST">
                                {% csrf_token %}
                                <div class="myself-dt-toolbar">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="margin-left-negative13">
                                            {% if limit_count == 0 or limit_count > lists.count %}
                                                <a data-toggle="modal" href="{% url 'sub_account_create' %}"
                                                   data-target="#myModal" class="btn btn-primary btn-sm" data-whatever="">
                                                    <i class="ace-icon fa fa-plus margin-right-5"></i>{% trans '添加子账户' %}
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="id" id="id" />
                                <input type="hidden" name="status" id="status" />
                                <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                    <tr>
                                        <th width="4%">{% trans '序号' %}</th>
                                        <th width="8%">{% trans '账户名称' %}</th>
                                        <th width="24%">{% trans '共享方式' %}</th>
                                        <th width="8%">{% trans '剩余群发点数' %}</th>
                                        <th width="8%">{% trans '账户状态' %}</th>
                                        <th>{% trans '操作' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for d in lists %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ d.username|default_if_none:'' }}</td>
                                            <td>
                                                {% if d.service.is_share_flag == '2' %}
                                                    {% trans '分配点数给子账户' %}
                                                    {% elif d.service.is_share_flag == '3' %}
                                                    {% trans '子账户共享母账户的部分群发点数，最多还能使用：' %}{{ d.service.limit_qty }}
                                                    {% elif d.service.is_share_flag == '4' %}
                                                    {% trans '母子账户共享母账户的群发点数' %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if d.service.is_share_flag == '2' %}
                                                    {{ d.service.qty_count }}
                                                {% else %}
                                                    {{ request.user.service.qty_count }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if d.disabled == '0' %}
                                                    <span class="badge bg-color-orange">{% trans '已启用' %}</span>
                                                {% else %}
                                                    <span class="badge">{% trans '已冻结' %}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if d.service.is_share_flag == '2' %}
                                                    <a data-toggle="modal" href="{% url 'sub_account_modify' d.id %}"
                                                       data-target="#myModal" class="btn btn-outline btn-primary btn-xs" data-whatever="">{% trans '分配群发量' %}</a>
                                                    <a data-toggle="modal" href="{% url 'sub_account_reback' d.id %}"
                                                       data-target="#myModal" class="btn btn-outline btn-danger btn-xs" data-whatever="">{% trans '收回群发量' %}</a>
                                                {% else %}
                                                    <a data-toggle="modal" href="{% url 'sub_account_modify' d.id %}"
                                                       data-target="#myModal" class="btn btn-outline btn-primary btn-xs" data-whatever="">{% trans '分配共享量' %}</a>
                                                {% endif %}

                                                <a data-toggle="modal" href="{% url 'sub_account_share' d.id %}"
                                                   data-target="#myModal" class="btn btn-outline btn-success btn-xs" data-whatever="">{% trans '共享发件人' %}</a>

                                                <a href="{% url 'sub_share_addr' d.id %}" class="btn btn-outline btn-primary btn-xs" target="_blank">{% trans '共享联系人' %}</a>
                                                <a href="{% url 'sub_share_template' d.id %}" class="btn btn-outline btn-success btn-xs" target="_blank">{% trans '共享模板' %}</a>

                                                <a href="{% url 'mail_statistics' %}?user_id={{ d.id }}&date_type=subaccount"
                                                   class="btn btn-outline btn-info btn-xs" target="_blank" title="{% trans '查看子账户邮件发送统计' %}">{% trans '邮件发送统计' %}</a>

                                                <div class="btn-group">

                                                    <button class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        {% trans '更多' %}<span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            {% if d.disabled == '1' %}
                                                                <a type="button" class="" href="Javascript: SetStatus({{ d.id }}, '1')">{% trans "启用子账户" %}</a>
                                                                {% elif d.disabled == '0' %}
                                                                <a type="button" class="" href="Javascript: SetStatus({{ d.id }}, '2')">{% trans "冻结子账户" %}</a>
                                                            {% endif %}
                                                        </li>

                                                        <li>
                                                            {% if d.service.is_track_export %}
                                                                <a type="button" class="" href="Javascript: SetStatus({{ d.id }}, '7')">{% trans "禁止导出跟踪统计地址" %}</a>
                                                            {% else %}
                                                                <a type="button" class="" href="Javascript: SetStatus({{ d.id }}, '8')">{% trans "允许导出跟踪统计地址" %}</a>
                                                            {% endif %}
                                                        </li>

                                                        <li>
                                                            <a data-toggle="modal" href="{% url 'sub_account_setcus' d.id %}" data-target="#myModal" class="" data-whatever="">{% trans '设置客服' %}</a>
                                                        </li>

                                                        <li>
                                                            <a data-toggle="modal" href="{% url 'sub_account_reset' d.id %}" data-target="#myModal" class="" data-whatever="">{% trans '重置密码' %}</a>
                                                        </li>

                                                        <li>
                                                            <a href="javascript:void(0);" onclick="OneClickLogin('{{ d.id }}');" class="">{% trans '一键登录' %}</a>
                                                        </li>

                                                    </ul>
                                                </div>


                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="margin:50px auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans '加载中' %}</h4>
                </div>
                <div class="modal-body">
                    {% trans '页面加载中' %}
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal_close" class="btn btn-default hidden" data-dismiss="modal">{% trans '关闭' %}</button>
                </div>
            </div>
        </div>
    </div>

    <form id="id_subloging_form" action="{% url 'sub_account_login' %}" method="post"> <!--  target="_blank"  -->
        {% csrf_token %}
        <input value="{{ subloging_auth }}" name="subloging_auth" id="id_subloging_auth" type="hidden">
        <input value="" name="subloging_customer_id" id="subloging_customer_id" type="hidden">
    </form>

{% endblock %}

{% block css_block %}
    <link href="/static/sa/css/dataTables.bootstrap.css" rel="stylesheet">
    <style>
        .modal-lg{width: 950px!important;}
        .form-control{padding: 3px 12px;!important;}
    </style>
{% endblock %}

{% block my_jsblock %}
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="/static/sa/js/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/sa/js/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="/static/sa/js/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="/static/sa/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/sa/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>

    <script type="text/javascript">

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

        $(function () {
            $('#myModal').on('show.bs.modal', function (event) {
                $(this).removeData('bs.modal');
            })
        });

        function SetStatus(id, status){
            var str = '{% trans '是否确认此操作？' %}';
            if(confirm(str)) {
                $('#id').val(id);
                $('#status').val(status);
                $('#id_form').submit();
            }
            return;
        }

        function OneClickLogin(user_id){
            $('#subloging_customer_id').val(user_id);
            $("#id_subloging_form").submit();
        }

    </script>

{% endblock %}