<td>{{ number }}</td>
<td>{{ d.server_name|default_if_none:'' }}</td>
<td>{{ d.server_ip|default_if_none:'' }}</td>
<td>
    {% if d.is_master %}
        <span class="label label-xlg label-success arrowed-in arrowed-in-right">是</span>
    {% else %}
        <span class="label label-xlg label-light arrowed-in arrowed-in-right">否</span>
    {% endif %}
</td>
<td>
    {% if d.disabled == '1' %}
        <span class="label label-xlg label-light arrowed-in arrowed-in-right">{{ d.get_disabled_display }}</span>
    {% elif d.disabled == '-1' %}
        <span class="label label-xlg label-success arrowed-in arrowed-in-right">{{ d.get_disabled_display }}</span>
    {% endif %}
</td>
<td>
    <a type="button" class="btn btn-minier btn-primary" href="{% url 'distribute_modify' d.id %}">修改</a>

    {% if d.is_master %}
        <a type="button" class="btn btn-minier btn-danger" href="Javascript: setStatus({{ d.id }}, 'unmaster')">取消主服务器</a>
    {% else %}
        <a type="button" class="btn btn-minier btn-warning" href="Javascript: setStatus({{ d.id }}, 'master')">设为主服务器</a>
    {% endif %}

    {% if d.disabled == '1' %}
        <a type="button" class="btn btn-minier btn-info" href="Javascript: setStatus({{ d.id }}, 'active')">启用</a>
    {% elif d.disabled == '-1' %}
        <a type="button" class="btn btn-minier btn-grey" href="Javascript: setStatus({{ d.id }}, 'disabled')">禁用</a>
    {% endif %}

    <a type="button" class="btn btn-minier btn-danger" href="Javascript: setStatus({{ d.id }}, 'delete')">删除</a>
</td>