{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% if form.instance %} {% trans "修改迁移" %}  {% else %} {% trans "添加迁移" %} {% endif %}{% endblock %}

{% block breadcrumb %}
    <li> <a href="#">{% trans "分布式管理" %}</a> </li>
    <li class="active">{% if form.instance %} {% trans "修改迁移" %}  {% else %} {% trans "添加迁移" %} {% endif %}</li>
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="space-6"></div>
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{% if form.instance %} {% trans "修改迁移" %}  {% else %} {% trans "添加迁移" %} {% endif %}
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        {{ form.mailbox.value }}
                    </small>
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" action="" method="POST" id="id_Form">
                {% csrf_token %}

                {% if form.instance %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="id_mailbox"> 邮箱账号 </label>
                        <div class="col-sm-9">
                            <input type="text" name="mailbox" id="id_mailbox" value="{{ form.mailbox.value }}" maxlength="200" class="col-xs-10 col-sm-5" disabled="disabled" readonly="readonly"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="id_target_server"> 服务器名称 </label>
                        <div class="col-sm-9">
                            <input type="text" name="target_server" id="id_target_server" value="{{ form.target_server_obj.server_name }}【{{ form.target_server_obj.server_ip }}】"
                                   maxlength="200" class="col-xs-10 col-sm-5" disabled="disabled" readonly="readonly"/>
                        </div>
                    </div>

                {% else %}

                    <div class="form-group {% if form.mailbox.error %} has-error {% endif %}">
                        <label class="col-sm-3 control-label no-padding-right" for="id_mailbox"> 邮箱账号 </label>
                        <div class="col-sm-9">
                            <select class="chosen-select col-xs-10 col-sm-5" id="id_mailbox" name="mailbox" readonly="readonly">
                                <option value="">请选择邮箱</option>
                                {% for mailbox in form.mailboxLists %}
                                    <option value="{{ mailbox.mailbox }}" {% if form.mailbox.value == mailbox.mailbox %} selected {% endif %}>{{ mailbox.mailbox }}</option>
                                {% endfor %}
                            </select>
                            {% if form.mailbox.error %}
                                <div style="clear: both">
                                    <p class="errornote txt-color-red">{{ form.mailbox.error }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group {% if form.target_server.error %} has-error {% endif %}">
                        <label class="col-sm-3 control-label no-padding-right" for="id_target_server"> 目标服务器 </label>
                        <div class="col-sm-9">
                            <select class="col-xs-10 col-sm-5" id="id_target_server" name="target_server" readonly="readonly">
                                {% for obj in form.target_servers %}
                                    <option value="{{ obj.id }}" {% if form.target_server.value == obj.id %}selected{% endif %}>{{ obj.server_name }}【{{ obj.server_ip }}】</option>
                                {% endfor %}
                            </select>
                            {% if form.target_server.error %}
                                <div style="clear: both">
                                    <p class="errornote txt-color-red">{{ form.target_server.error }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                {% endif %}

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="id_sync_mail"> 是否同步邮件 </label>
                    <div class="col-sm-9">
                        <select class="col-xs-10 col-sm-5" id="id_sync_mail" name="sync_mail">
                            <option value="1" {% if form.sync_mail.value %}selected{% endif %}>是</option>
                            <option value="0" {% if not form.sync_mail.value %}selected{% endif %}>否</option>
                        </select>

                    </div>
                </div>


                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="button" class="btn btn-info" id="id_save_button">
                            <i class="ace-icon fa fa-check bigger-110"></i>{% trans "保存" %}
                        </button>

                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>重置
                        </button>

                        <a type="button" class="btn btn-link" href="{% url 'distribute_account_move' %}">取消</a>
                    </div>
                </div>
            </form>


        </div><!-- /.span -->
    </div><!-- /.row -->

{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'components/_mod/jquery-ui.custom/jquery-ui.custom.css' %}" />
    <link rel="stylesheet" href="{% static 'components/chosen/chosen.css' %}" />
    <style>
        .chosen-container-single .chosen-single span {
            padding: 3px 4px;
        }
    </style>
{% endblock %}

{% block my_jsblock %}
    <script src="{% static 'components/_mod/jquery-ui.custom/jquery-ui.custom.js' %}"></script>
    <script src="{% static 'components/jqueryui-touch-punch/jquery.ui.touch-punch.js' %}"></script>
    <script src="{% static 'components/chosen/chosen.jquery.js' %}"></script>
    <script>

        $(function () {

            // 防止重复提交
            saveButtonRemove();
            $("#id_save_button").click(function(){
                saveButtonAdd();
                $("#id_Form").submit();
            });

            if(!ace.vars['touch']) {
                $('.chosen-select').chosen({
                    allow_single_deselect:true,
                    search_contains: true,

                });
                //resize the chosen on window resize

                $(window).off('resize.chosen').on('resize.chosen', function() {

                    $('.chosen-select').each(function() {
                        var $this = $(this);
                        $this.next().css({'width': "41.67%", 'border-radius': "0"});
                        $(".chosen-single").css({'border-radius': "0", "height": "30px"})
                        // $this.next().css({'width': $this.parent().width()});
                    })
                }).trigger('resize.chosen');
                //resize chosen on sidebar collapse/expand
                $(document).on('settings.ace.chosen', function(e, event_name, event_val) {
                    if(event_name != 'sidebar_collapsed') return;
                    $('.chosen-select').each(function() {
                        var $this = $(this);
                        alert(111);
                        $this.next().css({'width': $this.parent().width()});
                    })
                });

            }

        });

        function saveButtonAdd(){$("#id_save_button").attr("disabled", "disabled").addClass('disabled');}
        function saveButtonRemove(){$("#id_save_button").removeAttr("disabled").removeClass('disabled');}

    </script>

{% endblock %}