{% extends 'base_site.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "分布式系统" %}{% endblock %}

{% block breadcrumb %}
    <li> <a href="#">{% trans "分布式系统" %}</a> </li>
    <li class="active">{% trans "服务器连接状态" %}</li>
{% endblock %}

{% block page-content %}
    <div class="page-header">
        <h1>
            {% trans "分布式系统" %}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {% trans "服务器连接状态" %}
            </small>
        </h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">

                    <li>
                        <a href="{% url 'distribute_list' %}">
                            <i class="green ace-icon fa fa-home bigger-120"></i>{% trans "分布式主机列表" %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'proxy_open_config' %}">{% trans "分布式开关" %}
                        </a>
                    </li>

                    <li class="active">
                        <a href="#">{% trans "服务器连接状态" %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'distribute_account_move' %}">{% trans "账号迁移进程" %}
                        </a>
                    </li>

                </ul>

                <div class="tab-content">

                    <div class="tab-pane fade in active">
                        {% include 'distribute/include/status.html' %}
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block css_block %}
    <link href="{% static 'components/datatables/media/css/dataTables.bootstrap.css' %}">
{% endblock %}

{% block my_jsblock %}
    <script src="{% static 'components/datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'components/_mod/datatables/jquery.dataTables.bootstrap.js' %}"></script>

    <script>

        $(function () {
            ip_table = $('#ajax-table').dataTable({
                "iDisplayLength": 10,
                "aaSorting": [
                    [ 1, "desc" ]
                ],
                "oLanguage": {
                    "sLengthMenu": "{% blocktrans %}显示 _MENU_ 每页{% endblocktrans %}",
                    "sZeroRecords": "{% blocktrans %}对不起! 信息筛选结果为空!{% endblocktrans %}",
                    "sInfo": "{% blocktrans %}从 _START_ 到 _END_ 总计: _TOTAL_ 条记录{% endblocktrans %}",
                    "sInfoEmpty": "{% blocktrans %}总计: 0 条记录{% endblocktrans %}",
                    "sInfoFiltered": "{% blocktrans %}(从 _MAX_ 条记录筛选出){% endblocktrans %}",
                    "sSearch": "{% blocktrans %}搜索: {% endblocktrans %}",
                    "oPaginate": {
                        "sFirst":    "{% blocktrans %}第一页{% endblocktrans %}",
                        "sPrevious": " {% blocktrans %}上一页 {% endblocktrans %}",
                        "sNext":     " {% blocktrans %}下一页 {% endblocktrans %}",
                        "sLast":     " {% blocktrans %}最后一页 {% endblocktrans %}"
                    }
                }
            });
        });

    </script>

{% endblock %}
